﻿<div class="b-seo-test" data-test="true">

	<p class="b-seo-test__title">Ответьте на несколько коротких вопросов, чтобы узнать с какой эффективностью можно продвинуться.</p>

	<div class="b-test">

		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 1:
			</div>
			<div class="b-test__question">
				Продвижение сайта возможно только при значительной доработке сайта. Это можем сделать мы или другие специалисты на ваше усмотрение.
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="-2">Да <span>-2</span></a>
				<a class="b-test__btn" data-btn="2">Нет <span>+2</span></a>
			</div>
		</div>

		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 2:
			</div>
			<div class="b-test__question">
				Продвижение сайта возможно только при значительной доработке сайта. Это можем сделать мы или другие специалисты на ваше усмотрение.
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="-1">Да <span>-1</span></a>
				<a class="b-test__btn" data-btn="1">Нет <span>+1</span></a>
			</div>
		</div>

		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 3:
			</div>
			<div class="b-test__question">
				Продвижение сайта возможно только при значительной доработке сайта. Это можем сделать мы или другие специалисты на ваше усмотрение.
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="-2">Да <span>-2</span></a>
				<a class="b-test__btn" data-btn="2">Нет <span>+2</span></a>
			</div>
		</div>

		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 4:
			</div>
			<div class="b-test__question">
				Продвижение сайта возможно только при значительной доработке сайта. Это можем сделать мы или другие специалисты на ваше усмотрение.
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="-2">Да <span>-2</span></a>
				<a class="b-test__btn" data-btn="2">Нет <span>+2</span></a>
			</div>
		</div>

		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				<span>Результат теста:</span>
			</div>
			<div class="b-test__question">
				Продвижение сайта возможно только при значительной доработке сайта. Это можем сделать мы или другие специалисты на ваше усмотрение.
			</div>
		</div>

		<div data-sum="true" class="b-test__smile b-test__smile--p0"><span>0</span></div>

	</div>

	<div class="b-test__results" data-results="true">
		<table>
			<tr>
				<th colspan="2">Вопросы</th>
				<th>Ваш ответ</th>
				<th>Баллы</th>
			</tr>
			<tr>
				<td class="table__col-1">1.</td>
				<td class="table__col-2">У вас уже есть позиции в ТОП20 по основным запросам?</td>
				<td class="table__col-3">Нет</td>
				<td class="table__col-4">-1</td>
			</tr>
			<tr>
				<td class="table__col-1">2.</td>
				<td class="table__col-2">Входит ли ваша компания в 20-ку наиболее успешных по вашему региону&nbsp;(в&nbsp;вашей сфере деятельности)?</td>
				<td class="table__col-3">Да</td>
				<td class="table__col-4">+1</td>
			</tr>
			<tr>
				<td class="table__col-1">3.</td>
				<td class="table__col-2">Вы готовы к тому, что ваш сайт будет значительно доработан с целью увеличения конверсии и поведенческих факторов?</td>
				<td class="table__col-3">Да</td>
				<td class="table__col-4">+2</td>
			</tr>
			<tr>
				<td class="table__col-1">4.</td>
				<td class="table__col-2">Сайт нужно продвигать по Москве?</td>
				<td class="table__col-3">Да</td>
				<td class="table__col-4">-1</td>
			</tr>
		</table>
	</div>

	<div class="b-seo-test__content">

		<article>
			<h3>Мы стараемся быть честными</h3>
			<p>
				и берем в работу только те сайты, <br/>
				по которым рассчитываем добиться приемлемых результатов. Мы отказываем более чем 80% потенциальным клиентам.
			</p>
		</article>

		<article>
			<p>
				Многие СЕО-компании берут любых клиентов и обещают те результаты, которые клиент хочет получить. Но в ТОПе всего 10 мест, часть из которых навеки заняты порталами, википедией и тп.
			</p>
			<p>
				И потому обещание продвинуть любой сайт за полгода, типичное для некоторых СЕО-компаний — это ложь.
			</p>
		</article>

	</div>

</div>