﻿ <div class="b-seo-main">
	<h2 class="b-seo-main__title">
		{{ s.name }}
	</h2><!-- /.b-seo-main__title -->
	{% for sec in s.sections %}
		{% include '@app/views/sections/seo/promotion_stage.twig' %}	
	{% endfor %}
	<hr>
</div><!-- /.b-seo-main -->   