<div class="b-seo-main">
	<div class="wrapper">
		<div class="seo_achieves">
			<h2>Наши скромные SEO-ачивки</h2>

			<div class="achieves_items">
				
				<a class="achieve_item" href="https://rating.seonews.ru/ratings/?rating_tab=2" target="blank">
					<img src="/assets/images/Seonews_logo.svg" alt="">
					<p class="seo_news">
						<span>10 место</span>
						SEO глазами клиентов 2019
					</p>
				</a>
				<a class="achieve_item" href="https://rating.seonews.ru/ratings/?rating_tab=2" target="blank">
					<img src="/assets/images/Seonews_logo.svg" alt="">
					<p class="seo_news">
						<span>17 место</span>
						SEO глазами клиентов 2018
					</p>
				</a>
				<a class="achieve_item" href="https://rating.seonews.ru/ratings/?rating_tab=2" target="blank">
					<img src="/assets/images/Seonews_logo.svg" alt="">
					<p class="seo_news">
						<span>9 место</span>
						SEO глазами клиентов 2017
					</p>
				</a>
				<a class="achieve_item" href="http://www.ruward.ru/seo/region-samara/" target="blank">
					<img src="/assets/images/ruward_logo.svg" alt="">
					<p class="seo_position">
						<span>1 место</span>
						среди SEO-компаний по Самаре, 2019
					</p>
				</a>
				<a class="achieve_item" href="http://www.ruward.ru/seo/region-samara/" target="blank">
					<img src="/assets/images/ruward_logo.svg" alt="">
					<p class="seo_position">
						<span>1 место</span>
						среди SEO-компаний по Самаре, 2018
					</p>
				</a>
				<a class="achieve_item" href="http://www.ruward.ru/index-ruward/united-seo-rating-2018/" target="blank">
					<img src="/assets/images/ruward_logo.svg" alt="">
					<p class="seo_position">
						<span>24 место</span>
						среди SEO-компаний по России, 2018
					</p>
				</a>
			</div>
		</div>
	</div>
</div>