<div class="b-seo-main">
	<div class="b-seo-payment">		
		<h3 class="b-seo-payment__title">{{ s.name }}</h3>
		{% for sec in s.sections  %}
			{% include '@app/views/sections/seo/payment.twig' %}
		{% endfor %}

	</div><!-- /.b-seo-payment -->
</div><!-- /.b-seo-main -->   