<div class="b-seo-results">
	<header class="b-seo-results__header">
		<h2 class="b-seo-results__title">
			{{ s.name }}
		</h2>

		<div class="b-seo-results__filter">

			<p class="b-seo-results__filter_text">
				В городе:
			</p>

			<ul class="b-seo-results__filter_list">
				{% for reg in region if reg.show_in_slider>0 %}
					<li class="list__item {% if loop.index == 1 %} list__item--active {% endif %}"><a class="list__link" data-tab="{{reg.id}}">{{ reg.name }}</a></li>
				{% endfor %}
				{% for reg in region if reg.show_in_slider==0 %}
					{% if loop.index == 1 %}
						<li class="list__item"><a class="list__link" data-tab="100">Другие регионы</a></li>
					{% endif %}
				{% endfor %}

			</ul>

		</div>
	</header><!-- /.b-seo-results__header -->
	<div class="b-seo-results__content">
		{% for reg in region if reg.show_in_slider>0 %}
		<div class="b-seo-slider" data-slider-seo="{{ reg.id }}" data-region="{{ reg.name }}">
			<div class="b-seo-slider__wrapper">
				<div class="b-seo-slider__items-holder" data-items-holder="true">
					<a class="b-seo-slider__prev" data-btn-prev="true"></a>
					<a class="b-seo-slider__next" data-btn-next="true"></a>
					{% for project in reg.projects %}
						{% include '/sections/seo/promotion_result.twig' %}
					{% endfor %}

				</div><!-- /.b-seo-slider__items-holder -->
			</div><!-- /.b-seo-slider__wrapper -->
			<div class="b-seo-slider__nav">
				<ul class="nav" data-nav="true">
				</ul>
			</div>
		</div><!-- /.b-seo-slider -->
		{% endfor %}
		<div class="b-seo-slider" data-slider-seo="100" data-region="Другие">
			<div class="b-seo-slider__wrapper">
				<div class="b-seo-slider__items-holder" data-items-holder="true">
					<a class="b-seo-slider__prev" data-btn-prev="true"></a>
					<a class="b-seo-slider__next" data-btn-next="true"></a>
					{% for reg in region if reg.show_in_slider==0 %}
						{% for project in reg.projects  %}
							{% include '/sections/seo/promotion_result.twig' %}
						{% endfor %}
					{% endfor %}
				</div><!-- /.b-seo-slider__items-holder -->
			</div><!-- /.b-seo-slider__wrapper -->
			<div class="b-seo-slider__nav">
				<ul class="nav" data-nav="true">
				</ul>
			</div>
		</div><!-- /.b-seo-slider -->


	</div><!-- /.b-seo-results__content -->
	<footer class="b-seo-results__footer">

		<article class="b-seo-results__footer_main">
			<p>
				Это только некоторые из компаний, которые работали с нами.
				Мы продвигаем сайты уже 7 лет и у нас более 200 клиентов из Москвы и регионов России.
				Полный список можно увидеть в <a href="/seo/portfolio/">портфолио</a>.
			</p>
		</article>

		<article class="b-seo-results__footer_ext">
			<h3 class="b-seo-results__footer_title">
				Можно ли продвинуть
				Ваш сайт?
			</h3>
			<p>
				<a href="/seo/canpromote/">Узнайте за 3 минуты</a>
			</p>
		</article>

	</footer>
</div><!-- /.b-seo-results -->
