﻿{% if project.positions|length >0 %}
<div class="b-seo-slider__item" data-item="true">
	<div class="b-seo-slider__table">
	<div class="b-seo-slider__tablecell">
	<div class="item__col">
		<div class="item__header">
			<h3 class="item__title">{{ decl.cyrillic(project.url) }}</h3>
			<div class="item__link"><a class="btn-site-link" href="http://{{ project.url }}" target="_blank">Перейти на сайт</a></div>
		</div>
		<p class="item__text">
			{{ project.short_desc }}
		</p>
	</div>
	<div class="item__col">
		<table class="seo__table">
			<tr>
				<th class="table__col-1">Запросы:</th>
				<th class="table__col-2">Позиции:</th>
			</tr>
			{% for position in project.positions %}
				{% if loop.index<5 %}
				<tr>
					<td class="table__col-1">{{ position.query }}</td>
					<td class="table__col-2">{{ position.position }}</td>
				</tr>
				{% endif %}
			{% endfor %}
			
		</table>
	</div>
	</div>
	</div>
</div><!-- /.b-seo-slider__item -->
{% endif %}