﻿<section class="b-seo-step">
	<article class="b-seo-step__main">
		<h3 class="b-seo-step__title">
			{{sec.name | raw }}
		</h3>
		{{ sec.description | raw }}
		<div class="b-seo-step__num">{{ loop.index }}</div>
	</article>

	<article class="b-seo-step__ext text--small">
		{{ sec.short_desc | raw }}
	</article>
</section><!-- /.b-seo-step -->