{% include '//sections/seo/achievements.twig' %}

<!-- ------------------- КЕЙСЫ ------------------------------------------------------------ -->
<div class="b-seo-main">
	<h2>Кейсы по SEO-продвижению сайта</h2>
	<div class="inner">
		<div class="post-feed">
			<article class="post-card post">
			        <a class="post-card-image-link" href="https://liderpoiska.ru/blog/rost-seo-trafika-v-poiske/">
			            <div class="post-card-image" style="background-image: url(/assets/images/rkomplekt_picture.jpg)"></div>
			        </a>
			    <div class="post-card-content">
			        <a class="post-card-content-link" href="https://liderpoiska.ru/blog/rost-seo-trafika-v-poiske/">
			            <header class="post-card-header">
			                <span class="post-card-tags">кейсы по SEO-продвижению сайта</span>
			                <h2 class="post-card-title">Кейс: рост целевого seo-трафика в 2 раза за 12 месяцев</h2>
			            </header>
			            <section class="post-card-excerpt">
			                <p>Сайт r-komplekt.ru пришел к нам в работу в октябре 2017 года. Это интернет-магазин профессионального оборудования для ресторанов, кафе и общепита изначально с более чем 20 000 товаров в каталоге.</p>
			            </section>
			        </a>
			    </div>
			</article>
			
			<article class="post-card post">
		        <a class="post-card-image-link" href="https://liderpoiska.ru/blog/prodvizhieniie-saita-klassicheskih-koncertov/">
		            <div class="post-card-image" style="background-image: url(https://liderpoiska.ru/blog/content/images/size/w600/2019/03/belcanto01.jpg)"></div>
		        </a>
			    <div class="post-card-content">
			        <a class="post-card-content-link" href="https://liderpoiska.ru/blog/prodvizhieniie-saita-klassicheskih-koncertov/">
			            <header class="post-card-header">
			                <span class="post-card-tags">кейсы по SEO-продвижению сайта</span>
			                <h2 class="post-card-title">Кейс: продвижение сайта по продаже концертов</h2>
			            </header>
			            <section class="post-card-excerpt">
			                <p>Сайт www.belcantofund.com — это благотворительный фонд, которые организовывает концерты классической музыки в Москве с 2006 года. Сайт пришел к нам в работу в ноябре 2015 года. Показатели на момент начала работ:     возраст</p>
			            </section>
			        </a>
			    </div>
			</article>
			
			<article class="post-card post">
			        <a class="post-card-image-link" href="https://liderpoiska.ru/blog/kieis-rasklieika-poddomienov-uvielichit-trafik-v-2-raza/">
			            <div class="post-card-image" style="background-image: url(/assets/images/domain_divide_picture-6.jpg)"></div>
			        </a>
			    <div class="post-card-content">
			        <a class="post-card-content-link" href="https://liderpoiska.ru/blog/kieis-rasklieika-poddomienov-uvielichit-trafik-v-2-raza/">
			            <header class="post-card-header">
			                <span class="post-card-tags">кейсы по SEO-продвижению сайта</span>
			                <h2 class="post-card-title">Кейс: как расклейка поддоменов помогла увеличить в 2 раза целевой трафик из Яндекса</h2>
			            </header>
			            <section class="post-card-excerpt">
			                <p>Как вывести интернет-бизнес на федеральный уровень: стоит ли делать поддомены для сайта и принесут ли они пользу? Прочтите наш кейс про расклейку поддоменов в Яндексе и проверьте свои результаты.</p>
			            </section>
			        </a>
			    </div>
			</article>

		</div>
	</div>
</div>

<div class="banner__wrap">
	<div class="banner__cont noMarginTop">
		<span class="aWrap"><a href="https://liderpoiska.ru/blog/tag/seo-kieisy/">Посмотреть все SEO-кейсы в нашем блоге</a></span>
	</div>
</div>

<div class="b-slider-promo__seo">
{% include '//sections/index/slider_promo.twig' %}
</div>