﻿<div class="b-seo-ya__content">
	{{Url.to('@web')}}
	<h2>
		{{ s.name }}
	</h2>

	{{ s.short_desc | raw }}
	
	{% for sec in s.sections %}
		{% include '@app/views/sections'~Url.to('@web')~'/'~sec.tpl %}
	{% endfor %}

	{{ s.description | raw }}

</div><!-- /.b-seo-ya__content -->