@font-face {
	font-family: Rouble;
	src: url(../fonts/rouble.ttf);
}
@media (max-width: 767px) {
	html, body {
		min-width: 1000px!important;
	}
}
.scroll_slider {
	height: 600px;
	max-width: 1000px;
	margin: auto;
	width: 100%;
}
.scrollpanel {
    width: 820px;
    height: 450px;
	color: #333;
	position: relative;
	padding: 0;
}
.sp-scrollbar {
	width: 12px;
	margin: 4px;
	cursor: pointer;
	position: absolute;
	top: 0;
	border-right: solid 1px #7fd5f5;
	overflow: visible!important;
}
.sp-container img {
	display: block;
}
.scroll_slider .sp-scrollbar {
	left: -40px;
}
.sp-thumb {
	position: relative;
}
.sp-thumb:before {
	position: absolute;
	content: "";
	background-color: #23afa0;
	width: 25px;
	height: 25px;
	top: 50%;
	left: 0;
	border-radius: 100%;
	margin-top: -12.5px;
	display: block;
}
.sp-viewport {
	padding-right: 0px!important;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	box-sizing: border-box;
}
.scroll_slider .sp-viewport {
	border-radius: 5px;
	padding-top: 24px;
	border: solid 1px #c3c3c3;
}
.sp-scrollbar.active .sp-thumb {
	background-color: transparent;
}
.b-case__header {
	padding: 60px 0;
}
.b-case__content {
	width: 100%;
	max-width: 100%;
	text-align: center;
}
.b-case > header {
	margin: 0;
	background-position: 0 -160px;
	background-size: 100%;
	background-repeat: no-repeat;
}
.portfolio_wrap * {
	font-family: sans-serif!important;
	text-align: center;
}
.portfolio_wrap {
	text-align: center;
	width: 100%;
}
.portfolio_wrap h2, .portfolio_wrap h3 {
	font-size: 26px;
	color: #364248;
	display: inline-block;
}
.b-page .p_task {
	font-size: 32px;
	padding: 0px 5px;
	border-bottom: solid 3px #23afa0;
	display: inline-block;
}
.slide-1 {
	z-index: 11;
	/*border: solid 1px #c3c3c3;
	border-radius: 5px;*/
}
.slide-2 {
	margin: -350px 0 0 100px;
	cursor: pointer;
	width: 820px;
}
.hide_slide-2 {
	overflow: hidden;
	width: 820px;
	z-index: 10;
	height: 450px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	border: solid 1px #c3c3c3;
	border-radius: 5px;
	padding-top: 26px;
	box-sizing: border-box;
}
.slide-2 img {
	padding: 0!important;
}
[class|="slide"] {
	position: relative;
}
.hide_slide-2:before, .scroll_slider  .sp-viewport:before, [class|="fantomImg"]:before {
	content: "";
	position: absolute;
	width: 820px;
	height: 26px;
	top: 0;
	left: 0;
	background: url("../../img/dev/browser.png") 0 0 no-repeat;
}
[class|="scroll_switch_item"] {
	height: 40px;
	line-height: 40px;
}

.scroll_switch_wrap {
	margin: 10px auto 50px;
	text-align: center;
}
.scroll_switch {
	display: inline-block;
	height: 40px;
	border-radius: 20px;
	background: #23afa0;
	border: solid 2px #23afa0;
}
[class|="scroll_switch_item"] {
	padding: 0 20px;
	line-height: 40px;
	color: #fff;
	border-radius: 18px;
	display: inline-block;
	cursor: pointer;
}
[class|="scroll_switch_item"]._sel {
	background: #fff;
	color: #4c5d66;
}
[class|="fantomImg"] {
	position: absolute;
	width: 820px;
	height: 450px;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	padding-top: 26px;
	box-sizing: border-box;
}
.fantomImg-1 {
	top: 0;
	left: 0;
}
.fantomImg-2 {
	top: 0px;
	left: 0px;
}

.monitor_wrap {
	margin: 35px 0;
	width: 100%;
	padding: 1px 0;
}
.monitor {
	width: 941px;
	height: 782px;
	background: url("../../img/dev/monik.png") 0 0 no-repeat;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 38px 36px 0;
}
.monitor_scrolling {
	width: 869px;
	height: auto;
}
.monitor_scrolling .scrollpanel {
    width: 869px;
    height: 490px;
	position: relative;
	padding: 0;
}
.monitor_scrolling .sp-scrollbar {
	width: 12.5px;
	margin: 4px;
	cursor: pointer;
	position: absolute;
	left: 910px;
	top: 0;
	border-right: solid 1px #7fd5f5;
	overflow: visible!important;
}
/*.monitor_scrolling .sp-viewport {
	padding-right: 0px!important;
	box-sizing: border-box;
	border: none;
	border-radius: 0;
}
.monitor_scrolling .sp-viewport {
	padding: 0;
}
.monitor_scrolling .sp-viewport:before {
	display: none;
}*/
.beforeafter {
	position: relative;
	margin: 50px auto;
	width: 978px;
	height: 182px;
}
.botText {
	text-align: center;
	margin: 65px auto;
}
.botText b {
	font-size: 16px;
	color: #4c5d66;
}
.swiper_monitor_wrap {
	padding: 10px 0 0;
	text-align: center;
	background: #f6f6f6;
	height: 890px;	/*662*/
	margin: 0 0 50px;/*280*/
}
.swiper_monitor_wrap h2 {
	text-align: center;
	font-size: 28px;
	color: #23afa0;
}


.swiper_monitor .swiper-container {
	width: 100%;
	height: 783px;
	margin: 20px auto;
	overflow: visible;
}
.swiper_monitor .swiper-slide {
	text-align: center;
	font-size: 18px;
	width: 960px;
	height: 490px;
	color: #000;
	overflow: hidden;
	margin-top: 38px;
	box-sizing: border-box;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	/*display: flex;*/
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper_monitor .swiper-slide-active {
	overflow: visible;
}
.swiper_monitor .swiper-container-horizontal > .swiper-pagination, .easy_swiper .swiper-container-horizontal > .swiper-pagination {
    bottom: -35px;
}
.swiper_monitor .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 580px;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper_monitor {
	height: 782px;
	position: relative;
	background: url("../../img/dev/monik.png") top center no-repeat;
}
.swiper_monitor:after {
	content: "";
	background: url("../../img/dev/monik.png") 0 0 no-repeat;
	width: 37px;
	height: 100%;
	top: 0;
	left: 50%;
	position: absolute;
	z-index: 11;
	margin: 0 0 0 -471px;
}
.swiper_monitor:before {
	content: "";
	background: url("../../img/dev/monik.png") -904px 0 no-repeat;
	width: 37px;
	height: 100%;
	top: 0;
	left: 50%;
	position: absolute;
	z-index: 99999;
	margin: 0 0 0 433px;
}
.swiper-pagination-bullet {
    background: #22af9e none repeat scroll 0% 0%;
	opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ff4c5d none repeat scroll 0% 0%;
}

/* скроллинговая область */

.swiper_monitor img {
	padding: 0;
}
.swiper_monitor .scrollpanel {
	position: relative;
	padding: 0;
	width: 800px;
}
.swiper_monitor .sp-viewport {
    width: 868px;
    height: 490px;
	position: relative;
	padding: 0;
	margin: 0 auto;
	box-shadow: none;
	border: solid 1px #red;
}
.swiper_monitor .sp-scrollbar {
	width: 12.5px;
	margin: 4px;
	cursor: pointer;
	position: absolute;
	left: 960px;
	top: 0;
	z-index: 100;
	border-right: solid 1px #7fd5f5;
	overflow: visible!important;
}
.swiper_monitor .sp-viewport {
	padding-right: 0px!important;
	box-sizing: border-box;
	border: none;
	border-radius: 0;
}
.swiper_monitor .sp-viewport {
	padding: 0;
}
.swiper_monitor .sp-viewport:before {
	display: none;
}
.swiper-button-next  {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	left: calc(50% + 550px);
	top: 60px;
	height: 490px;
	width: 2000px;
	background: rgba(256,256,256,0.7);
}
.swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
	left: auto;
	right: calc(50% + 550px);
	top: 60px;
	height: 490px;
	width: 2000px;
	background: rgba(256,256,256,0.7);
}
.swiper-button-next:hover, .swiper-button-prev:hover  {
	background: rgba(255,255,255,0.2);
}





.devsec {
	padding: 20px 0;
	color: #4C5D66;
}
.devsec p {
	margin-bottom: 15px;
}
.devsec ol, .devsec ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}
.devsec li {
	margin-bottom: 10px;
	font-size: 15px;
	font-family: 'Hoboto W10 55 Roman';
}
.devsec a {
	color: #00bff3;
	transition: color .15s linear;
	cursor: pointer;
}
.devsec a:hover {
	color: #09d;
	transition: color .15s linear;
}

.third {
	/* width: 32%;
	margin-right: 2%;
	display: inline-block;
	vertical-align: baseline; */
}
.third:nth-child(3n) {
	margin-right: 0;
}
.swiper_names {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 0;
}
.swiper_names .prev {
	text-align: right;
	color: #979d9f;
	font-size: 18px;
}
.swiper_names .current {
	text-align: center;
	color: #23afa0;
	font-size: 25px;
  min-width: 300px;
}
.swiper_names .next {
	text-align: left;
	color: #979d9f;
	font-size: 18px;
}
.swiper_mobile_examples {
	width: 1730px;
	-height: 600px;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
	overflow: hidden;
}
.swiper_mobile_examples .swiper-wrapper {
	padding: 20px 0;
}
.swiper_mobile_examples .swiper-slide {
	width: 290px;
	height: 600px;
	margin: 0 30px;
	box-shadow: 0 0 30px rgba(0,0,0,.3);
	box-sizing: border-box;
	border: 1px solid #b3b2b3;
	opacity: .3;
	transition: opacity .5s ease;
	background: url(../../img/dev/mobile_bg.png) no-repeat center top;
	background-size: 100%;
	padding-top: 24px;
	overflow: hidden;
}
.swiper_mobile_examples .swiper-slide.swiper-slide-active {
	overflow: visible;
}
.swiper_mobile_examples .swiper-slide img {
	width: 290px;
	display: block;
}
.swiper_mobile_examples .swiper-slide-active, .swiper_mobile_examples .swiper-slide-prev, .swiper_mobile_examples .swiper-slide-next {
	opacity: 1;
	transition: opacity .5s ease;
}
.scrollbar {
	background: #7fd5f5;
	width: 100%;
	height: 1px;
	position: absolute;
	/*bottom: -30px;*/
}
.swiper-scrollbar-drag {
    height: 31px;
    -width: 31px!important;
    -position: absolute;
    -background: transparent;
    -border-radius: 50%;
    left: 0;
    top: -15px;
}
.swiper-scrollbar-drag:after {
	content: "";
    height: 31px;
    width: 31px;
    position: absolute;
    background: #23afa0;
    border-radius: 50%;
    left: 50%;
	margin-left: -16px;
    top: 0;
}
.button_monitor, .button_monitor_act, .button_phone, .button_phone_act{
	background: url(/assets/img/mob_mon_sprite.png) no-repeat;
}
.browser_imgs .browser_img.sp-host {
	height: 600px;
}
.browser_img {
	width: 940px;
	padding-top: 29px;
    background: url(../../img/dev/browser_bg.png) 0 0 no-repeat;
	background-size: 100%;
	box-shadow: 0 0 30px rgba(0,0,0,.3);
	margin: 30px auto 60px;
	border: 1px solid #b3b2b3;
	border-radius: 5px;
}
.browser_img img {
	width: 100%;
	display: block;
}
.block_description {
	width: 940px;
	margin: 0 auto;
	color: #4c5d66;
	margin-bottom: 20px;
}
.b-page .devsec h2, .b-page .devsec h3 {
	font-family: 'Hoboto W10 55 Roman';
	font-weight: 400;
	font-size: 32px;
	text-align: center;
}
.block_label {
	padding: 10px;
	background: #f3f3ef;
	color: #23afa0;
	font-size: 18px;
	font-weight: 700;
	margin: 0 auto 15px;
	text-align: center;
	width: 30px;
}
.easy_img {
	margin: 30px auto 60px;
	display: block;
}
.gray {
	background: #f6f6f6;
}
.monitor_phone [data-tabs-contents] {
	height: 760px;
	padding-top: 20px;
}
.monitor_phone [data-tabs-content] {
	box-sizing: border-box;
	display: none;
}
.monitor_phone [data-tabs-content] img {
	width: 100%;
}
.monitor_phone [data-tabs-content]._act {
	-transition: opacity .5s ease;
}
.monitor_phone .sp-scrollbar, .browser_img .sp-scrollbar  {
	right: -40px!important;
}
.swiper_mobile_examples .sp-scrollbar{
	right: -30px!important;
}
.monitor_phone-m {
    background: url("../../img/dev/monik.png") top center no-repeat;
	width: 900px;
	height: 747px;
	background-size: 100%;
	padding: 36px 34px 242px;
	margin: 0 auto;
}
.monitor_phone-p {
	background: url("../../img/dev/mobile_bg_full.png") top center no-repeat;
	width: 327px;
	height: 650px;
	background-size: 100%;
	padding: 75px 13px 84px 17px;
	margin: 35px auto 0;

}
.monitor_phone-buttons {
	text-align: center;
}
.monitor_phone-button {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	background: url(../../img/dev/mon_phone_sprite.png) no-repeat;
}
.monitor_phone-button.m {
	background-position: -67px 0;
	width: 83px;
	height: 58px;
	margin-right: 30px;
}
.monitor_phone-button.m._act {
	background-position: -152px 0;
}
.monitor_phone-button.p {
	background-position: 0 0;
	width: 31px;
	height: 60px;
}
.monitor_phone-button.p._act{
	background-position: -33px 0;
}
.easy_swiper {
	width: 900px;
	margin: 30px auto 10px;
	overflow: hidden;
}
.easy_swiper img {
	width: 100%;
}
.easy_swiper-container {
	margin-bottom: 40px;
	position: relative;
}
.laptop {
	width: 1020px;
	height: 600px;
	margin: 30px auto;
	padding: 31px 129px 92px 128px;
	background: url(../../img/dev/laptop.png) no-repeat 0 0;
	box-sizing: border-box;
}
.gamma-container {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.gamma-container .sp-scrollbar {
    display: none!important;
}
.gamma-single-view, .gamma-overlay {
	position: absolute;
}
.masonry-brick {
	box-sizing: border-box;
}
.center {
	text-align: center;
}
.thesis_list {
	font-size: 0;
}
.thesis_list p {
	display: inline-block;
	padding: 0 5% 0 0;
	margin-top: 40px;
	vertical-align: top;
	position: relative;
	width: 30%;
}
.thesis_list p:last-child {
	padding-right: 0;
}
.thesis_list p:before {
	content: '';
	position: absolute;
	top: -18px;
	left: 0;
	width: 60px;
	height: 3px;
	background: #23afa0;
}

.third.prev.swiper-button-prev,
.third.next.swiper-button-next {
  position: static;
  height: unset;
  background: unset;
  background-image: unset;
	margin-top: unset;
}
