<div class="b-conv-inc">
	<div class="b-conv-inc__container">
		<h2>
		   {{ s.name }}
		</h2>
		<p>
			{{ s.description }}
		</p>
		<section>
			{{ s.content|raw }}
		</section>
	</div>
</div><!-- /.b-conv-inc -->