{% for sec in s.sections %}

<article class="b-seo-payment__item">
	<h4 class="item__title">{{sec.name | raw }}</h4>
	<p class="item__text">
		{{ sec.description | raw }}
	</p>
</article>

{% endfor %}