﻿<div class="b-header__title-holder">

		<div class="b-header__title-wrapper">
			<div class="b-header__title b-header__title--max-width-640">

				<div class="b-header__title_content">
					<h1>
						Можно ли продвинуть
						Ваш&nbsp;сайт?
					</h1>
					<p>
						Чтобы продвинуть сайт клиента, необходимо потратить достаточно много сил и времени. И далеко не для каждого сайта это даст требуемый результат.
					</p>
				</div>

			</div>
		</div>

		<ul class="b-header__title_menu">
			<li class="menu__item">
				<a class="menu__link" href="#">
					Новый алгоритм Яндекса
				</a>
			</li>
			<li class="menu__item menu__item--active menu__item--active-2">
				<a class="menu__link" href="#">
					Можно ли продвинуть Ваш сайт?
				</a>
			</li>
			<li class="menu__item">
				<a class="menu__link" href="#">
					Портфолио
				</a>
			</li>
		</ul>

	</div>

</header><!-- /.b-header -->

<div class="b-content">
	{% for s in sec  %}
		{% include '@app/views/sections'~Url.to('@web')~'/'~s.tpl %}
	{% endfor %}

	{% include '@app/views/sections/form.twig' %}

</div><!-- /.b-content -->