﻿<div class="b-header__title-holder">

		<div class="b-header__title-holder">

            <div class="b-header__title-wrapper">
                <div class="b-header__title b-header__title--max-width-460">

                    <div class="b-header__title_content">
                        <h1>Контекстная реклама</h1>
                        <p>
                            С нами вы можете быть уверены, что контекстная реклама работает идеально!
                        </p>
                    </div>

                </div>
            </div>

        </div>

	</div>

</header><!-- /.b-header -->

<div class="b-content">
	{% for s in sec  %}
		{% include '@app/views/sections'~Url.to('@web')~'/'~s.tpl %}
	{% endfor %}

	{% include '@app/views/sections/form.twig' %}

</div><!-- /.b-content -->