﻿<div class="b-header__title-holder">

		<div class="b-header__title-holder">

            <div class="b-header__title-wrapper">
                <div class="b-header__title b-header__title--max-width-460">

                    <div class="b-header__title_content">
                        <h1>Разработка бла бла</h1>
                        <p>
                            могем
                        </p>
                    </div>

                </div>
            </div>

        </div>

	</div>

</header><!-- /.b-header -->

<div class="b-content">
	<section class="b-case">

		<header class="b-case__header">
			<div class="b-case__header_container">
				<h1 class="b-case__title">Сайт {{ thisProject.name }}</h1>
				<p><a href="http://{{ thisProject.url }}" target="_blank">{{ thisProject.url }}</a></p>
				{{ thisProject.description }}
			</div>
		</header>

		<div class="b-case__content">

			<img src="{{ url('/uploads/img/'~thisProject.projectparams.printscreen.img) }}" alt=""/>

			{{ thisProject.projectparams.descdev.value }}

			<img src="{{ url('/uploads/img/'~thisProject.projectparams.printscreen2.img) }}" alt=""/>

		</div><!-- /.b-case__content -->

		<footer class="b-case__footer">
			<ul class="b-share">
				<li class="b-share__item"><a class="b-share__link icon-fb" href="#">поделиться</a></li>
				<li class="b-share__item"><a class="b-share__link icon-tw" href="#">твитнуть</a></li>
				<li class="b-share__item"><a class="b-share__link icon-vk" href="#">поделиться</a></li>
			</ul>
			<div class="b-case__prev">
				<a href="/dev/{{ prevProject.id }}" class="btn">Назад</a>
				<p class="title">{{ prevProject.name }}, {{ prevProject.short_desc }}</p>
			</div>
			<div class="b-case__next">
				<a href="/dev/{{ nextProject.id }}" class="btn">Дальше</a>
				<p class="title">{{ nextProject.name }}, {{ nextProject.short_desc }}</p>
			</div>
		</footer>

	</section><!-- /.b-case -->
	{% include '@app/views/sections/form.twig' %}
</div><!-- /.b-content -->