﻿<div class="b-content">
	{% for s in sec  %}
		{% include '@app/views/sections'~Url.to('@web')~'/'~s.tpl %}
	{% endfor %}

	{% include '@app/views/sections/form.twig' %}

</div><!-- /.b-content -->