<div class="b-feedback">
	<div class="b-feedback__container">

		<header class="b-feedback__header">

			<h2 class="b-feedback__title">Рекомендации наших клиентов</h2>
			<p class="b-feedback__header-text">При работе с клиентами мы стараемся выстроить с ними долгосрочные отношения</p>

		</header>

		<div class="b-feedback__clients">
			<div class="item col">

				<p class="item__text">
					Все «наши» ключевые запросы для лидирующих поисковых систем попали в ТОП уже на второй месяц после заключения договора. Посещаемость нашего сайта значительно выросла. Новые клиенты звонят и хотят приобрести наш товар!
					<a class="item__link" href="#">Читать полностью</a>
				</p>

				<h3 class="item__title">
					Зиминов В.А.
					<span>директор ООО «Аргус»</span>
				</h3>

			</div>

			<div class="item col">

				<p class="item__text">
					С момента начала работ поисковый трафик на сайт увеличился втрое, заметно увеличилось количество заявок с сайта, в том числе из других регионов
					<a class="item__link" href="#">Читать полностью</a>
				</p>

				<h3 class="item__title">
					В.В. Титов
					<span>генеральный директор <br/> «ЭЛЕКТРОЩИТ-Стройиндустрия»</span>
				</h3>

			</div>

			<div class="item col">

				<p class="item__text">
					Мы убедились в эффективности работы Вашей команды на примере нескольких наших сайтов, рекомендовали своим партнерам, которые также остались очень довольны оказанными услугами.
					<a class="item__link" href="#">Читать полностью</a>
				</p>

				<h3 class="item__title">
					Гребнева Ольга
					<span>директор российского представительства Senior Group</span>
				</h3>

			</div>

		</div><!-- /.b-feedback__clients -->
		<div class="b-feedback__clients">
			{% for r in reviews %}
				{% include '@app/views/sections/index/review_item.twig' %}
			{% endfor %}
		{# ListView.widget({
			'dataProvider' : dataProvider,
			'itemOptions' : {'class' : 'item col'},
			'itemView' : '//lists/review_item.twig',
			'summary': '',
		}) | raw #}
		</div>


	</div><!-- /.b-feedback__container -->

	<div class="b-feedback__docs" data-toggle-list="true">
		<div class="b-feedback__container" data-fotorama="true">
			{% for r in reviews %}
				{% include '@app/views/sections/index/imgreview_item.twig' %}
			{% endfor %}
		</div><!-- /.b-feedback__container -->
		{# ListView.widget({
			'dataProvider' : dataProvider,
			'itemOptions' : {'class' : 'col'},
			'itemView' : '//lists/imgreview_item.twig',
			'summary': '',
			'options' : {'class' : 'b-feedback__container', 'data-fotorama' : 'true'},
			'showOnEmpty' : false,
		}) | raw #}
		
		<div class="b-feedback__container" data-fotorama="true">

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-1.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-1.png') | raw }}
					</div>
					<div class="item__name">
						Самарский межотраслевой институт
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-2.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-2.png') | raw }}
					</div>
					<div class="item__name">
						Тайфун
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-3.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-3.png') | raw }}
					</div>
					<div class="item__name">
						АТ «Карго»
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-4.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-4.png') | raw }}
					</div>
					<div class="item__name">
						Самарская алюминевая компания
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-5.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-5.png') | raw }}
					</div>
					<div class="item__name">
						Электрощит Стройиндустрия
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-6.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-6.png') | raw }}
					</div>
					<div class="item__name">
						Агентство оценки «Grand Estate»
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-1.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-1.png') | raw }}
					</div>
					<div class="item__name">
						Самарский межотраслевой институт
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-2.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-2.png') | raw }}
					</div>
					<div class="item__name">
						Тайфун
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-3.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-3.png') | raw }}
					</div>
					<div class="item__name">
						АТ «Карго»
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-4.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-4.png') | raw }}
					</div>
					<div class="item__name">
						Самарская алюминевая компания
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-5.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-5.png') | raw }}
					</div>
					<div class="item__name">
						Электрощит Стройиндустрия
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-6.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-6.png') | raw }}
					</div>
					<div class="item__name">
						Агентство оценки «Grand Estate»
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-1.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-1.png') | raw }}
					</div>
					<div class="item__name">
						Самарский межотраслевой институт
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-2.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-2.png') | raw }}
					</div>
					<div class="item__name">
						Тайфун
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-3.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-3.png') | raw }}
					</div>
					<div class="item__name">
						АТ «Карго»
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-4.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-4.png') | raw }}
					</div>
					<div class="item__name">
						Самарская алюминевая компания
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-5.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-5.png') | raw }}
					</div>
					<div class="item__name">
						Электрощит Стройиндустрия
					</div>
				</a>

			</div>

			<div class="col">

				<a href="{{ url('assets/img/tmp/feedback-6.jpg') }}" class="item">
					<div class="item__tmb">
						{{ html.img('assets/img/tmp/client-doc-6.png') | raw }}
					</div>
					<div class="item__name">
						Агентство оценки «Grand Estate»
					</div>
				</a>

			</div>

		</div><!-- /.b-feedback__container -->

		<a data-btn-toggle="true" class="b-feedback__btn-show"></a>

	</div><!-- /.b-feedback__docs -->

</div><!-- /.b-feedback -->