<div class="col">
	<a href="{{ url('/uploads/img/'~r.img) }}" class="item">
		<div class="item__tmb">
			{{ EasyThumbnailImage.thumbnailImg('@webroot/uploads/img/'~r.img, 130, 180) | raw }}
		</div>
		<div class="item__name">
			{{ r.projects.name }}
		</div>
	</a>
</div>

