﻿<div class="item col">
	<p class="item__text">
		{{ r.review_text }}
		<a class="item__link" href="#">Читать полностью</a>
	</p>
	<h3 class="item__title">
		{{ r.reviewer }}
		<span>{{ r.rank }} {{ r.projects.name }}</span>
	</h3>
</div>