<div class="b-slider-promo" dara-slider-opacity="true">

	<div class="b-slider-promo__holder" data-items-holder="true">
	
		{% for p in projects %}
			{% include '@app/views/sections/index/slider_item.twig' %}
		{% endfor %}
		
		{# ListView.widget({
			'dataProvider' : projectparams,
			'itemOptions' : {'class' : 'col'},
			'itemView' : '//lists/slider_item.twig',
			'summary': '',
		}) | raw #}	
	
		<div class="b-slider-promo__item" data-item="true">
			<div class="b-slider-promo__img">
				{{ html.img('assets/img/tmp/girl.png') | raw }}
			</div>
			<div class="b-slider-promo__case">
				<h2>
					Мы продвигали <br/>
					<span>svadba-msk.ru</span>
				</h2>
				<article>
					<h3>
						<span>
							Крупнейший свадебный
							портал России
						</span>
					</h3>
					<p>
						С момента запуска находится на лидирующих позициях во всех поисковых системах.
					</p>
					<p>
						Посещаемость никогда не опускается ниже отметки в 5000 человек в день.
					</p>
				</article>
			</div>
			<div class="b-slider-promo__graph">
				<div class="graph__col item-1">
					<div class="graph__time">
						сентябрь
						<span>2008</span>
					</div>
					<div class="graph__val">
						82 373
					</div>
				</div>
				<div class="graph__col item-2">
					<div class="graph__time">
						июль
						<span>2010</span>
					</div>
					<div class="graph__val">
						335 600
					</div>
				</div>
				<div class="graph__col item-3">
					<div class="graph__time">
						июль
						<span>2011</span>
					</div>
					<div class="graph__val">
						358 100
					</div>
				</div>
				<div class="graph__col item-4">
					<div class="graph__time">
						июнь
						<span>2013</span>
					</div>
					<div class="graph__val">
						380 951
					</div>
				</div>
				<div class="graph__col item-5">
					<div class="graph__time">
						июль
						<span>2014</span>
					</div>
					<div class="graph__val">
						1 693 000
						<span>
							посетителей <br/>в месяц
						</span>
					</div>
				</div>
				
			</div><!-- /.b-slider-promo__graph -->
			<div class="b-slider-promo__statistics">
				<div class="item">
					<span>более</span>
					<strong>40 000</strong>
					переходов <br/>
					за день
				</div>
				<div class="item">
					<span>более</span>
					<strong>1 500 000</strong>
					переходов <br/>
					в месяц
				</div>
			</div>
		</div><!-- /.b-slider-promo__item -->

		<div class="b-slider-promo__item" data-item="true">
			<div class="b-slider-promo__img">
				{{ html.img('assets/img/tmp/girl.png') | raw }}
			</div>
			<div class="b-slider-promo__case">
				<h2>
					Мы продвигали <br/>
					<span>svadba-msk.ru</span>
				</h2>
				<article>
					<h3>
						<span>
							Крупнейший свадебный
							портал России
						</span>
					</h3>
					<p>
						С момента запуска находится на лидирующих позициях во всех поисковых системах.
					</p>
					<p>
						Посещаемость никогда не опускается ниже отметки в 5000 человек в день.
					</p>
				</article>
			</div>
			<div class="b-slider-promo__graph">
				<div class="graph__col item-1">
					<div class="graph__time">
						сентябрь
						<span>2008</span>
					</div>
					<div class="graph__val">
						82 373
					</div>
				</div>
				<div class="graph__col item-2">
					<div class="graph__time">
						июль
						<span>2010</span>
					</div>
					<div class="graph__val">
						335 600
					</div>
				</div>
				<div class="graph__col item-3">
					<div class="graph__time">
						июль
						<span>2011</span>
					</div>
					<div class="graph__val">
						358 100
					</div>
				</div>
				<div class="graph__col item-4">
					<div class="graph__time">
						июнь
						<span>2013</span>
					</div>
					<div class="graph__val">
						380 951
					</div>
				</div>
				<div class="graph__col item-5">
					<div class="graph__time">
						июль
						<span>2014</span>
					</div>
					<div class="graph__val">
						1 693 000
						<span>
							посетителей <br/>в месяц
						</span>
					</div>
				</div>
			</div><!-- /.b-slider-promo__graph -->
			<div class="b-slider-promo__statistics">
				<div class="item">
					<span>более</span>
					<strong>40 000</strong>
					переходов <br/>
					за день
				</div>
				<div class="item">
					<span>более</span>
					<strong>1 500 000</strong>
					переходов <br/>
					в месяц
				</div>
			</div>
		</div><!-- /.b-slider-promo__item -->

		<div class="b-slider-promo__item" data-item="true">
			<div class="b-slider-promo__img">
				{{ html.img('assets/img/tmp/girl.png') | raw }}
			</div>
			<div class="b-slider-promo__case">
				<h2>
					Мы продвигали <br/>
					<span>svadba-msk.ru</span>
				</h2>
				<article>
					<h3>
						<span>
							Крупнейший свадебный
							портал России
						</span>
					</h3>
					<p>
						С момента запуска находится на лидирующих позициях во всех поисковых системах.
					</p>
					<p>
						Посещаемость никогда не опускается ниже отметки в 5000 человек в день.
					</p>
				</article>
			</div>
			<div class="b-slider-promo__graph">
				<div class="graph__col item-1">
					<div class="graph__time">
						сентябрь
						<span>2008</span>
					</div>
					<div class="graph__val">
						82 373
					</div>
				</div>
				<div class="graph__col item-2">
					<div class="graph__time">
						июль
						<span>2010</span>
					</div>
					<div class="graph__val">
						335 600
					</div>
				</div>
				<div class="graph__col item-3">
					<div class="graph__time">
						июль
						<span>2011</span>
					</div>
					<div class="graph__val">
						358 100
					</div>
				</div>
				<div class="graph__col item-4">
					<div class="graph__time">
						июнь
						<span>2013</span>
					</div>
					<div class="graph__val">
						380 951
					</div>
				</div>
				<div class="graph__col item-5">
					<div class="graph__time">
						июль
						<span>2014</span>
					</div>
					<div class="graph__val">
						1 693 000
						<span>
							посетителей <br/>в месяц
						</span>
					</div>
				</div>
			</div><!-- /.b-slider-promo__graph -->
			<div class="b-slider-promo__statistics">
				<div class="item">
					<span>более</span>
					<strong>40 000</strong>
					переходов <br/>
					за день
				</div>
				<div class="item">
					<span>более</span>
					<strong>1 500 000</strong>
					переходов <br/>
					в месяц
				</div>
			</div>
		</div><!-- /.b-slider-promo__item -->

	</div><!-- /.b-slider-promo__holder -->

	<div class="b-slider-promo__nav">
		<ul class="nav" data-nav="true">

		</ul>
	</div>

</div><!-- /.b-slider-promo -->