﻿<div class="b-slider-promo__item" data-item="true">
	<div class="b-slider-promo__img">
		{% if p.projectparams.bg.img %}
			{{ html.img(EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/'~p.projectparams.bg.img, 320, 480)) | raw }}
		{% endif %}
	</div>
	<div class="b-slider-promo__case">
		<h2>
			Мы продвигали <br/>
			<span>{{p.url}}</span>
		</h2>
		<article>
			<h3>
				<span>
					{{ p.short_desc }}
				</span>
			</h3>
			<p>
				С момента запуска находится на лидирующих позициях во всех поисковых системах.
			</p>
			<p>
				Посещаемость никогда не опускается ниже отметки в 5000 человек в день.
			</p>
		</article>
	</div>
	<div class="b-slider-promo__graph">
		
		
		{% for pp in p.projectparams if pp.group_name=='chart_column' %}
			<div class="graph__col item-{{ loop.index }}">
				<div class="graph__time">
					{{ pp.name|reverse[5:]|reverse }}
					<span>{{ pp.name|reverse[:4]|reverse }}</span>
				</div>
				<div class="graph__val">
					{{ pp.value|number_format(0, '.', ' ') }}
					{% if loopp.index==5 %}
						<span>
							посетителей <br/>в месяц
						</span>
					{% endif %}
				</div>
			</div>
		{% endfor %}
		
	</div><!-- /.b-slider-promo__graph -->
	<div class="b-slider-promo__statistics">
		<div class="item">
			<span>более</span>
			<strong>{{ p.projectparams.visits_day.value|number_format(0, '.', ' ') }}</strong>
			переходов <br/>
			за день
		</div>
		<div class="item">
			<span>более</span>
			<strong>{{ p.projectparams.visits_month.value|number_format(0, '.', ' ') }}</strong>
			переходов <br/>
			в месяц
		</div>
	</div>
</div><!-- /.b-slider-promo__item -->