<div class="b-work-scheme">

	<article class="col-1">
		<h2 class="title">
			{{ s.name }}
		</h2>
			{{ s.description }}
		<p>
			Вы не платите ничего до тех пор, пока сайт
			не выйдет в первую десятку результатов поисковых систем
		</p>
	</article>

	<article class="col-2">
		{{ s.content }}
		<p>
			По результатам каждого месяца мы предоставляем вам отчет о позициях сайта и выставляем счет.
		</p>
		<p>
			Ежемесячная стоимость продвижения зависит от того, на каких позициях по продвигаемым запросам был ваш сайт в течение месяца.
		</p>
	</article>

</div><!-- /.b-work-scheme -->