<div class="b-aftermath__container">
		<div class="wrapper_middle- wrapper_flex-">
			<div class="achieves_descriptions">
				<h2 class="achieve-title">Мы — сертифицированное агентство</h2>

				<div class="achieves_icons">
						<a class="icon_item" href="https://yandex.ru/adv/contact/agency/partner?url=liderpoiska.ru" target="blank">
							<img src="/assets/images/Yandex_partner.png" alt="Yandex partner">
						</a>
						<a class="icon_item" href="https://www.google.com/partners/agency?id=8709133943" target="blank">
							<img src="/assets/images/Goggle_partner.png" alt="Goggle partner">
						</a>
				</div>

				<p class="achieve-descr">
					<span>У нас 7 сертифицированных специалистов по рекламе.</span>
					<span>Наша цель — привести максимум клиентов на рекламный бюджет. Мы умеем и любим привлекать клиентов для наших клиентов разными каналами и ретаргетингом в них:</span>
				</p>
				<div class="target_icons">
					<img class="logoText" src="/assets/images/Ya_direkt.svg">
					<img class="logoText" src="/assets/images/Google_advertising.svg">
					<img class="logoIcon" src="/assets/images/fb_icon.svg">
					<img class="logoIcon" src="/assets/images/inst_logo.svg">
					<img class="logoIcon" src="/assets/images/vk_logo.svg">
					<img class="logoIcon" src="/assets/images/my_logo_icon.png">
				</div>
			</div>
		</div>
</div>

<!-- ------------------- КЕЙСЫ ------------------------------------------------------------ -->
<div class="b-seo-main">
	<h2>Кейсы по рекламе в интернете</h2>
	<div class="inner">
		<div class="post-feed">
			<article class="post-card post">
		        <a class="post-card-image-link" href="https://liderpoiska.ru/blog/snizhenie-otkazov-v-directe/">
		            <div class="post-card-image" style="background-image: url(https://liderpoiska.ru/blog/content/images/size/w600/2019/04/yandex_traffic_better.jpg)"></div>
		        </a>
			    <div class="post-card-content">
			        <a class="post-card-content-link" href="https://liderpoiska.ru/blog/snizhenie-otkazov-v-directe/">
			            <header class="post-card-header">
			                <span class="post-card-tags">кейсы по интернет-рекламе</span>
			                <h2 class="post-card-title">Как снизить % отказов в 4 раза и улучшить качество трафика в рекламе на поиске Яндекса</h2>
			            </header>
			            <section class="post-card-excerpt">
			                <p>Аквариумная компания Аква Лого — крупнейшая специализированная розничная сеть аквариумных магазинов в Москве и России с широчайшим ассортиментом товаров как для любительской, так и для профессиональной аквариумистики.</p>
			            </section>
			        </a>
			    </div>
			</article>

			<article class="post-card post">
			        <a class="post-card-image-link" href="https://liderpoiska.ru/blog/kak-snizit-stoimost-lida-google-adwords/">
			            <div class="post-card-image" style="background-image: url(https://liderpoiska.ru/blog/content/images/size/w600/2018/08/limousine_pic.jpg)"></div>
			        </a>
			    <div class="post-card-content">
			        <a class="post-card-content-link" href="https://liderpoiska.ru/blog/kak-snizit-stoimost-lida-google-adwords/">
			            <header class="post-card-header">
			                <span class="post-card-tags">кейсы по интернет-рекламе</span>
			                <h2 class="post-card-title">Кейс: как мы снизили стоимость заявки с Google Adwords в 3 раза</h2>
			            </header>
			            <section class="post-card-excerpt">
			                <p>«Абсолют Корона» — крупнейшая компания по прокату лимузинов, базирующаяся в городе Москва. В собственности компании 53 автомобиля. В марте 2015 мы разработали для них сайт и с тех пор полностью взяли его продвижение на</p>
			            </section>
			        </a>
			    </div>
			</article>

			<article class="post-card post">
			        <a class="post-card-image-link" href="https://liderpoiska.ru/blog/nastroika-yandex-market/">
			            <div class="post-card-image" style="background-image: url(https://liderpoiska.ru/blog/content/images/size/w600/2019/06/23d8ceae-8c8e-4535-a5b6-8cbddc13f6f4-View_1--1-.jpg)"></div>
			        </a>
			    <div class="post-card-content">
			        <a class="post-card-content-link" href="https://liderpoiska.ru/blog/nastroika-yandex-market/">
			            <header class="post-card-header">
			                <span class="post-card-tags">кейсы по интернет-рекламе</span>
			                <h2 class="post-card-title">Настройка Яндекс.Маркет для интернет-магазина ресторанного оборудования</h2>
			            </header>
			            <section class="post-card-excerpt">
			                <p>Компания клиента — крупнейший интернет-магазин профессионального оборудования для ресторанов, кафе, общепита и столовых, более чем с 30 000 товаров в каталоге и регионами присутствия по всей России. Настройка Яндекс Маркета для данного клиента была</p>
			            </section>
			        </a>
			    </div>
			</article>

		</div>
	</div>
</div>

<div class="banner__wrap">
	<div class="banner__cont noMarginTop">
		<span class="aWrap"><a href="https://liderpoiska.ru/blog/tag/ad-cases/">Посмотреть все кейсы по интернет-рекламе в нашем блоге</a></span>
	</div>
</div>
