﻿<div class="b-process">
	<div class="b-process__container">

		<h2 class="b-process__title">
			{{ s.name }}
		</h2>

		<div class="b-process__content">
	  	{% set url = path('')|split('?').0 %}
			{% for subsec in s.sections %}
				{% include '//sections'~url~'/'~subsec.tpl %}
			{% endfor %}
		</div><!-- /.b-process__content -->

	</div><!-- /.b-process__container -->
</div><!-- /.b-process -->
