<div class="b-showcase">
	<div class="b-showcase__container">

		<h2 class="b-showcase__title">
			{{ s.name }}
		</h2>

		<div class="b-showcase__nav">
			<div class="nav__base" data-context-show="true">
				<h3 class="nav__title">
					Запросы:
				</h3>
				<ul class="nav__list">
					{% for c in context %}
						<li class="nav__list_item" data-button="{{ c.id }}">
							<a class="nav__list_link" href="#">{{ c.search_request }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="nav__short">
				<h3 class="nav__title">
					Выберите запрос:
				</h3>
				<div class="nav__select">
					<select>
						{% for c in context %}
							<option value="{{ c.id }}">{{ c.search_request }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<section class="b-showcase__content">

			<footer>
				<a class="btn btn--left">Назад</a>
				<a class="btn btn--right">Следующий запрос</a>
			</footer>

		</section>

	</div><!-- /.b-showcase__container -->
</div><!-- /.b-showcase -->
