﻿<div class="b-advantages">

	<h2 class="b-advantages__title">
		{{ s.name }}
	</h2>

	<div class="col">
		<ul class="list list--checked">
			<li>
				Мы анализируем специфику Вашего бизнеса, клиентов и конкурентов;
			</li>
			<li>
				Мы создаем рекламу исходя из Ваших задач, рекламной политики и бюджета;
			</li>
			<li>
				Мы предлагаем платить только за потенциальных клиентов и реальные обращения;
			</li>
			<li>
				Мы предлагаем конкретные решения, направленные на увеличение продаж;
			</li>
		</ul>
	</div>

	<div class="col">
		<ul class="list list--checked">
			<li>
				Мы готовы отвечать на Ваши вопросы столько, сколько потребуется;
			</li>
			<li>
				Мы предлагаем индивидуальные условия работы;
			</li>
			<li>
				Оплата наших услуг не зависит от размера Вашего рекламного бюджета;
			</li>
			<li>
				На текущий момент мы ведем рекламные кампании для 56 клиентов с бюджетами от 22 до 480 тысяч рублей в месяц;
			</li>
			<li>
				Мы работаем на рынке более 9 лет;
			</li>
		</ul>
	</div>

</div><!-- /.b-advantages -->