﻿<div class="b-conv-adv">
	<div class="b-conv-adv__container">

		<h2 class="b-conv-adv__title">
			{{ s.name }}
		</h2>

		<div class="b-conv-adv__content">
			<ul class="list list--checked-2">
				<li>
					Рост продаж
				</li>
				<li>
					Улучшение позиций в поиске из-за улучшение поведенческих факторов ранжирования
				</li>
				<li>
					Снижение стоимости клиента с контекстной и медийной рекламы, зачастую контекстная реклама может быть эффективна только при высокой конверсии
				</li>
			</ul>
		</div>

	</div><!-- /.b-conv-adv__container -->
</div><!-- /.b-conv-adv -->