﻿<div class="b-conv-inc">
	<div class="b-conv-inc__container">
		<h2>
		   {{ s.name }}
		</h2>
		<p>
			{{ s.description }}
		</p>
		<section>
			<article>
				<h3>
					А/Б тестирование
				</h3>
				<p>
					Разрабатывается несколько альтернативных вариантов различных элементов сайта или страниц, которые показываются части посетителей сайта.
				</p>
				<p>
					Вариант, дающий в результате лучшую конверсию внедряется в качестве основного.
				</p>
			</article>
			<article>
				<h3>
					Анализ телефонных звонков
				</h3>
				<p>
					Все или часть телефонных звонков, поступающих с сайта идет через виртуальную АТС, которая сохраняет всю статистику и записи телефонных переговоров.
				</p>
				<p>
					Эти звонки анализируются, в результате чего на сайте делаются изменения, например, выводится дополнительная информация, которая требуется звонящим людям. Так же корректируется работа отвечающих на звонки сотрудников клиента.
				</p>
			</article>
			<article>
				<h3>
					Юзабилити-аудит
				</h3>
				<p>
					Часть юзабилити-ошибок на сайте очевидны специалисту без дополнительной аналитики.
				</p>
				<p>
					Другие ошибки выявляются в ходе анализа статистики и отслеживания поведения пользователей сайта. Для этого мы пользуемся
					<a href="#">Вебвизором</a>.
				</p>
			</article>
		</section>
	</div>
</div><!-- /.b-conv-inc -->