<div class="b-feedback">
	<div class="b-feedback__container">

		<header class="b-feedback__header">

			<h2 class="b-feedback__title">{{s.name}}</h2>
			<p class="b-feedback__header-text">{{s.description}}</p>

		</header>

		<div class="b-feedback__clients">
			{% for r in reviews %}
				{% include '@app/views/sections/index/review_item.twig' %}
			{% endfor %}
		</div>

	</div><!-- /.b-feedback__container -->

	<div class="b-feedback__docs" data-toggle-list="true">
		<div class="b-feedback__container" data-fotorama="true">
			{% for r in reviews %}
				{% include '@app/views/sections/index/imgreview_item.twig' %}
			{% endfor %}
		</div><!-- /.b-feedback__container -->
		
		<a data-btn-toggle="true" class="b-feedback__btn-show"></a>

	</div><!-- /.b-feedback__docs -->

</div><!-- /.b-feedback -->