<div class="b-map">

    <div class="b-map__content">
        <p>
            При работе с клиентами мы стараемся выстроить с ними долгосрочные отношения. Это взаимовыгодно.
        </p>
        <p class="text--big">
            <strong><span>77%</span> клиентов</strong> работают с нами больше года
        </p>
    </div>

    <div class="b-map__facts">
        <p>
            <span>67</span> регионов
        </p>
        <p>
            <span>382</span> сайта
        </p>
        <p>
            <span>{{"now"|date("Y") - 2007}}</span> лет
        </p>
    </div>
</div>
<!-- /.b-map -->
<div class="banner__wrap">
    <div class="banner__cont">
        <a href="/blog/kak-vyiti-iz-pod-baden-badena/">Кейс: Как выйти из-под «Баден-Бадена»</a>
        <span>Сентябрь 2018</span>
    </div>
</div>