<div class="b-portfolio">
   <div class="b-portfolio__wrapper">
	   <h2 class="b-portfolio__title">
		   {{ s.name }}
	   </h2>
		{% for p in project %}
			{% include '@app/views/sections'~Url.to('@web')~'/portfolio_item.twig' %}
		{% endfor %}
	   
		<div class="b-portfolio__add-item-holder" data-portfolio-show="true">
			<a class="b-portfolio__add-item-btn" data-btn="true" href="#">Показать еще 10 проектов</a>
		</div>
	   
	</div><!-- /.b-portfolio__wrapper -->
</div><!-- /.b-portfolio -->