<div class="b-portfolio">
   <div class="b-portfolio__wrapper">
		<h2 class="b-portfolio__title">
			{{ s.name }}
		</h2>
		{% set url = path('')|split('?').0 %}
		{% for p in project %}
			{% include '@app/views/sections'~url~'/portfolio_item.twig' %}
		{% endfor %}

		{% if num > 0 %}
		<div class="b-portfolio__add-item-holder" data-portfolio-show="true">
			<a class="b-portfolio__add-item-btn" data-btn="true" href="#">Показать еще {{ decl.project(num) }}</a>
		</div>
		{% endif %}

	</div><!-- /.b-portfolio__wrapper -->
</div><!-- /.b-portfolio -->
