{% for p in projects %}
{% if p.positions|length > 0 %}
<div class="b-portfolio__item">
	<div class="item__city">{{ p.regions.name }}</div>
	<div class="item__col">
		<div class="item__header">
			<h3 class="item__title">{{decl.cyrillic(p.url)}}</h3>
			<div class="item__link"><a class="btn-site-link" href="http://{{ p.url }}" target="_blank">Перейти на сайт</a></div>
		</div>
		<div class="item__text">
			<p>{{ p.description | raw }}</p>
			{% if p.img %}
				{{ EasyThumbnailImage.thumbnailImg('@webroot/uploads/img/logo/'~p.img, 210,  50) | raw }}
			{% endif %}
		</div>
	</div><!-- /.item__col -->
	<div class="item__col">
		<table class="seo__table">
			<tr>
				<th class="table__col-1">Запросы:</th>
				<th class="table__col-2"><i class="icon-yandex"></i></th>
			</tr>
			{% for pos in p.positions %}
				<tr>
					<td class="table__col-1">{{ pos.query }}</td>
					<td class="table__col-2">{{ pos.position }}</td>
				</tr>
			{% endfor %}
			
		</table>
		<time>
			Данные актуальны на {{p.date|date("d.m.Y")}}
		</time>
	</div><!-- /.item__col -->
</div><!-- /.b-portfolio__item -->
{% endif %}
{% endfor %}