{% if s.description|raw is not empty %}

<div class="easy_imgs__container">
    {{ s.description|raw }}
</div>

{% endif %}


{% if s.gallerys is not empty %}
<div class="easy_imgs">
	{%for gallery in s.gallerys%}
		<img class="easy_img" src="{{ '/'~gallery.path }}" alt="">
	{%endfor%}
</div>
{% endif %}

{% if s.content|raw is not empty %}

<div class="easy_imgs__container">
    {{ s.content|raw }}
</div>

{% endif %} 