{{ use('yii/widgets/ActiveForm') }}
<div class="b-order b-order--short" data-show-form="true">
	<div class="b-order__container">
		
		{% set form = active_form_begin({'options' : {'class':'b-order__form'} }) %}

			<h2 class="form__header">
				<a class="btn-show-form"  data-btn-show="true">Оставьте заявку</a>
				<span>
					и мы свяжемся с Вами в течение 24 часов
				</span>
			</h2>

			<div class="form__body">

				<div class="form__row">

					<div class="form__field">
						<label class="form__checkbox" for="seo">
							<input checked="checked" class="checkbox-input" type="checkbox" name="seo" id="seo"/>
							<span class="checkbox-label">Поисковое продвижение</span>
						</label>
					</div>

					<div class="form__field">
						<label class="form__checkbox" for="conversion">
							<input class="checkbox-input" type="checkbox" name="conversion" id="conversion"/>
							<span class="checkbox-label">Повышение конверсии</span>
						</label>
					</div>

					<div class="form__field">
						<label class="form__checkbox" for="context">
							<input class="checkbox-input" type="checkbox" name="context" id="context"/>
							<span class="checkbox-label">Медийная реклама</span>
						</label>
					</div>

				</div>

				<div class="form__row">

					<div class="col-x6">

						<div class="form__field">
							<input class="x" name="name" type="text" placeholder="Ваше имя"/>
							<input name="name_true" type="text" placeholder="Ваше имя"/>
						</div>

						<div class="form__field">
							<input name="email" type="text" placeholder="Электронная почта"/>
						</div>

						<div class="form__field">
							<input name="phone" type="tel" placeholder="Телефон"/>
						</div>

					</div>

					<div class="col-x6">

						<div class="form__field">
							<input name="url" type="text" placeholder="Адрес сайта"/>
						</div>

						<div class="form__field">
							<textarea name="description" placeholder="Основные товары и услуги"></textarea>
						</div>

					</div>

				</div>

				<div class="form__submit-holder">
					<a class="btn-submit" href="#">Отправить <i></i></a>
				</div>

			</div>
		
		{{ active_form_end() }}
	</div><!-- /.b-order__container -->

	<div class="b-order__phone">
		<span>или позвоните  <strong>8 (800) 775&ndash;67&ndash;49</strong></span> <span>— бесплатно по России</span>
	</div>

</div><!-- /.b-order -->