﻿<div class="b-aftermath">
	<div class="b-aftermath__container">

		<h2 class="b-aftermath__title">
			{{ s.name }}
		</h2>

		<div class="b-aftermath__content">
			<ul class="list list--cancel">
				<li>
					Покупаются переходы нецелевых клиентов
				</li>
				<li>
					Упускается значительная часть целевой аудитории
				</li>
				<li>
					Из-за плохих посадочных страниц теряются реальные клиенты
				</li>
				<li>
					На привлечение одного клиента тратится больше денег, чем у ваших конкурентов
				</li>
			</ul>
		</div>

	</div><!-- /.b-aftermath__container -->
</div><!-- /.b-aftermath -->

<div class="b-context-result">
	<p>
		С нами вы можете быть уверены, что контекстная реклама работает идеально!
	</p>
</div>