﻿	<div class="b-context__content" data-context={{c.id}}>
	<header>
		<h3>
			Кампания по запросу {{ c.search_request }}
		</h3>
	</header>

	<p>
		Прогноз бюджета {{ decl.rub(c.forecast_request_price) }} за клик в спецразмещении по запросу «{{ c.search_request }}»
	</p>

	<a data-lightbox="image-1" class="link-image" href="{{ url('/uploads/img/'~c.forecast_img) | raw }}"><img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/'~c.forecast_img, 680, 300) | raw }}" alt=""/></a>

	<article>
		<h3>Результат кампании <span>На {{ (c.forecast_request_price/c.result_request_price*100 - 100)|round }}% дешевле прогноза</span></h3>

		<p><strong>Запрос «{{ c.search_request }}»:</strong> {{ decl.click(c.result_request_clicks)}} по {{ decl.rub(c.result_request_price) }} </p>

		<p><strong>Вся кампания:</strong> {{ decl.click(c.result_compaign_clicks) }} по {{ decl.rub(c.result_compaign_price) }} </p>
	</article>

	<a data-lightbox="image-2" class="link-image" href="{{ url('/uploads/img/'~c.result_img) }}"><img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/'~c.result_img, 680, 300) | raw }}" alt=""/></a>
	</div>