﻿<div class="b-process__item">
	<div class="item__num item__col"><span class="num">{{ loop.index }}</span></div>
	<h3 class="item__title item__col">
		{{ subsec.name }}
	</h3>
	<p class="item__text item__col">
		{{ subsec.description }}
	</p>
</div>