﻿<div class="b-process">
	<div class="b-process__container">

		<h2 class="b-process__title">
			{{ s.name }}
		</h2>

		<div class="b-process__content">
			{% for subsec in s.sections %}
				{% include '@app/views/sections'~Url.to('@web')~'/'~subsec.tpl %}
			{% endfor %}
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">1</span></div>
				<h3 class="item__title item__col">
					Формируется список целевых запросов
				</h3>
				<p class="item__text item__col">
					Целевой запрос — это слово или словосочетание, по которому пользователь ищет необходимую ему информацию или товар. Правильный подбор наиболее важных поисковых запросов, соответствующих тематике вашего сайта — важная задача.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">2</span></div>
				<h3 class="item__title item__col">
					Запросы группируются по целям пользователя
				</h3>
				<p class="item__text item__col">
					Например, запросы по автомобилям FORD можно сгруппировать по моделям «Ford Focus», «Ford Mondeo», «Ford Kuga». Группировка запросов дает возможность создавать объявления под разные потребности целевой аудитории.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">3</span></div>
				<h3 class="item__title item__col">
					Создаются релевантные объявления
				</h3>
				<p class="item__text item__col">
					Рекламные сообщения, написанные под конкретную потребность, привлекают внимание потенциального клиента лучше, чем 1 общий текст для всех целевых запросов. Индивидуальные объявления повышают CTR рекламной кампании и позволяют снизить стоимость клика в 2-3 раза.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">4</span></div>
				<h3 class="item__title item__col">
					Создаются релевантные посадочные страницы
				</h3>
				<p class="item__text item__col">
					Страница должна соответствовать тексту рекламного объявления и содержать подробную информацию о продукции. Если пользователь перешел с рекламного объявления и не нашел нужной информации – Вы потратили деньги зря.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">5</span></div>
				<h3 class="item__title item__col">
					Исключаются показы объявлений нецелевой аудитории
				</h3>
				<p class="item__text item__col">
					Например, если вы продаете автомобили, но не занимаетесь ремонтом, то запрос «ремонт автомобилей» является нецелевым. Соответственно, исключив показы объявлений по «мусорным» запросам, мы улучшаем CTR и снижаем стоимость 1 клика.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">6</span></div>
				<h3 class="item__title item__col">
					Выбирается оптимальная стратегия показов рекламы
				</h3>
				<p class="item__text item__col">
					Стратегия показов напрямую влияет на позицию объявления в рекламном блоке и стоимость клика. Правильная стратегия должна соответствовать позиционированию вашей компании на рынке, рекламной политике, целям и бюджету.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">7</span></div>
				<h3 class="item__title item__col">
					Устанавливается счетчик статистики и «цели» на сайт
				</h3>
				<p class="item__text item__col">
					ЛАЛАЛА Например, запросы по автомобилям FORD можно сгруппировать по моделям «Ford Focus», «Ford Mondeo», «Ford Kuga». Группировка запросов дает возможность создавать объявления под разные потребности целевой аудитории.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">8</span></div>
				<h3 class="item__title item__col">
					Рекламная кампания тестируется 1-2 недели
				</h3>
				<p class="item__text item__col">
					ЛАЛАЛА Например, запросы по автомобилям FORD можно сгруппировать по моделям «Ford Focus», «Ford Mondeo», «Ford Kuga». Группировка запросов дает возможность создавать объявления под разные потребности целевой аудитории.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">9</span></div>
				<h3 class="item__title item__col">
					Анализируется статистика рекламной кампании
				</h3>
				<p class="item__text item__col">
					Анализ рекламной кампании позволяет определить нерентабельные поисковые запросы и исключить показ рекламы. Результатом анализа является перечень корректировок поисковых запросов, текстов объявлений и «минус-слов».
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">10</span></div>
				<h3 class="item__title item__col">
					Анализируется поведение пользователей на сайте
				</h3>
				<p class="item__text item__col">
					Анализ поведения пользователей позволяет выявить проблемы на сайте, которые снижают конверсию пользователей в обращения, реальные продажи товара. Результатом анализа является перечень корректировок на сайте.
				</p>
			</div>
			<div class="b-process__item">
				<div class="item__num item__col"><span class="num">11</span></div>
				<h3 class="item__title item__col">
					Рекламная кампания и посадочные страницы корректируются
				</h3>
				<p class="item__text item__col">
					ЛАЛАЛАнализ поведения пользователей позволяет выявить проблемы на сайте, которые снижают конверсию пользователей в обращения, реальные продажи товара. Результатом анализа является перечень корректировок на сайте.
				</p>
			</div>
		</div><!-- /.b-process__content -->

	</div><!-- /.b-process__container -->
</div><!-- /.b-process -->