<div class="b-showcase">
	<div class="b-showcase__container">

		<h2 class="b-showcase__title">
			Некоторые примеры нашей работы {{ s.name }}
		</h2>

		<div class="b-showcase__nav">
			<div class="nav__base" data-context-show="true">
				<h3 class="nav__title">
					Запросы:
				</h3>
				<ul class="nav__list">
					{% for c in context %}
						<li class="nav__list_item" data-button="{{ c.id }}">
							<a class="nav__list_link" href="#">{{ c.search_request }}</a>
						</li>
					{% endfor %}
					<li class="nav__list_item">
						<a class="nav__list_link" href="#">Дорогие свадебные платья</a>
					</li>
				</ul>
			</div>
			<div class="nav__short">
				<h3 class="nav__title">
					Выберите запрос:
				</h3>
				<div class="nav__select">
					<select>
						<option value="1">Заправка газовых баллонов</option>
						<option value="2">Значение 2</option>
						<option value="3">Значение 3</option>
					</select>
				</div>
			</div>
		</div>
		<section class="b-showcase__content">

			<footer>
				<a class="btn btn--left">Назад</a>
				<a class="btn btn--right">Следующий запрос</a>
			</footer>

		</section>

	</div><!-- /.b-showcase__container -->
</div><!-- /.b-showcase -->