﻿<div class="b-advantages">

	<h2 class="b-advantages__title">
		Почему с нами выгодно работать? {{ s.name }}
	</h2>

	<div class="col">
		<ul class="list list--checked">
			<li>
				Мы анализируем специфику Вашего бизнеса, клиентов и конкурентов;
			</li>
			<li>
				Мы создаем рекламу исходя из Ваших задач, рекламной политики и бюджета;
			</li>
			<li>
				Мы предлагаем платить только за потенциальных клиентов и реальные обращения;
			</li>
			<li>
				Мы предлагаем конкретные решения, направленные на увеличение продаж;
			</li>
		</ul>
	</div>

	<div class="col">
		<ul class="list list--checked">
			<li>
				Мы готовые отвечать на Ваши вопросы столько, сколько потребуется;
			</li>
			<li>
				Мы предлагаем индивидуальные условия работы;
			</li>
			<li>
				Оплата наших услуг не зависит от размера Вашего рекламного бюджета;
			</li>
			<li>
				Нам доверяют более 468 клиентов из 21 города России;
			</li>
			<li>
				Мы работаем на рынке более 6 лет;
			</li>
		</ul>
	</div>

</div><!-- /.b-advantages -->