<div class="b-seo-ya__content">
	<h2>
		{{ s.name }}
	</h2>

	{{ s.short_desc | raw }}

	{% set alias = path('')|split('?').0 %}

	{% for sec in s.sections %}
		{% include '//sections'~alias~'/'~sec.tpl %}
	{% endfor %}

	{{ s.description | raw }}

</div><!-- /.b-seo-ya__content -->
