<div class="b-map-contacts" data-map="true">
	<div class="map-holder" id="map">
		<script type="text/javascript" charset="utf-8" src="	https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=9O6LWU1dKsK-LS7PXRSrpOuGe9CYdpwp"></script>
		<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=xJFqoTSSiQOPp52vMvXe0up0fBnF2MrU"></script>
	</div>
	{{ s.content | raw }}
	<div class="map-bubble">
		<ul class="list">
			<li class="list__item"><a data-adress="moscow" class="list__link">Москва</a></li>
			<li class="list__item"><a data-adress="samara" class="list__link">Самара </a></li>
		</ul>

		<div class="text" data-adress="moscow">
			<p class="address">
				443013, Россия, Москва, Московское шоссе, 4А, Бизнес центр «Скала Холл», 18 этаж
			</p>
			<p class="phone">
				<strong>(846) 205 74 73</strong>
			</p>
			<p class="work-time">
				Понедельник-Пятница,
				10:00&nbsp;—&nbsp;19:00
			</p>
		</div>

		<div class="text" data-adress="samara">
			<p class="address">
				443013, Россия, Самара, Московское шоссе, 4А, Бизнес центр «Скала Холл», 18 этаж
			</p>
			<p class="phone">
				<strong>(846) 205 74 73</strong>
			</p>
			<p class="phone">
				<strong>8 800 543 53 41</strong>
				Бесплатный звонок по России
			</p>
			<p class="work-time">
				Понедельник-Пятница,
				10:00&nbsp;—&nbsp;19:00
			</p>
		</div>

	</div>
</div>