﻿<div class="b-history">
	<div class="b-history__container">

		<h2 class="b-history__title">
			{{ s.name }}
		</h2>

		<div class="b-history__photo">
			<div class="b-history__photo_item">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-story-1.jpg', 220, 140) | raw }}" alt=""/>
			</div>
			<div class="b-history__photo_item">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-story-1.jpg', 220, 140) | raw }}" alt=""/>
			</div>
		</div>

		<div class="b-history__content">
			<p>
				Компания была основана в 2004 году в Самаре и изначально занималась разработкой сайтов. По мере роста опыта и размера компании, компания все больше специализировалась на интернет маркетинге.
			</p>
			<p>
				Компании было тесно в масштабах Самары и мы стали активно выходить на федеральный рынок. Первые клиенты по продвижению в Москве и других регионах у нас появились в 2007 году.
			</p>
			<p>
				Так же мы быстро осознали, что наш уровень понимания маркетинга позволяет делать собственные успешные проекты. Так появились
				<a href="http://svadba-msk.ru">svadba-msk.ru</a> (2007 год), <a href="http://samara24.ru">samara24.ru</a> (2009 год),
				<a href="http://gorko.ru">gorko.ru</a> (2011 год).
			</p>
			<p>
				В последствии samara24.ru была продана издательству Hearst Shkulev Media, чтобы компания могла сосредоточиться на федеральных клиентах и проектах.
			</p>
			<p>
				На данный момент компания заточена под решение комплексных маркетинговых задач в интернете и состоит из специалистов по разработке, продвижения, контекстной и медийной рекламе, аналитике.
			</p>
		</div><!-- /.b-history__content -->

	</div><!-- /.b-history__container -->
</div><!-- /.b-history -->