<div class="b-order b-order--short" data-show-form="true">
	<div class="b-order__container">

		<form class="b-order__form" action="#">

			<h2 class="form__header">
				<a class="btn-show-form"  data-btn-show="true">Оставьте заявку</a>
				<span>
					и мы свяжемся с Вами в течение 24 часов
				</span>
			</h2>

			<div class="form__body">

				<div class="form__row">

					<div class="form__field">
						<label class="form__checkbox" for="checkbox-1">
							<input checked="checked" class="checkbox-input" type="checkbox" name="checkbox-1" id="checkbox-1"/>
							<span class="checkbox-label">Поисковое продвижение</span>
						</label>
					</div>

					<div class="form__field">
						<label class="form__checkbox" for="checkbox-2">
							<input class="checkbox-input" type="checkbox" name="checkbox-2" id="checkbox-2"/>
							<span class="checkbox-label">Повышение конверсии</span>
						</label>
					</div>

					<div class="form__field">
						<label class="form__checkbox" for="checkbox-3">
							<input class="checkbox-input" type="checkbox" name="checkbox-3" id="checkbox-3"/>
							<span class="checkbox-label">Медийная реклама</span>
						</label>
					</div>

				</div>

				<div class="form__row">

					<div class="col-x6">

						<div class="form__field">
							<input type="text" placeholder="Ваше имя"/>
						</div>

						<div class="form__field">
							<input type="text" placeholder="Электронная почта"/>
						</div>

						<div class="form__field">
							<input type="text" placeholder="Телефон"/>
						</div>

					</div>

					<div class="col-x6">

						<div class="form__field">
							<input type="text" placeholder="Адрес сайта"/>
						</div>

						<div class="form__field">
							<textarea placeholder="Основные товары и услуги"></textarea>
						</div>

					</div>

				</div>

				<div class="form__submit-holder">
					<a class="btn-submit" href="#">Отправить <i></i></a>
				</div>

			</div>
		</form>

	</div><!-- /.b-order__container -->

	<div class="b-order__phone">
		<span>или позвоните  <strong>8 (800) 543&ndash;53&ndash;41</strong></span> <span>— бесплатно по России</span>
	</div>

</div><!-- /.b-order -->