<div class="b-slider-about">
	<div class="b-slider-about__container">
		{% for p in params %}
		  <a target="_blank" href="/dev/{{p.id}}"><img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/'~p.logo, 590000, 50, 'inset') | raw }}" alt=""/></a>
		{% endfor %}
	</div><!-- /.b-slider-about__container -->
</div><!-- /.b-slider-about -->
