﻿<div class="b-puzzle">

	<div class="b-puzzle__container">
		<a class="item item-1" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-1.jpg', 140, 140) | raw }}"></a>
		<a class="item item-2" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-2.jpg', 140, 140) | raw }}"></a>
		<div class="item item-3">
			<p>
				{{ s.name }}
			</p>
		</div>
		<a class="item item-4" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-4.jpg', 300, 300) | raw }}"></a>
		<a class="item item-5" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-5.jpg', 140, 140) | raw }}"></a>
		<a class="item item-6" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-6.jpg', 140, 140) | raw }}"></a>
		<a class="item item-7" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-7.jpg', 300, 300) | raw }}"></a>
		<a class="item item-8" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-8.jpg', 300, 300) | raw }}"></a>
		<a class="item item-9" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-9.jpg', 300, 300) | raw }}"></a>
		<a class="item item-10" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-10.jpg', 140, 140) | raw }}"></a>
		<a class="item item-11" data-bg="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/photo-11.jpg', 140, 140) | raw }}"></a>

	</div><!-- /.b-puzzle__container -->

</div><!-- /.b-puzzle -->
