<div class="b-history teaser">
	<div class="b-history__container">
		<div class="b-history__block__content {{ s.gallerys.0.title }}">
      {% if s.gallerys.0.path is not empty %}
        <div class="b-history__image">
          <img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~s.gallerys.0.path, 145, 100000, 'inset') | raw }}" alt=""/>
        </div>
      {% endif %}
      <span class="title">{{ s.name }}</span>
			<span>{{ s.content | raw }}</span>
		</div><!-- /.b-history__content -->
	</div><!-- /.b-history__container -->
</div><!-- /.b-history -->
