<div class="b-history">
	<div class="b-history__container">

		<h2 class="b-history__title">
			{{ s.name }}
		</h2>
		<div class="b-history__content">
			{{ s.content | raw }}
		</div><!-- /.b-history__content -->
		<div class="b-history__photo">
			<div class="b-history__photo_item">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/svadba.png', 220, 68, 'inset') | raw }}" alt=""/>
			</div>
			<div class="b-history__photo_item">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/gorko.png', 220, 68, 'inset') | raw }}" alt=""/>
			</div>
			<div class="b-history__photo_item">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/about/logo_samara.png', 220, 68, 'inset') | raw }}" alt=""/>
			</div>
		</div>
	</div><!-- /.b-history__container -->
</div><!-- /.b-history -->
