<div class="b-history">
	<div class="b-history__container">

		<h3 class="b-history__section__title">
			{{ s.name }}
		</h3>

		<div class="b-history__content">
			{{ s.content | raw }}
		</div><!-- /.b-history__content -->
    {% if s.gallerys.0.path is not empty %}
      <div class="b-history__image">
        <img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~s.gallerys.0.path, 960, 100000, 'inset') | raw }}" alt=""/>
        {% if s.gallerys.0.title is not empty %}
          <span class="img_title">{{ s.gallerys.0.title }}</span>
        {% endif %}
      </div>
    {% endif %}
	</div><!-- /.b-history__container -->
</div><!-- /.b-history -->
