@page-bg: #ffffff;
@page-text: #ffffff;

@header-bg: rgba(13,21,26,0.4);
@header-menu-border: rgba(242,242,242,0.1);
@header-menu-item--active: #c0c0c0;
@header-phone-text: rgba(255,255,255,0.5);

@footer-bg: #364248;

@link-normal: #00bff3;
@link-hover: #0099dd;
@link-active: #ffffff;

@base-color-1: #364248;
@base-color-2: #4c5d66;
@base-color-3: #ffa543;
@base-color-4: #be2370;
@base-color-5: #23afa0;
@base-color-6: #ffffff;
@base-color-7: #7aaa1c;
@base-color-8: #f3f3ef;
@base-color-9: #999999;
@base-color-10: #666666;
@base-color-11: #242e33;
@base-color-12: #acacac;
@base-color-13: #a1a1a1;

@base-bg-color-1: #f9f9f7;
@base-bg-color-2: #ff4c5d;
@base-bg-color-3: #ffffff;
@base-bg-color-4: #23afa0;
@base-bg-color-5: #20a194;
@base-bg-color-6: #d7d7d7;
@base-bg-color-7: #f3f3ef;

@work-scheme-separator: #ebebeb;

@slider-promo-separator: rgba(255,255,255,0.4);

@feedback-text-bg: #4a555b;
@feedback-item-title: #7b8a92;

@feedback-img-border: #242e33;

@order-border: #e1e1e1;
@order-phone-text: #777777;

@warning: #c5393c;

@seo-separator-1: #e5e6e6;

@cms-border: #ebebeb;

@icon-fb: #4b69b4;
@icon-tw: #00abec;
@icon-vk: #406c9a;