.container
{
  width: 100%;
  max-width: 1000px;
  min-width: 465px;
  position: relative;
  z-index: 100;
  margin: 0 auto;
  .border-box;
  padding: 0 20px;
  
  @media (min-width: 768px) and (max-width: 1000px)
  {
    padding: 0 24px;
  }
  
}

.grids-feedback-clients
{
  .col
  {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 10px;
    margin: 0 -4px 0 0;
    .border-box;
    width: 33.3%;
  }

  @media (min-width: 614px) and (max-width: 864px) {

    .col
    {
      width: 50%;
      &:nth-child(1)
      {
        padding-left: 0;
      }
      &:nth-child(2)
      {
        padding-right: 0;
      }
      &:nth-child(3)
      {
        display: none;
      }
    }

  }

  @media (max-width: 614px) {

    .col
    {
      width: 100%;
      padding: 0;
      & + .col
      {
        margin-top: 10px;
      }
    }
  }
  
}

.cols-split(@n, @width, @padding-custom)
{
  @totalwidth: @n * @width + @padding-custom*2;
  @totalpaddings: (@n - 1)*2;
  @m: @n - 1;
  @padding: calc(~"(100% - " @totalwidth ~")/" @totalpaddings);
  .col
  {
    margin: 0 -4px 0 0;
    width: @width;
    padding-left: @padding;
    padding-right: @padding;
    display: inline-block;
    vertical-align: top;
    &:nth-child(@{n}n - @{m})
    {
      padding-left: @padding-custom;
    }
    &:nth-child(@{n}n)
    {
      padding-right: @padding-custom;
    }
  }
}

.grids-feedback-docs
{

  @media (min-width: 1000px)
  {
    .cols-split(6,140px,10px);
  }

  @media (min-width: 864px) and (max-width: 1000px)
  {
    .cols-split(5,140px,10px);
  }

  @media (min-width: 678px) and (max-width: 864px)
  {
    .cols-split(4,140px, 0);
  }

  @media (max-width: 678px)
  {
    .cols-split(3,140px, 0);
  }

}

.grid-column(@n)
{
  width: 100% * @n / 12;
  display: inline-block;
  vertical-align: top;
  margin: 0 -4px 0 0;
  position: relative;
  z-index: 100;
  .border-box;
  padding: 0 10px;
}