.no-select
{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-ios
{
  -webkit-appearance: none;
}

.btn
{
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.transition-background
{
  .transition(background, 0.15s,linear);
}

.placeholder-color(@color)
{
  &::-webkit-input-placeholder {
    color: @color;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: @color;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: @color;
  }

  &:-ms-input-placeholder {
    color: @color;
  }
}

.ui-checkbox-item()
{
  .no-select;
  display: inline-block;
  background: @base-color-6;
  cursor: pointer;
  padding: 0 16px 0 36px;
  .border-radius(18px);
  input
  {
    display: none;
  }
  span
  {
    display: block;
    .ff-helvetica-reg;
    font-size: 14px;
    line-height: 35px;
    color: @base-color-1;
    position: relative;
    &:before
    {
      content: "";
      width: 10px;
      height: 10px;
      border: 1px solid #a4a6a9;
      border-right-color: #8c8f92;
      border-top-color: #8d9296;
      border-bottom-color: #9b9ea2;
      .border-radius(3px);
      position: absolute;
      left: -21px;
      top: 10px;
      .gradient(top, #ffffff, #ededed);
      -webkit-box-shadow: inset 0 -1px 1px #ffffff;
      -moz-box-shadow: inset 0 -1px 1px #ffffff;
      box-shadow: inset 0 -1px 1px #ffffff;
    }
  }
  input:checked + span
  {
    &:before
    {
      border-top-color: #565ca5;
      border-right-color: #5d5e8c;
      border-bottom-color: #68758d;
      border-left-color: #6c7bb5;
      .gradient(top, #abe1ff, #dff9ff);
      -webkit-box-shadow: inset 0 -1px 1px #daffff;
      -moz-box-shadow: inset 0 -1px 1px #daffff;
      box-shadow: inset 0 -1px 1px #daffff;
    }
    &:after
    {
      content: "õ";
      color: #001029;
      font-size: 24px;
      .ff-symbols;
      line-height: 1;
      position: absolute;
      left: -25px;
      top: 3px;
    }
  }
}

.ui-input-text(@width, @height)
{
  width: @width - 2px - 18px;
  height: @height - 2px;
  border: 1px solid #b3b3b3;
  background: #ffffff;
  padding: 0 9px;
  margin: 0;
  .no-ios;
  .ff-helvetica-reg;
  font-size: 14px;
  line-height: @height - 2px;
  .placeholder-color(#999999);
  outline: none;
  .border-radius(0);
  color: #4c5d66;
  &.error
  {
    border-color: #f38f91;
  }
}

.ui-textarea(@width, @height)
{
  width: @width - 2px - 18px;
  height: @height - 2px - 8px*2;
  border: 1px solid #b3b3b3;
  background: #ffffff;
  padding: 8px 9px;
  margin: 0;
  .no-ios;
  .ff-helvetica-reg;
  font-size: 14px;
  line-height: 18px;
  .placeholder-color(#999999);
  outline: none;
  .border-radius(0);
  color: #4c5d66;
  resize: none;
  &.error
  {
    border-color: #f38f91;
  }
}

.ui-bg-green
{
  background: @base-bg-color-4;
  .transition-background;
  &:hover
  {
    background: @base-bg-color-5;
  }
}

.ui-btn-green(@width, @height)
{
  .btn;
  width: @width;
  height: @height;
  font-size: 18px;
  line-height: @height;
  text-align: center;
  .ff-helvetica-medium;
  color: #ffffff;
  .border-radius(@height / 2);
  .ui-bg-green;
}

.ui-btn-small(@width, @height)
{
  .btn;
  width: @width;
  height: @height;
  font-size: 15px;
  line-height: @height;
  text-align: center;
  .ff-helvetica-medium;
  color: @base-color-2;
  .border-radius(@height / 2);
  background: #dff0e3;
  .transition-background;
  &:hover
  {
    background: #cae8d1;
  }
}

.ui-btn-showcase
{
  .btn;
  color: @base-color-2;
  display: inline-block;
  .ff-helvetica-medium;
  padding: 0 20px;
  font-size: 13px;
  line-height: 30px;
  .border-radius(5px);
  background: #dff0e3;
  .transition-background;
  &:hover
  {
    background: #cae8d1;
  }
}

.form(@width: 640px)
{
  width: @width;
  margin: 0 auto;

  .col-x6
  {
    margin: 0 10px;
  }

  .form__row
  {
    .group;
    width: @width;
  }

  .form__checkbox
  {
    .ui-checkbox-item;
  }

  & when (@width >= 640px)
  {
    input[type="text"]
    {
      .ui-input-text(@width / 2 - 20px, 35px);
    }
    .col-x6
    {
      width: @width / 2 - 20px;
      float: left;
    }
    textarea
    {
      .ui-textarea(@width / 2 - 20px, 90px);
    }
    .form__row
    {
      white-space: nowrap;

      & + .form__row
      {
        margin-top: 9px;
      }

      & > .form__field
      {
        float: left;
        display: inline-block;
        margin-right: 16px;
        &:last-child
        {
          margin-right: 0;
        }
      }
    }
    .form__field
    {
      margin: 0 0 20px 0;
    }
  }

  & when (@width < 640)
  {
    input[type="text"]
    {
      .ui-input-text(@width - 20px, 35px);
    }
    .col-x6
    {
      width: @width - 20px;
      .form__field
      {
        margin: 0 0 20px 0;
      }
    }
    textarea
    {
      .ui-textarea(@width - 20px, 90px);
    }
    .form__checkbox
    {
      display: block;
      margin: 0 10px;
    }
    .form__field
    {
      margin: 0 0 10px 0;
    }
    .form__row
    {
      & + .form__row
      {
        margin-top: 20px;
      }
    }
  }

  .form__submit-holder
  {
    text-align: center;
    padding: 6px 0 0 0;
  }

  .btn-submit
  {
    .ui-btn-green(200px,45px);
    i
    {
      display: inline-block;
      .sprite(@b-order__btn-submit);
      margin: 0 0 0 4px;
      position: relative;
      top: 3px;
    }
  }
}

.btn-site-link
{
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
  color: @base-color-6;
  .ui-bg-green;
  display: inline-block;
  .border-radius(10px);
  .ff-helvetica-medium;
}

.ui-list
{
  .ff-helvetica-reg;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  padding: 24px 0;
  margin: 0;
  li
  {
    position: relative;
    margin-top: 10px;
    &:first-child
    {
      margin-top: 0;
    }
  }
}

.list--checked
{
  li
  {
    padding: 0 30px;
    &:before
    {
      content: "";
      .sprite(@list-style-checked);
      position: absolute;
      left: 1px;
      top: 2px;
    }
  }
  @media (min-width: 768px) and (max-width: 1000px) {

    li
    {
      padding: 0 0 0 30px;
    }

  }
}

.list--checked-2
{
  li
  {
    padding: 0 40px;
    &:before
    {
      content: "";
      .sprite(@list-style-checked);
      position: absolute;
      left: 1px;
      top: 2px;
    }
  }
  @media (min-width: 768px) and (max-width: 1000px) {

    li
    {
      padding: 0 0 0 40px;
    }

  }
}

.list--cancel
{
  li
  {
    padding: 0 40px;
    &:before
    {
      content: "";
      .sprite(@list-style-cancel);
      position: absolute;
      left: 1px;
      top: 2px;
    }
  }
  @media (min-width: 768px) and (max-width: 1000px) {

    li
    {
      padding: 0 0 0 40px;
    }

  }
}

.ui-select(@width: 402px, @height: 32px)
{
  width: @width - 2px;
  height: @height - 2px;
  border: 1px solid #b6b6b3;
  .border-radius(5px);
  overflow: hidden;
  .gradient(top, #ffffff, #f5f5f5);
  outline: none;
  position: relative;
  &:before
  {
    content: "";
    .sprite(@select-arrow);
    position: absolute;
    right: 10px;
    top: 8px;
  }
  select
  {
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
    display: block;
    width: @width + 10px;
    height: @height - 2px;
    border: none;
    padding: 0 0 0 10px;
    font-size: 16px;
    line-height: @height - 2px;
    color: @base-color-2;
    .ff-helvetica-reg;
  }
}

.title-separator(@width, @color)
{
  position: relative;
  &:after
  {
    content: "";
    position: absolute;
    left: 1px;
    bottom: 0;
    width: @width;
    height: 3px;
    background: @color;
  }
}