/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@b-case-next-x: 0px;
@b-case-next-y: 0px;
@b-case-next-offset-x: 0px;
@b-case-next-offset-y: 0px;
@b-case-next-width: 5px;
@b-case-next-height: 10px;
@b-case-next-total-width: 225px;
@b-case-next-total-height: 1462px;
@b-case-next-image: '../img/sprites/spritesheet.png';
@b-case-next: 0px 0px 0px 0px 5px 10px 225px 1462px '../img/sprites/spritesheet.png';
@b-case-prev-x: 0px;
@b-case-prev-y: 10px;
@b-case-prev-offset-x: 0px;
@b-case-prev-offset-y: -10px;
@b-case-prev-width: 5px;
@b-case-prev-height: 10px;
@b-case-prev-total-width: 225px;
@b-case-prev-total-height: 1462px;
@b-case-prev-image: '../img/sprites/spritesheet.png';
@b-case-prev: 0px 10px 0px -10px 5px 10px 225px 1462px '../img/sprites/spritesheet.png';
@b-order__btn-submit-x: 0px;
@b-order__btn-submit-y: 127px;
@b-order__btn-submit-offset-x: 0px;
@b-order__btn-submit-offset-y: -127px;
@b-order__btn-submit-width: 25px;
@b-order__btn-submit-height: 20px;
@b-order__btn-submit-total-width: 225px;
@b-order__btn-submit-total-height: 1462px;
@b-order__btn-submit-image: '../img/sprites/spritesheet.png';
@b-order__btn-submit: 0px 127px 0px -127px 25px 20px 225px 1462px '../img/sprites/spritesheet.png';
@bitrix-x: 0px;
@bitrix-y: 298px;
@bitrix-offset-x: 0px;
@bitrix-offset-y: -298px;
@bitrix-width: 114px;
@bitrix-height: 75px;
@bitrix-total-width: 225px;
@bitrix-total-height: 1462px;
@bitrix-image: '../img/sprites/spritesheet.png';
@bitrix: 0px 298px 0px -298px 114px 75px 225px 1462px '../img/sprites/spritesheet.png';
@img-zoom-x: 0px;
@img-zoom-y: 233px;
@img-zoom-offset-x: 0px;
@img-zoom-offset-y: -233px;
@img-zoom-width: 65px;
@img-zoom-height: 65px;
@img-zoom-total-width: 225px;
@img-zoom-total-height: 1462px;
@img-zoom-image: '../img/sprites/spritesheet.png';
@img-zoom: 0px 233px 0px -233px 65px 65px 225px 1462px '../img/sprites/spritesheet.png';
@list-style-cancel-x: 0px;
@list-style-cancel-y: 91px;
@list-style-cancel-offset-x: 0px;
@list-style-cancel-offset-y: -91px;
@list-style-cancel-width: 18px;
@list-style-cancel-height: 18px;
@list-style-cancel-total-width: 225px;
@list-style-cancel-total-height: 1462px;
@list-style-cancel-image: '../img/sprites/spritesheet.png';
@list-style-cancel: 0px 91px 0px -91px 18px 18px 225px 1462px '../img/sprites/spritesheet.png';
@list-style-checked-x: 0px;
@list-style-checked-y: 109px;
@list-style-checked-offset-x: 0px;
@list-style-checked-offset-y: -109px;
@list-style-checked-width: 19px;
@list-style-checked-height: 18px;
@list-style-checked-total-width: 225px;
@list-style-checked-total-height: 1462px;
@list-style-checked-image: '../img/sprites/spritesheet.png';
@list-style-checked: 0px 109px 0px -109px 19px 18px 225px 1462px '../img/sprites/spritesheet.png';
@logo--footer-x: 0px;
@logo--footer-y: 147px;
@logo--footer-offset-x: 0px;
@logo--footer-offset-y: -147px;
@logo--footer-width: 140px;
@logo--footer-height: 43px;
@logo--footer-total-width: 225px;
@logo--footer-total-height: 1462px;
@logo--footer-image: '../img/sprites/spritesheet.png';
@logo--footer: 0px 147px 0px -147px 140px 43px 225px 1462px '../img/sprites/spritesheet.png';
@logo--main-x: 0px;
@logo--main-y: 190px;
@logo--main-offset-x: 0px;
@logo--main-offset-y: -190px;
@logo--main-width: 225px;
@logo--main-height: 43px;
@logo--main-total-width: 225px;
@logo--main-total-height: 1462px;
@logo--main-image: '../img/sprites/spritesheet.png';
@logo--main: 0px 190px 0px -190px 225px 43px 225px 1462px '../img/sprites/spritesheet.png';
@modx-x: 0px;
@modx-y: 459px;
@modx-offset-x: 0px;
@modx-offset-y: -459px;
@modx-width: 88px;
@modx-height: 98px;
@modx-total-width: 225px;
@modx-total-height: 1462px;
@modx-image: '../img/sprites/spritesheet.png';
@modx: 0px 459px 0px -459px 88px 98px 225px 1462px '../img/sprites/spritesheet.png';
@opencart-x: 0px;
@opencart-y: 373px;
@opencart-offset-x: 0px;
@opencart-offset-y: -373px;
@opencart-width: 106px;
@opencart-height: 86px;
@opencart-total-width: 225px;
@opencart-total-height: 1462px;
@opencart-image: '../img/sprites/spritesheet.png';
@opencart: 0px 373px 0px -373px 106px 86px 225px 1462px '../img/sprites/spritesheet.png';
@select-arrow-x: 0px;
@select-arrow-y: 60px;
@select-arrow-offset-x: 0px;
@select-arrow-offset-y: -60px;
@select-arrow-width: 7px;
@select-arrow-height: 15px;
@select-arrow-total-width: 225px;
@select-arrow-total-height: 1462px;
@select-arrow-image: '../img/sprites/spritesheet.png';
@select-arrow: 0px 60px 0px -60px 7px 15px 225px 1462px '../img/sprites/spritesheet.png';
@social-fb-x: 0px;
@social-fb-y: 75px;
@social-fb-offset-x: 0px;
@social-fb-offset-y: -75px;
@social-fb-width: 16px;
@social-fb-height: 16px;
@social-fb-total-width: 225px;
@social-fb-total-height: 1462px;
@social-fb-image: '../img/sprites/spritesheet.png';
@social-fb: 0px 75px 0px -75px 16px 16px 225px 1462px '../img/sprites/spritesheet.png';
@social-tw-x: 0px;
@social-tw-y: 32px;
@social-tw-offset-x: 0px;
@social-tw-offset-y: -32px;
@social-tw-width: 17px;
@social-tw-height: 14px;
@social-tw-total-width: 225px;
@social-tw-total-height: 1462px;
@social-tw-image: '../img/sprites/spritesheet.png';
@social-tw: 0px 32px 0px -32px 17px 14px 225px 1462px '../img/sprites/spritesheet.png';
@social-vk-x: 0px;
@social-vk-y: 20px;
@social-vk-offset-x: 0px;
@social-vk-offset-y: -20px;
@social-vk-width: 20px;
@social-vk-height: 12px;
@social-vk-total-width: 225px;
@social-vk-total-height: 1462px;
@social-vk-image: '../img/sprites/spritesheet.png';
@social-vk: 0px 20px 0px -20px 20px 12px 225px 1462px '../img/sprites/spritesheet.png';
@test-m2-x: 0px;
@test-m2-y: 557px;
@test-m2-offset-x: 0px;
@test-m2-offset-y: -557px;
@test-m2-width: 181px;
@test-m2-height: 181px;
@test-m2-total-width: 225px;
@test-m2-total-height: 1462px;
@test-m2-image: '../img/sprites/spritesheet.png';
@test-m2: 0px 557px 0px -557px 181px 181px 225px 1462px '../img/sprites/spritesheet.png';
@test-m5-x: 0px;
@test-m5-y: 738px;
@test-m5-offset-x: 0px;
@test-m5-offset-y: -738px;
@test-m5-width: 181px;
@test-m5-height: 181px;
@test-m5-total-width: 225px;
@test-m5-total-height: 1462px;
@test-m5-image: '../img/sprites/spritesheet.png';
@test-m5: 0px 738px 0px -738px 181px 181px 225px 1462px '../img/sprites/spritesheet.png';
@test-p0-x: 0px;
@test-p0-y: 919px;
@test-p0-offset-x: 0px;
@test-p0-offset-y: -919px;
@test-p0-width: 181px;
@test-p0-height: 181px;
@test-p0-total-width: 225px;
@test-p0-total-height: 1462px;
@test-p0-image: '../img/sprites/spritesheet.png';
@test-p0: 0px 919px 0px -919px 181px 181px 225px 1462px '../img/sprites/spritesheet.png';
@test-p2-x: 0px;
@test-p2-y: 1100px;
@test-p2-offset-x: 0px;
@test-p2-offset-y: -1100px;
@test-p2-width: 181px;
@test-p2-height: 181px;
@test-p2-total-width: 225px;
@test-p2-total-height: 1462px;
@test-p2-image: '../img/sprites/spritesheet.png';
@test-p2: 0px 1100px 0px -1100px 181px 181px 225px 1462px '../img/sprites/spritesheet.png';
@test-p5-x: 0px;
@test-p5-y: 1281px;
@test-p5-offset-x: 0px;
@test-p5-offset-y: -1281px;
@test-p5-width: 181px;
@test-p5-height: 181px;
@test-p5-total-width: 225px;
@test-p5-total-height: 1462px;
@test-p5-image: '../img/sprites/spritesheet.png';
@test-p5: 0px 1281px 0px -1281px 181px 181px 225px 1462px '../img/sprites/spritesheet.png';
@yandex-x: 0px;
@yandex-y: 46px;
@yandex-offset-x: 0px;
@yandex-offset-y: -46px;
@yandex-width: 35px;
@yandex-height: 14px;
@yandex-total-width: 225px;
@yandex-total-height: 1462px;
@yandex-image: '../img/sprites/spritesheet.png';
@yandex: 0px 46px 0px -46px 35px 14px 225px 1462px '../img/sprites/spritesheet.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
