@import "normalize.css";
@import "snippets.less";
@import "grid.less";
@import "type.less";
@import "colorscheme.less";
@import "sprites.less";
@import "interface.less";
@import "fotorama.less";
@import "lightbox.less";


/* ==========================================================================
   Helpers
   ========================================================================== */

.group
{
  &:after
  {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.border-box
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* ==========================================================================
   Links
   ========================================================================== */

.link
{
  color: @link-normal;
  .transition(color,0.15s,linear);
  &:hover
  {
    color:  @link-hover;
  }
}

.link-dotted(@margin-top: 0px)
{
  text-decoration: none;
  color: @link-normal;
  display: inline-block;
  position: relative;
  &:after
  {
    content: "";
    width: 100%;
    height: 1px;
    background: url(../img/links/dotted-blue.png) repeat-x 0 0;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: @margin-top;
  }
  &:hover
  {
    color: @link-hover;
    &:after
    {
      display: none;
    }
  }
}

.link-dotted-bg(@y)
{
  .link;
  text-decoration: none;
  display: inline;
  background: url(../img/links/dotted-blue.png) repeat-x 0 @y;
  &:hover
  {
    background: none;
  }
}

/* ==========================================================================
   Main
   ========================================================================== */

body
{
  background: @page-bg;
}

p
{
  font-size: 16px;
  line-height: 24px;
  color: @base-color-2;
  .ff-helvetica-reg;
  margin: 0;
}

.b-page
{
  width: 100%;
  min-width: 465px;
  z-index: 100;
  position: relative;
  overflow: hidden;
  margin-bottom: -145px;
  padding-bottom: 145px;
  min-height: 100%;
  .border-box;
  color: @page-text;
  //width: 768px;
  //width: 480px;

  a
  {
    text-decoration: none;
  }

  h2
  {
    font-size: 40px;
    .ff-helvetica-light;
  }
  h3
  {
    font-size: 25px;
    line-height: 30px;
    .ff-helvetica-reg;
  }
  h4
  {
    font-size: 15px;
    .ff-helvetica-bold;
  }
}

.b-content
{
  position: relative;
  z-index: 100;
}

.b-index-list
{
  width: 980px;
  margin: 0 auto;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
  li
  {
    margin: 0 0;
  }
  a
  {
    .link;
    font-size: 18px;
    line-height: 36px;
  }
}

/* ====================================
   b-header
   ==================================== */

.b-header
{
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
  z-index: 200;
  
  &.b-header--index
  {
    height: 700px;
  }
}

.b-header__video
{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  video
  {
    display: block;
    width: 100%;
    height: auto;
  }
}

// 1920 * 700 / 1080

@point1: 1245px;

.b-header--index
{

  @media (min-width: @point1) {
    .b-header__video
    {
      video
      {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (min-width: 768px) and (max-width: @point1) {

    .b-header__video
    {
      video
      {
        width: @point1;
        height: 700px;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: @point1/(-2);
      }
    }

  }

  @media (max-width: 768px)
  {
    .b-header__video
    {
      video
      {
        height: 100%;
        width: auto;
      }
    }
  }

}

// 1920 * 500 / 1080

@point2: 889px;

.b-header--company
{

  @media (min-width: @point2) {
    .b-header__video
    {
      video
      {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (min-width: 768px) and (max-width: @point2) {

    .b-header__video
    {
      video
      {
        width: @point1;
        height: 500px;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: @point1/(-2);
      }
    }

  }

  @media (max-width: 768px)
  {
    .b-header__video
    {
      video
      {
        height: 100%;
        width: auto;
      }
    }
  }

}

.b-header__top
{
  background: @header-bg;
  position: relative;
  z-index: 100;
  &:after
  {
    content: "";
    position: absolute;
    left: 0;
    top: 104px;
    width: 100%;
    height: 1px;
    background: @header-menu-border;
    z-index: 200;
  }
}

.b-header__container
{
  .container;
  height: 160px;
}

.b-header__logo-holder
{
  height: 105px;
}

.b-header__logo
{
  .btn;
  .sprite(@logo--main);
  margin: 30px 0 0 12px;
}

.b-header__menu
{
  .menu
  {
    width: 100%;
    position: relative;
    margin: 0;
    list-style: none;
    padding: 0;
    .ff-helvetica-medium;
    font-size: 16px;
    line-height: 55px;
  }
  .menu__item
  {
    display: inline-block;
    padding: 0 1.53em;
    vertical-align: top;
    &:first-child
    {
      padding-left: 10px;
    }
    &:last-child
    {
      padding-right: 0px;
    }
  }
  .menu__link
  {
    display: block;
    color: @link-normal;
    position: relative;
    .transition(color, 0.15s,linear);
    &:hover
    {
      color: @link-hover;
    }
  }
  .menu__item--active
  {
    .menu__link
    {
      cursor: default;
      &:before
      {
        content: "";
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: 1px;
        background: @header-menu-item--active;
      }
      color: @link-active;
    }
  }
}

.b-header__phone
{
  position: absolute;
  top: 38px;
  z-index: 200;
  right: 27px;

  .phone
  {
    .ff-helvetica-light;
    font-size: 35px;
    line-height: 1;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    color: @base-color-6;
  }
  .text
  {
    .ff-helvetica-reg;
    color: @header-phone-text;
    font-size: 12px;
    line-height: 15px;
    display: inline-block;
    vertical-align: top;
    margin: 4px 0 0 5px;
    span
    {
      display: block;
    }
  }
}

.b-header__title-holder
{
  .container;
  height: 340px;
}

.b-header__title-wrapper
{
  display: table;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.b-header__title_content
{
  position: relative;
  top: -45px;
}

.b-header__title
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  &.b-header__title--max-width-640
  {
    p
    {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.b-header__title--max-width-460
  {
    p
    {
      max-width: 460px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1
  {
    margin: 0;
    .ff-helvetica-bold;
    font-size: 60px;
    line-height: 60px;
  }

  h1 + p
  {
    margin-top: 10px;
  }

  p
  {
    color: @base-color-6;
  }

  a
  {
    .link;
  }

}

.b-header--index
{
  .b-header__title-holder
  {
    height: 700px - 160px;
    &:before
    {
      content: "";
      background: url(../img/header-index.png) no-repeat 0 25px;
      height: 100%;
      width: 1190px;
      position: absolute;
      left: 50%;
      top: 0;
      margin-left: -704px;
    }
  }
  .b-header__title
  {
    h1
    {
      width: 620px;
      text-align: left;
      .ff-helvetica-light;
      font-size: 25px;
      line-height: 33px;
      margin: 0 auto;
    }
    strong
    {
      .ff-helvetica-bold;
      font-size: 60px;
      line-height: 60px;
      display: block;
      margin: 6px 0 28px;
      span
      {
        display: block;
      }
    }
  }
}

.b-header--case
{
  height: auto;
  background-color: @base-color-1;
}

.b-header__title_menu
{
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 960px;
  margin: 0 0 0 -960px/2;
  text-align: center;
  .menu
  {
    &__item
    {
      display: inline-block;
      & + .menu__item
      {
        margin-left: 6px;
      }
    }
    &__link
    {
      font-size: 15px;
      line-height: 35px;
      padding: 0 15px;
      .no-select;
      display: block;
      color: @base-color-6;
      .ui-bg-green;
    }
    &__item--active
    {
      .menu__link
      {
        cursor: default;
        position: relative;
        background: @base-bg-color-2;
        &:after
        {
          content: "";
          position: absolute;
          left: 0;
          bottom: -8px;
          width: 0;
          height: 0;
          border-top: 8px solid @base-bg-color-2;
        }
      }
    }
    &__item--active-1
    {
      .menu__link
      {
        &:after
        {
          border-left: 211px/2 solid transparent;
          border-right: 221px/2 solid transparent;
        }
      }
    }
    &__item--active-2
    {
      .menu__link
      {
        &:after
        {
          border-left: 264px/2 solid transparent;
          border-right: 264px/2 solid transparent;
        }
      }
    }
    &__item--active-3
    {
      .menu__link
      {
        &:after
        {
          border-left: 111px/2 solid transparent;
          border-right: 111px/2 solid transparent;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-header__container
  {
    height: 180px;
  }
  .b-header__menu
  {
    padding: 0 10px;
    .menu
    {
      position: relative;
      line-height: 19px;
      text-align: justify;
      &:after {
        content: '';
        width: 100%;
        display: inline-block;
      }
    }
    .menu__item
    {
      margin: 0 -4px 0 0;
      padding: 0;
      &:first-child
      {
        padding-left: 0;
      }
      &:last-child
      {
        padding-right: 0;
        margin-right: 0;
      }
    }
    .menu__link
    {
      display: inline-block;
      padding: 19px 0 0 0;
      height: 75px - 19px;
      span
      {
        display: block;
      }
    }
  }

  .b-header__title-holder
  {
    height: 320px;
  }

  .b-header__title--resize
  {
    h1
    {
      font-size: 50px;
      line-height: 1;
    }
  }

  .b-header--index
  {
    .b-header__title
    {
      &:after
      {
        right: 30px;
      }
    }
  }
  .b-header__phone
  {
    right: 33px;
  }
}

@media (max-width: 767px)
{

  .b-header
  {
    height: auto;
  }

  .b-header__top
  {
    &:after
    {
      display: none;
    }
  }
  .b-header__container
  {
    height: auto;
    padding: 0;
  }
  .b-header__logo-holder
  {
    border-bottom: 1px solid @header-menu-border;
    height: 81px;
  }
  .b-header__logo
  {
    margin: 20px 0 0 24px;
  }
  .b-header__phone
  {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
  }
  .b-header__menu
  {
    .menu
    {
      line-height: 50px;
    }
    .menu__item
    {
      display: block;
      padding: 0;
      border-bottom: 1px solid @header-menu-border;
      text-indent: 23px;
      &:first-child
      {
        padding: 0;
      }
      &:last-child
      {
        padding: 0;
      }
    }
    .menu__item--active
    {
      .menu__link
      {
        &:before
        {
          display: none;
        }
      }
    }
  }
  .b-header__phone
  {
    .phone
    {
      display: block;
      padding: 27px 0 0 23px;
    }
    .text
    {
      display: block;
      padding: 1px 0 21px 18px;
      span
      {
        display: inline;
      }
    }
  }

  .b-header__title-holder
  {
    height: auto;
  }

  .b-header__title_content
  {
    padding: 38px 0;
    top: 0;
  }

  .b-header__title_menu
  {
    padding-bottom: 30px;
  }

  .b-header__title--resize
  {
    h1
    {
      font-size: 50px;
      line-height: 1;
    }
  }


  .b-header--index
  {
    .b-header__title
    {
      h1
      {
        width: auto;
        padding: 34px 0;
      }
    }
    .b-header__title-holder
    {
      height: auto;
      &:before
      {
        display: none;
      }
    }
  }

  .b-header__title_menu
  {
    position: relative;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    .menu__item
    {
      display: block;
      margin: 0;
      text-align: center;
      & + .menu__item
      {
        margin-top: 10px;
      }
      &.menu__item--active
      {
        .menu__link
        {
          &:after
          {
            display: none;
          }
        }
      }
    }
    .menu__link
    {
      display: inline-block;
    }
  }

  .b-header.b-header--index
  {
    height: auto;
  }

}

/* ====================================
   b-footer
   ==================================== */

.b-footer
{
  height: 145px;
  position: relative;
  z-index: 200;
  width: 100%;
  background: @footer-bg;
  font-size: 13px;
  line-height: 1;
  color: @page-text;
  min-width: 465px;
  a
  {
    .link;
    text-decoration: none;
  }
}

.b-footer__container
{
  .container;
  height: 145px;
}

.b-footer__logo
{
  .sprite(@logo--footer);
  display: block;
  float: left;
  margin: 30px 0 0 11px;
}

@media (max-width: 767px) {

  .b-footer,
  .b-footer__container
  {
    height: auto;
  }

  .b-footer__logo
  {
    float: none;
    margin: 0 0 0 4px;
  }

  .b-footer__container
  {
    padding-top: 30px;
  }

}

/* ====================================
   b-site-map
   ==================================== */

.b-site-map
{
  float: left;
  margin: 30px 0 0 100px;
  line-height: 19px;
}

.b-site-map__col
{
  float: left;
  & + .b-site-map__col
  {
    margin-left: 90px;
  }
}

.b-site-map__title
{
  margin: 0 0 6px 0;
  font-size: 13px;
  line-height: 1;
  .ff-helvetica-reg;
}

.b-site-map__list
{
  list-style: none;
  margin: 0;
  padding: 0;
  .list__item
  {
    padding-left: 16px;
    text-indent: -17px;
    & + .list__item
    {
      margin-top: 5px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-site-map
  {
    margin: 30px 0 0 50px;
    width: calc(~"100%" - 240px);
    text-align: justify;
    &:after
    {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  .b-site-map__col
  {
    float: none;
    display: inline-block;
    vertical-align: top;
    & + .b-site-map__col
    {
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {

  .b-site-map
  {
    float: none;
    margin: 30px 0 0 3px;
  }

  .b-site-map__col
  {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 0 -4px 0 0;
    padding-bottom: 30px;
    & + .b-site-map__col
    {
      margin-left: 0;
    }
  }

}

/* ====================================
   b-work-scheme
   ==================================== */

.b-work-scheme
{
  .container;
  .group;
  padding-bottom: 61px;

  .col-1
  {
    float: left;
    margin: 0 10px 0 10px;
    width: 540px;
    padding: 52px 0 0 0;
    p
    {
      font-size: 20px;
      width: 80%;
      line-height: 30px;
      padding: 0 0 27px 0;
      .title-separator(220px, @work-scheme-separator);
    }
  }

  .col-2
  {
    float: left;
    margin: 0 10px;
    width: 380px;
    padding: 56px 0 0 0;
  }

  .title
  {
    color: @base-color-1;
    margin: 0 0 24px 0;
  }
  
  p
  {
    & + p
    {
      margin-top: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-work-scheme
  {
    padding-bottom: 60px;
    .col-1
    {
      .border-box;
      width: 55.5%;
      margin: 0;
      padding: 56px 10px 0;
      p
      {
        width: 100%;
        padding-right: 20px;
      }
    }

    .col-2
    {
      .border-box;
      width: 44.5%;
      margin: 0;
      padding: 56px 10px 0;
    }

  }

}

@media (max-width: 767px) {

  .b-work-scheme
  {
    padding-bottom: 54px;
    .col-1
    {
      float: none;
      width: auto;
      margin: 0;
      p
      {
        width: 100%;
      }
    }
    .col-2
    {
      float: none;
      width: auto;
      margin: 0;
      padding: 29px 0 0 0;
    }
  }

}

/* ====================================
   b-slider-promo
   ==================================== */

.b-slider-promo
{
  position: relative;
  z-index: 200;
  height: 505px;
  background: @base-color-5;
}

.b-slider-promo__holder
{
  .container;
}

.b-slider-promo__item
{
  width: 960px;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 100;
  margin: 0 0 0 -960px/2;
  .opacity(0);
  .transition(opacity,0.6s,linear);
  &.active
  {
    z-index: 200;
    .opacity(1);
  }
}

.b-slider-promo__img
{
  position: absolute;
  z-index: 10;
  left: 213px;
  bottom: 0;
  img
  {
    vertical-align: top;
  }
}

.b-slider-promo__case
{
  width: 240px;
  position: absolute;
  z-index: 100;
  left: 10px;
  top: 57px;
  h2
  {
    .ff-helvetica-light;
    font-size: 25px;
    line-height: 1;
    margin: 0 0 16px 0;
    span
    {
      font-size: 40px;
      line-height: 1;
      display: inline-block;
      white-space: nowrap;
      margin: 9px 0 0 0;
    }
  }
  h3
  {
    .ff-helvetica-light;
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 22px 0;
    span
    {
      padding: 3px 0;
      background: @base-color-3;
      -webkit-box-shadow: -10px 0 0 0 @base-color-3, 10px 0 0 0 @base-color-3;
      -moz-box-shadow: -10px 0 0 0 @base-color-3, 10px 0 0 0 @base-color-3;
      box-shadow: -10px 0 0 0 @base-color-3, 10px 0 0 0 @base-color-3;
    }
  }
  p
  {
    font-size: 15px;
    line-height: 21px;
    color: @base-color-6;
    width: 225px;
    & + p
    {
      margin-top: 10px;
    }
  }
}

.b-slider-promo__graph
{
  position: absolute;
  z-index: 200;
  right: 210px;
  bottom: 66px;
  &:after
  {
    content: "";
    width: 100%;
    height: 1px;
    background: @slider-promo-separator;
    position: absolute;
    left: 0;
    bottom: -21px;
  }

  .graph__col
  {
    width: 60px;
    background: @base-color-4;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin: 0 0 0 6px;
  }

  .item-1
  {
    height: 52px;
    margin-left: 0;
  }

  .item-2
  {
    height: 103px;
  }

  .item-3
  {
    height: 135px;
  }

  .item-4
  {
    height: 167px;
  }

  .item-5
  {
    height: 269px;
    .graph__val
    {
      width: 90px;
      .ff-helvetica-bold;
      font-size: 20px;
      span
      {
        .ff-helvetica-reg;
        display: block;
        font-size: 12px;
        line-height: 13px;
        margin: 3px 0 10px;
      }
    }
  }

  .graph__time
  {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 5px;
    text-align: center;
    .ff-helvetica-reg;
    font-size: 11px;
    line-height: 1;
    span
    {
      .ff-helvetica-bold;
      font-size: 18px;
      display: block;
      margin: 6px 0 0 0;
    }
  }

  .graph__val
  {
    .ff-helvetica-reg;
    font-size: 16px;
    line-height: 1;
    position: absolute;
    left: 0;
    bottom: 100%;
    margin: 0 0 6px 0;
  }
}

.b-slider-promo__statistics
{
  position: absolute;
  right: 10px;
  bottom: 45px;
  width: 140px;

  .item
  {
    padding: 0 0 17px;
    border-bottom: 1px solid @slider-promo-separator;
    .ff-helvetica-light;
    font-size: 20px;
    line-height: 24px;
    & + .item
    {
      margin-top: 14px;
    }
    span
    {
      display: block;
      .opacity(0.4);
      font-size: 12px;
    }
    strong
    {
      .ff-helvetica-bold;
      display: block;
      font-size: 30px;
      margin: 8px 0 2px -1px;
    }
  }
}

.b-slider-promo__nav
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: @base-color-1;
  height: 55px;
  .nav
  {
    .group;
    display: inline-block;
    list-style: none;
    margin: 20px 0;
    padding: 0;
  }
  .nav__item
  {
    display: block;
    float: left;
    & + .nav__item
    {
      margin-left: 15px;
    }
  }
  .nav__link
  {
    .btn;
    display: block;
    width: 15px - 4px;
    height: 15px - 4px;
    .border-radius(50%);
    border: 2px solid @base-color-5;
    cursor: pointer;
  }
  .nav__item--active
  {
    .nav__link
    {
      background: @base-color-5;
      cursor: default;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-slider-promo
  {
    height: 665px + 55px;
  }

  .b-slider-promo__item
  {
    height: 665px;
    width: 100%;
    left: 0;
    margin: 0;
  }

  .b-slider-promo__img
  {
    left: 6%;
  }

  .b-slider-promo__case
  {
    left: 33px;
    top: 57px;
    width: 90%;

    h2
    {
      display: block;
      float: left;
    }
    article
    {
      display: block;
      float: right;
      width: 350px;
      margin: 6px 0 0 0;
    }
    p
    {
      width: auto;
    }
    h3
    {
      width: 240px;
    }
  }
  .b-slider-promo__graph {
    right: 30.3%;
  }
  .b-slider-promo__statistics
  {
    right: 4.3%;
  }
}

@media (max-width: 767px) {

  .b-slider-promo
  {
    height: 841px + 55px;
  }

  .b-slider-promo__item
  {
    height: 841px;
    width: 100%;
    left: 0;
    margin: 0;
  }

  .b-slider-promo__img
  {
    left: auto;
    right: -153px;
  }

  .b-slider-promo__case
  {
    left: 22px;
    top: 37px;
    width: 435px;
    h2
    {
      margin: 0 0 22px;
    }
    h3
    {
      margin: 0 0 19px;
    }
    p
    {
      width: 340px;
    }
  }

  .b-slider-promo__graph
  {
    right: auto;
    left: 24px;
    bottom: 218px;
  }

  .b-slider-promo__statistics
  {
    right: auto;
    left: 23px;
    bottom: 49px;
    width: auto;

    .item
    {
      float: left;
      & + .item
      {
        margin-top: 0;
        margin-left: 99px;
      }
    }

  }

}

/* ====================================
   b-feedback
   ==================================== */

.b-feedback
{
  background: @base-color-1;
}

.b-feedback__container
{
  .container;
}

.b-feedback__header
{
  text-align: center;
  padding: 34px 0 10px 0;
}

.b-feedback__title
{
  margin: 0;
}

.b-feedback__header-text
{
  margin: 6px 0 0 0;
  color: @base-color-6;
}

.b-feedback__clients
{

  .grids-feedback-clients;

  .item__text
  {
    .ff-helvetica-reg;
    font-size: 15px;
    line-height: 24px;
    background: @feedback-text-bg;
    .border-radius(5px);
    padding: 16px 22px 15px 22px;
    position: relative;
    margin: 1em 0;
    color: @base-color-6;
    &:after
    {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      left: 61px;
      top: 100%;
      border-top: 14px solid @feedback-text-bg;
      border-right: 32px solid transparent;
    }
  }

  .item__link
  {
    font-size: 13px;
    .link-dotted(-5px);
    margin: 0 3px;
  }

  .item__title
  {
    .ff-helvetica-reg;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    padding: 11px 0 0 22px;
    span
    {
      display: block;
      color: @feedback-item-title;
      font-size: 12px;
      line-height: 18px;
      margin: 2px 0 0 0;
      min-height: 54px;
      padding: 0 20px 0 0;
    }
  }

}

.b-feedback__docs
{
  margin: 10px 0 0 0;
  height: 388px + 28px;
  overflow: hidden;
  position: relative;
  &:after
  {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 125px;
    z-index: 150;
    background: url(../img/b-feedback__shadow-pattern.png) repeat-x 0 0;
  }

  &.js-list-visible
  {
    height: auto;
    padding-bottom: 50px;
    &:after
    {
      display: none;
    }

  }

  .grids-feedback-docs;

  .item
  {
    width: 140px;
    display: inline-block;
    color: @page-text;
    .ff-helvetica-reg;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    margin: 28px auto 0;
  }
  .item__tmb
  {
    width: 130px;
    border: 5px solid @feedback-img-border;
    img
    {
      vertical-align: top;
    }
  }
  .item__name
  {
    margin: 9px 0 0 0;
  }
}

.b-feedback__btn-show
{
  .btn;
  width: 100px;
  height: 40px;
  .border-radius-custom(8px,8px,0,0);
  vertical-align: top;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -100px/2;
  z-index: 200;
  .ui-bg-green;
  &:before
  {
    content: "";
    width: 4px;
    height: 18px;
    .border-radius(2px);
    background: @base-color-6;
    position: absolute;
    left: 50%;
    bottom: 8px;
    margin: 0 0 0 -8px;
    .rotation(-45deg);
  }
  &:after
  {
    content: "";
    width: 4px;
    height: 18px;
    .border-radius(2px);
    background: @base-color-6;
    position: absolute;
    left: 50%;
    bottom: 8px;
    margin: 0 0 0 3px;
    .rotation(45deg);
  }
}

@media (max-width: 614px)
{
  .b-feedback__header-text
  {
    margin: 3px 0 0 0;
  }

  .b-feedback__clients
  {
    .item__title
    {
      span
      {
        min-height: inherit;
      }
    }
  }
}

/* ====================================
   b-order
   ==================================== */

.b-order
{
  background: @page-bg;
}

.b-order__container
{
  .container;
}

.b-order__form
{
  margin: 61px 10px 0;
  background: @base-bg-color-1;
  border: 1px solid @order-border;
  .border-radius(5px);
  padding: 23px 0 32px 0;

  .form__header
  {
    color: @base-color-1;
    text-align: center;
    margin: 0 0 29px 0;
    span
    {
      display: block;
      .ff-helvetica-reg;
      font-size: 14px;
      line-height: 1;
      color: @base-color-2;
      margin: 11px 0 0 0;
    }
  }

  .form__body
  {
    .transition(opacity,0.3s,linear);
    overflow: hidden;
  }

}

.b-form-sent
{
  background: @base-bg-color-1;
  border: 1px solid @order-border;
  .border-radius(5px);
  padding: 20px 0 28px 0;
  margin: 0 10px;
  text-align: center;
  h2
  {
    color: @base-color-1;
    text-align: center;
    margin: 0 0 5px 0;
  }
  p
  {
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: @base-color-2;
    padding: 0 20px;
  }
}

.b-order__phone
{
  text-align: center;
  .ff-helvetica-reg;
  font-size: 16px;
  line-height: 25px;
  color: @order-phone-text;
  padding: 30px 0 56px 0;
  strong
  {
    font-weight: normal;
    font-size: 25px;
    color: @base-color-1;
  }
}

.b-order--short
{
  .form__body
  {
    height: 0;
    .opacity(0);
  }
  .form__header
  {
    margin-bottom: 0;
  }
  .btn-show-form
  {
    .link;
    .link-dotted(-3px);
    cursor: pointer;
  }
}



@media (min-width: 768px)
{
  .b-order__form
  {
    .form__body
    {
      .form(640px);
    }
  }
}

@media (max-width: 767px)
{

  .b-order__form
  {
    margin-left: 0;
    margin-right: 0;
    .form__body
    {
      .form(375px);
    }
  }

  .b-order__phone
  {
    text-align: center;
    padding: 30px 0 50px;
    span
    {
      display: block;
    }
  }

  .b-form-sent
  {
    margin-left: 0;
    margin-right: 0;
  }

}

/* ====================================
   b-seo-main
   ==================================== */

.b-seo-main
{
  .container;

  &__title
  {
    color: @base-color-1;
    margin: 0 10px 56px;
    padding-top: 53px;
  }
  hr
  {
    background: @seo-separator-1;
    display: block;
    margin: 0 10px;
    height: 1px;
    border: none;
  }
}

.b-seo-step
{
  position: relative;
  padding: 0 0 53px 0;
  &__main
  {
    .grid-column(9);
    padding: 0 100px 0 90px;
    p
    {
      & + p
      {
        margin-top: 10px;
      }
    }
  }
  &__ext
  {
    .grid-column(3);
    padding-top: 32px;
    p
    {
      & + p
      {
        margin-top: 20px;
      }
    }
    &.text--small
    {
      p
      {
        color: @base-color-9;
        font-size: 13px;
        line-height: 19px;
      }
    }
  }
  &__title
  {
    margin: 0 0 13px 0;
    color: @base-color-1;
  }
  &__num
  {
    position: absolute;
    left: 10px;
    top: 3px;
    .ff-helvetica-reg;
    font-size: 18px;
    color: @base-color-7;
    background: @base-color-8;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  p
  {
    &.warning
    {
      color: @warning;
    }
  }

  a
  {
    .link;
  }

}

.b-seo-payment
{
  padding: 55px 0 60px 0;
  &__title
  {
    .grid-column(3);
    color: @base-color-1;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__item
  {
    .grid-column(3);
    padding-right: 40px;
    padding-top: 9px;
  }
  .item
  {
    &__title
    {
      color: @base-color-2;
      margin: 0 0 13px 0;
    }
    &__text
    {
      padding: 0 0 29px 0;
      font-size: 15px;
      line-height: 21px;
      .title-separator(60px, @base-color-7);
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .b-seo-step
  {
    &__main
    {
      padding: 0 60px 0 90px;
    }
    &__ext
    {
      padding: 32px 10px 0 30px;
    }
  }
  .b-seo-payment
  {
    &__title
    {
      .grid-column(4);
    }
    &__item
    {
      .grid-column(3);
      width: 22.2%;
      padding-top: 9px;
    }
  }
}

@media (max-width: 767px)
{
  .b-seo-step__main,
  .b-seo-step__ext
  {
    width: 100%;
    margin: 0;
    padding: 0 0px 0 80px;
  }

  .b-seo-step__ext
  {
    margin-top: 28px;
  }

  .b-seo-step__num
  {
    left: 4px;
  }

  .b-seo-payment__title,
  .b-seo-payment__item
  {
    .grid-column(6);
    padding: 0 10px;
    margin-bottom: 19px;
  }

  .b-seo-payment
  {
    padding: 55px 0 41px;
    .item__title
    {
      margin-top: 10px;
    }
  }
}

/* ====================================
   b-seo-results
   ==================================== */

.b-seo-results
{
  background: @base-bg-color-1;
  padding-top: 54px;
  &__header
  {
    .container;
    margin-bottom: 28px;
  }
  &__title
  {
    color: @base-color-1;
    margin: 0 0 16px 0;
    text-align: center;
  }
  &__filter
  {
    text-align: center;
    .ff-helvetica-reg;
    font-size: 16px;
    line-height: 25px;
  }
  &__filter_text
  {
    display: inline-block;
    margin: 0 7px 0 0;
    color: @base-color-1;
  }
  &__filter_list
  {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    .list__item
    {
      display: inline-block;
      padding: 0 9px;
      margin: 0 -4px 0 0;
    }
    .list__link
    {
      display: block;
      cursor: pointer;
      .no-select;
      .link;
      .link-dotted(-6px);
    }
    .list__item--active
    {
      .border-radius(5px);
      background: @base-bg-color-2;
      .list__link
      {
        color: @link-active;
        cursor: default;
        &:after
        {
          display: none;
        }
      }
    }
  }
  &__content
  {
    margin: 0 10px;
  }
  &__footer
  {
    .container;
    color: @base-color-2;
    padding-top: 37px;
    padding-bottom: 59px;
    a
    {
      .link;
    }
  }
  &__footer_main
  {
    .grid-column(8);
    p
    {
      width: 90%;
    }
  }
  &__footer_ext
  {
    .grid-column(4);
    p
    {
      margin: 0;
    }
  }
  &__footer_title
  {
    margin: 0 0 7px 0;
  }
}

.b-seo-slider
{
  .container;
  &__wrapper
  {
    .box-shadow(0,1px,5px,0.15);
    .border-radius(5px);
    margin: 0 10px;
  }
  &__items-holder
  {
    width: 100%;
    height: 229px;
    position: relative;
    .border-radius(5px);
    overflow: hidden;
  }
  &__item
  {
    width: 100%;
    height: 229px;
    position: absolute;
    left: 0;
    top: 0;
    background: @base-bg-color-3;
    z-index: 100;
    text-align: center;
  }
  &__nav
  {
    padding: 20px 0;
  }
  &__prev,
  &__next
  {
    display: block;
    background: @base-bg-color-1;
    width: 60px;
    height: 60px;
    .border-radius(50%);
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 200;
    cursor: pointer;
    .no-select;
  }
  &__prev
  {
    left: 32px;
    .rotation(-45deg);
    &:before
    {
      content: "";
      background: @base-bg-color-4;
      height: 18px;
      width: 4px;
      position: absolute;
      left: 50%;
      top: 50%;
      .border-radius(2px);
      margin: -6px 0 0 -7px;
      .rotation(5deg);
    }
    &:after
    {
      content: "";
      background: @base-bg-color-4;
      height: 4px;
      width: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      .border-radius(2px);
      margin: -7px 0 0 -6px;
      .rotation(-5deg);
    }
  }
  &__next
  {
    right: 32px;
    .rotation(135deg);
    &:before
    {
      content: "";
      background: @base-bg-color-4;
      height: 18px;
      width: 4px;
      position: absolute;
      left: 50%;
      top: 50%;
      .border-radius(2px);
      margin: -6px 0 0 -7px;
      .rotation(5deg);
    }
    &:after
    {
      content: "";
      background: @base-bg-color-4;
      height: 4px;
      width: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      .border-radius(2px);
      margin: -7px 0 0 -6px;
      .rotation(-5deg);
    }
  }
  .nav
  {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: block;
    height: 8px;
    &__item
    {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      & + .nav__item
      {
        margin-left: 8px;
      }
    }
    &__link
    {
      display: block;
      width: 8px;
      height: 8px;
      .border-radius(50%);
      background: @base-bg-color-4;
      cursor: pointer;
      .no-select;
    }
    &__item--active
    {
      .nav__link
      {
        background: @base-bg-color-2;
        cursor: default;
      }
    }
  }
  .item
  {
    &__col
    {
      display: inline-block;
      width: 320px;
      margin: 0 -4px 0 0;
      vertical-align: top;
      text-align: left;
      .border-box;
      padding: 52px 10px 0;
    }
    &__header
    {
      margin: 0 0 16px 0;;
    }
    &__title
    {
      margin: 0 0 0 0;
      color: @base-color-1;
    }
    &__text
    {
      font-size: 13px;
      line-height: 20px;
      padding: 0 80px 0 0;
    }
  }
}

.seo__table
{

  .ff-helvetica-reg;
  width: 100%;
  margin: 10px 0;

  th
  {
    color: @base-color-10;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 6px;
  }
  
  td
  {
    color: @base-color-1;
    font-size: 15px;
    line-height: 20px;
    padding: 3px 0;
  }

  .table__col-1
  {
    text-align: left;
  }

  .table__col-2
  {
    text-align: center;
    width: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-seo-results__title
  {
    padding: 0 20px;
  }

  .b-seo-slider
  {
    &__wrapper
    {
      margin: 0;
    }
    &__items-holder
    {
      height: 332px;
    }
    &__item
    {
      height: 332px;
    }
    .item__col
    {
      display: block;
      margin: 0 auto;
      width: 400px;
      &:nth-child(2)
      {
        padding-top: 14px;
      }
    }
    .item__title
    {
      display: inline-block;
      vertical-align: top;
    }
    .item__link
    {
      display: inline-block;
      vertical-align: top;
      margin: 6px 0 0 15px;
    }
    .item__text
    {
      padding: 0;
    }
  }

  .b-seo-results__footer
  {
    padding-top: 37px;
    padding-bottom: 59px;
  }
}

@media (max-width: 767px)
{
  .b-seo-slider
  {
    &__wrapper
    {
      margin: 0;
    }
    &__items-holder
    {
      height: 395px;
    }
    &__item
    {
      height: 395px;
    }
    .item__col
    {
      display: block;
      margin: 0 auto;
      width: 285px;
      &:nth-child(2)
      {
        padding-top: 14px;
      }
    }
    .item__text
    {
      padding: 0;
    }
    &__prev
    {
      left: 10px;
    }
    &__next
    {
      right: 10px;
    }
  }
  .b-seo-results__footer_main,
  .b-seo-results__footer_ext
  {
    width: 100%;
    p
    {
      width: 100%;
    }
  }
  .b-seo-results__footer_main
  {
    margin-bottom: 12px;
  }
}

/* ====================================
   b-seo-ya
   ==================================== */

.b-seo-ya
{
  &__header
  {
    background: @base-bg-color-1;
  }
  &__header_container
  {
    .container;
    padding-top: 55px;
    padding-bottom: 52px;
    h2
    {
      color: @base-color-1;
      .ff-helvetica-reg;
      font-size: 25px;
      line-height: 30px;
      position: relative;
      margin: 0;
      .grid-column(4);
      padding-bottom: 30px;
      &:after
      {
        content: "";
        position: absolute;
        left: 10px;
        bottom: 0;
        width: 140px;
        height: 3px;
        background: @base-color-7;
      }
    }
    article
    {
      .grid-column(8);
      padding-right: 80px;
      p
      {
        color: @base-color-1;
        & + p
        {
          margin-top: 10px;
        }
      }
    }
  }

  &__content
  {
    .container;
    h2
    {
      color: @base-color-1;
      margin: 52px 10px 27px;
    }
    p
    {
      line-height: 22px;
      margin: 0 10px;
      & + p
      {
        margin-top: 10px;
      }
    }

    article
    {
      .grid-column(6);
      margin-top: 56px;
      padding-right: 30px;
      p
      {
        line-height: 24px;
        margin-left: 0;
        margin-right: 0;
      }
      & + p
      {
        margin-top: 53px;
      }
    }

    h3
    {
      color: @base-color-1;
      line-height: 35px;
      margin: 0 0 21px 0;
    }

    .tag
    {
      background: @base-color-7;
      display: inline-block;
      padding: 0 10px;
      margin: 0 -10px 24px;
      color: @base-color-6;
      font-size: 14px;
      line-height: 30px;
    }
  }

}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-seo-ya__header_container
  {
    padding-top: 57px;
    padding-bottom: 53px;
    article
    {
      padding: 0 10px 0 70px;
    }
  }

  .b-seo-ya__content
  {
    article
    {
      width: 100%;
    }
  }

}

@media (max-width: 767px)
{
  .b-seo-ya__header_container
  {
    h2
    {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 25px;
      &:after
      {
        left: 0;
      }
    }
    article
    {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .b-seo-ya__content
  {
    h2
    {
      margin-left: 0;
      margin-right: 0;
    }
    p
    {
      margin-left: 0;
      margin-right: 0;
    }
    article
    {
      width: 100%;
      padding: 0;
    }
  }
}

/* ====================================
   b-seo-test
   ==================================== */

.b-seo-test
{
  .container;
  &__title
  {
    line-height: 20px;
    margin: 0 10px;
    padding: 58px 0 26px 0;
  }
}

.b-test
{
  border: 5px solid @base-color-8;
  margin: 0 10px;
  .border-box;
  padding: 0 75px;
  position: relative;
  &__content
  {
    display: inline-block;
    vertical-align: top;
    width: 540px;
    padding: 65px 0 55px 0;
    &.done
    {
      .b-test__btn
      {
        background: #cae8d1;
        span
        {
          display: none;
        }
      }
      .b-test__question
      {
        .opacity(0.5);
      }
    }
  }
  &__smile
  {
    width: 220px;
    height: 181px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 50%;
    margin-top: -181px/2;
    right: 75px;

    span
    {
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      background: @base-bg-color-2;
      text-align: center;
      line-height: 60px;
      color: @base-color-6;
      .ff-helvetica-bold;
      font-size: 25px;
      .border-radius(50%);
    }

    &:before
    {
      content: "";
      position: absolute;
      left: 20px;
      top: 0;
      .transition(all,0.15s, ease);
    }

    &.b-test__smile--p5
    {
      &:before
      {
        .sprite(@test-p5);
      }
    }

    &.b-test__smile--p2
    {
      &:before
      {
        .sprite(@test-p2);
      }
    }
    &.b-test__smile--p0
    {
      &:before
      {
        .sprite(@test-p0);
      }
    }
    &.b-test__smile--m2
    {
      &:before
      {
        .sprite(@test-m2);
      }
    }
    &.b-test__smile--m5
    {
      &:before
      {
        .sprite(@test-m5);
      }
    }
  }
  &__step
  {
    color: @base-color-9;
    .ff-helvetica-reg;
    font-size: 14px;
    line-height: 1;
    margin: 0 0 14px 0;
    span
    {
      background: @base-color-7;
      padding: 0 8px;
      margin: 0 -8px;
      color: @base-color-6;
    }
  }
  &__question
  {
    color: @base-color-1;
    .ff-helvetica-light;
    font-size: 25px;
    line-height: 35px;
    margin: 0 0 26px 0;
    .transition(opacity,0.15s,linear);
  }
  &__btn
  {
    .ui-btn-small(100px, 30px);
    margin-right: 6px;
    position: relative;
    .no-select;
    span
    {
      display: block;
      position: absolute;
      right: -5px;
      top: -10px;
      .ff-helvetica-bold;
      font-size: 14px;
      color: @base-color-6;
      height: 30px;
      background: @base-bg-color-2;
      text-align: center;
      line-height: 30px;
      .ff-helvetica-bold;
      .border-radius(50%);
      .opacity(0);
      .transition(opacity,0.15s,linear);
      width: 0;
      overflow: hidden;
    }
    &:hover
    {
      span
      {
        width: 30px;
        .opacity(1);
      }
    }
  }
  &__results
  {

    color: @base-color-1;
    .ff-helvetica-reg;
    font-size: 15px;
    line-height: 21px;
    margin: 0 10px;
    padding: 37px 75px 40px;
    background: @base-bg-color-1;
    border: 5px solid @base-color-8;
    border-top: none;
    table
    {
      width: 100%;
    }
    th
    {
      text-align: center;
      color: @base-color-9;
      font-size: 14px;
      font-weight: normal;
      vertical-align: top;
      padding-bottom: 17px;
      &:first-child
      {
        text-align: left;
      }
    }
    td
    {
      border-top: 1px solid #e1e1e1;
      vertical-align: top;
      padding: 15px 0 19px;
    }
    .table__col-1
    {
      width: 30px;
    }
    .table__col-3
    {
      text-align: center;
      width: 85px;
    }
    .table__col-4
    {
      text-align: center;
      width: 122px;
    }
  }
}

.b-seo-test__content
{
  padding: 54px 0 0 0;
  article
  {
    .grid-column(6);
    padding-right: 90px;
  }
  h3
  {
    color: @base-color-1;
    margin: 3px 0 13px 0;
  }
  p
  {
    & + p
    {
      margin-top: 10px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-test
  {
    padding: 0 55px;
    &__content
    {
      width: 55%;
    }
    &__smile
    {
      right: 43px;
    }
  }

}

@media (max-width: 767px)
{
  .b-seo-test
  {
    &__title
    {
      margin: 0;
    }
    &__content
    {
      article
      {
        width: 100%;
        padding: 0;
        & + article
        {
          margin-top: 52px;
        }
      }
    }
  }
  .b-test
  {
    margin: 0;
    padding: 0 25px 54px;
    &__content
    {
      width: auto;
      text-align: center;
    }
    &__smile
    {
      position: relative;
      margin: 0 auto;
      top: auto;
      right: auto;
      display: block;
    }
    &__results
    {
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

/* ====================================
   b-map
   ==================================== */

.b-map
{
  .container;
  .group;
  height: 408px;
  &:before
  {
    content: "";
    background: url(../img/map.png) no-repeat 0 0;
    width: 700px;
    height: 364px;
    position: absolute;
    right: 57px;
    top: 15px;
    z-index: 99;
  }
  &__content
  {
    width: 220px;
    float: left;
    margin: 88px 10px 0;
    position: relative;
    z-index: 100;
    p
    {
      margin: 0;
      color: @base-color-11;
      .ff-helvetica-reg;
      font-size: 16px;
      line-height: 26px;
      & + p
      {
        margin-top: 32px;
      }
    }
    .text--big
    {
      color: @base-color-1;
      font-size: 20px;
      .ff-helvetica-light;
      padding: 0 0 16px 0;
      position: relative;
      &:after
      {
        content: "";
        width: 139px;
        height: 1px;
        background: @base-bg-color-6;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    strong
    {
      .ff-helvetica-bold;
      font-size: 20px;
      span
      {
        font-size: 30px;
      }
    }
  }
  &__facts
  {
    float: right;
    position: relative;
    z-index: 100;
    margin: 71px 10px 0;
    p
    {
      width: 140px;
      margin: 0;
      padding: 23px 0 0 0;
      .ff-helvetica-light;
      font-size: 20px;
      color: @base-color-1;
      position: relative;
      line-height: 26px;

      & + p
      {
        margin-top: 16px;
        &:after
        {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 1px;
          background: @base-bg-color-6;
        }
      }
    }
    span
    {
      display: block;
      .ff-helvetica-bold;
      margin: 0 0 1px 0;
      font-size: 30px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-map
  {
    height: 358px;
    &:before
    {
      width: 505px;
      height: 262px;
      background-size: 100% auto;
      right: 45px;
      top: 38px;
    }
    &__content
    {
      margin-top: 55px;
    }
    &__facts
    {
      margin-top: 38px;
    }
  }

}

@media (max-width: 767px){

  .b-map
  {
    height: auto;
    padding-top: 44px;
    padding-bottom: 52px;
    &:before
    {
      top: auto;
      bottom: 88px;
      right: auto;
      left: 22px;
      width: 437px;
      height: 228px;
      background-size: 100% auto;
    }
    &__content
    {
      width: 100%;
      margin: 10px 0 0;
      .group;
      p
      {
        float: left;
        padding-left: 0;
        padding-right: 0;
        width: 50%;

        &.text--big
        {
          width: 163px;
          float: right;
          margin-top: 5px;
        }
        & + p
        {
          margin-top: 0;
        }
      }
    }
    &__facts
    {
      margin: 38px 22px 0;
    }
  }

}

/* ====================================
   b-portfolio
   ==================================== */

.b-portfolio
{
  background: @base-bg-color-1;
  padding: 51px 0 61px 0;
  &__wrapper
  {
    .container;
  }
  &__title
  {
    margin: 0 10px 28px;
    color: @base-color-1;
  }
  &__item
  {
    background: #ffffff;
    .border-radius(5px);
    .box-shadow(0,1px,5px,0.15);
    margin: 0 10px;
    .border-box;
    padding: 0 70px;
    position: relative;
    & + .b-portfolio__item
    {
      margin-top: 30px;
    }
  }
  &__add-item-holder
  {
    background: #ffffff;
    .border-radius(5px);
    .box-shadow(0,1px,5px,0.15);
    margin: 30px 10px 0;
    .border-box;
    text-align: center;
    padding: 21px 0;
    &.loading
    {
      .b-portfolio__add-item-btn
      {
        display: none;
      }
      position: relative;
      &:before
      {
        content: "";
        display: block;
        height: 18px;
        width: 1px;
        position: relative;
      }
      &:after
      {
        content: "";
        background: url(../img/icon-loading.gif) no-repeat 0 0;
        width: 41px;
        height: 39px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -20px;
      }
    }
  }
  &__add-item-btn
  {
    display: inline-block;
    .link;
    .link-dotted(0px);
    font-size: 16px;
    line-height: 1;
    .ff-helvetica-reg;
  }
  .item
  {
    &__col
    {
      .grid-column(6);
      padding: 37px 10px 31px;
    }
    &__header
    {
      margin: 0 0 16px 0;;
    }
    &__title
    {
      margin: 0 0 0 0;
      color: @base-color-1;
    }
    &__text
    {
      font-size: 13px;
      line-height: 20px;
      padding: 0 80px 40px 0;
      p
      {
        margin: 0;
        & + p
        {
          margin-top: 8px;
        }
      }
      img
      {
        display: block;
        margin: 26px 0 0 0;
      }
    }
    &__city
    {
      font-size: 12px;
      color: @base-color-12;
      line-height: 1;
      position: absolute;
      left: 80px;
      bottom: 40px;
    }
  }
  .seo__table
  {
    margin: 12px 0;
  }
  .icon-yandex
  {
    .sprite(@yandex);
    display: inline-block;
    position: relative;
    top: -4px;
    margin: -4px 0;;
  }
  time
  {
    font-size: 12px;
    color: @base-color-12;
    line-height: 1;
    padding: 11px 0;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-portfolio
  {
    &__item
    {
      padding: 0 30px;
    }
    .item
    {
      &__text
      {
        padding-right: 30px;
      }
      &__city
      {
        left: 40px;
      }
    }
  }

}

@media (max-width: 767px) {
  .b-portfolio
  {
    &__title
    {
      margin-left: 0;
      margin-right: 0;
    }
    &__item
    {
      margin-left: 0;
      margin-right: 0;
      padding: 0 33px 28px;
    }
    .item
    {
      &__col
      {
        width: 100%;
        padding: 44px 10px 2px;
      }
      &__text
      {
        padding: 0;
      }
      &__city
      {
        left: 42px;
        bottom: 14px + 28px;
      }
    }
    time
    {
      text-align: right;
    }
    &__add-item-holder
    {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/* ====================================
   b-advantages
   ==================================== */

.b-advantages
{
  .container;
  color: @base-color-1;
  padding-bottom: 33px;
  &__title
  {
    padding: 53px 0 0 0;
    margin: 0 10px;
  }
  .col
  {
    .grid-column(6);
  }
  .list
  {
    .ui-list;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .b-advantages
  {
    padding-bottom: 33px;
  }
}

@media (max-width: 767px) {
  .b-advantages
  {
    padding-bottom: 46px;
    &__title
    {
      margin: 0 0 27px 0;
    }
    .col
    {
      width: 100%;
      margin: 0;
      padding: 0 0 11px 0;
    }
    .list
    {
      padding: 0;
    }
  }
}

/* ====================================
   b-showcase
   ==================================== */

.b-showcase
{
  background: @base-bg-color-7;
  color: @base-color-1;
  padding-top: 53px;
  padding-bottom: 60px;
  &__container
  {
    .container;
  }
  &__title
  {
    margin: 0 10px;
  }
  &__nav
  {
    display: inline-block;
    width: 180px;
    margin: 0 -5px 0 10px;
    vertical-align: top;
  }
  &__content
  {
    display: inline-block;
    width: 760px - 60px;
    padding: 28px 30px 40px;
    margin: 30px 10px 0 0;
    background: @base-bg-color-3;
    vertical-align: top;
    .border-radius(5px);
    header
    {
      margin: 0 0 4px 0;
    }
    h3
    {
      line-height: 30px;
      margin: 0;
      span
      {
        line-height: 25px;
        vertical-align: middle;
        display: inline-block;
        .ff-helvetica-reg;
        font-size: 15px;
        background: @base-color-7;
        color: @base-bg-color-3;
        padding: 0 10px;
        margin: 0 0 0 12px;
      }
    }
    p
    {
      line-height: 22px;
      strong
      {
        .ff-helvetica-bold;
      }
    }
    p + .link-image
    {
      margin-top: 28px;
    }
    .link-image
    {
      display: block;
      padding: 10px;
      background: @base-bg-color-7;
      position: relative;
      &:after
      {
        content: "";
        position: absolute;
        z-index: 200;
        .sprite(@img-zoom);
        left: 50%;
        top: 50%;
        margin-left: @img-zoom-width/(-2);
        margin-top: @img-zoom-height/(-2);
        .opacity(0);
        .transition(opacity,0.2s,linear);
      }
      &:hover
      {
        &:after
        {
          .opacity(1);
        }
      }
      img
      {
        display: block;
        width: 100%;
        position: relative;
        z-index: 100;
      }
    }
    article
    {
      margin: 38px 0 20px 0;
      h3
      {
        margin-bottom: 16px;
      }
      p
      {
        padding: 17px 0 16px;
        border-top: 1px solid @base-bg-color-6;
      }
    }
    footer
    {
      .group;
      padding: 29px 0 0 0;
    }
    .btn
    {
      .ui-btn-showcase;
      &.btn--left
      {
        float: left;
      }
      &.btn--right
      {
        float: right;
      }
    }
  }
  .nav
  {
    &__base
    {
      margin: 21px 0 0 0;
    }
    &__short
    {
      display: none;
      margin: 29px 10px 0;
      .nav__title
      {
        display: inline-block;
        vertical-align: middle;
        margin: 0 7px 0 0;
      }
      .nav__select
      {
        display: inline-block;
        vertical-align: middle;
        .ui-select(402px,32px);
      }
    }
    &__title
    {
      .ff-helvetica-reg;
      font-size: 13px;
      line-height: 32px;
      color: @base-color-13;
      margin: 0 0 4px 0;
    }
    &__list
    {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 22px;
      &_item
      {
        padding: 7px 0 7px 16px;
        margin: 7px 0 0 -16px;
        &:first-child
        {
          margin-top: 0;
        }
      }
      &_link
      {
        .link-dotted-bg(16px);
      }
      &_item--active
      {
        background: @base-bg-color-3;
        .border-radius-custom(5px,0,5px,0);
        .nav__list_link
        {
          background: none;
          color: @base-color-2;
          cursor: default;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-showcase
  {
    &__nav
    {
      width: 100%;
      margin: 0;
    }
    .nav
    {
      &__base
      {
        display: none;
      }
      &__short
      {
        display: block;
      }
    }
    &__content
    {
      width: auto;
      display: block;
      margin: 21px 10px 0;
    }
  }

}

@media (max-width: 767px) {

  .b-showcase
  {
    &__title
    {
      margin: 0;
    }
    &__nav
    {
      width: 100%;
      margin: 0;
    }
    .nav
    {
      &__base
      {
        display: none;
      }
      &__short
      {
        display: block;
        margin: 21px 3px 0;
        .nav__select
        {
          .ui-select(440px,32px);
        }
      }
    }
    &__content
    {
      width: auto;
      display: block;
      margin: 21px 0 0;
      padding: 28px 20px 40px;
      h3
      {
        span
        {
          margin-left: 0;
        }
      }
    }
  }

}

/* ====================================
   b-process
   ==================================== */

.b-process
{
  color: @base-color-1;
  padding-top: 53px;
  padding-bottom: 60px;
  &__container
  {
    .container;
  }
  &__title
  {
    margin: 0 10px 5px;
  }
  &__content
  {
    display: table;
    width: 100%;
  }
  &__item
  {
    display: table-row;
  }
  .num
  {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: @base-bg-color-7;
    color: @base-color-7;
    font-size: 18px;
    .ff-helvetica-reg;
  }
  .item
  {
    &__col
    {
      display: table-cell;
      padding-top: 25px;
      padding-bottom: 26px;
      border-bottom: 1px solid @base-bg-color-7;
    }
    &__num
    {
      padding-left: 10px;
      width: 80px;
      vertical-align: top;
    }
    &__title
    {
      width: 240px - 30px;
      font-size: 16px;
      line-height: 21px;
      .ff-helvetica-bold;
      color: @base-color-1;
      margin: 0;
      padding-right: 30px;
      padding-top: 25px + 3px;
      vertical-align: top;
    }
    &__text
    {
      padding-right: 10px;
      padding-top: 25px + 1px;
      font-size: 14px;
      line-height: 21px;
      vertical-align: top;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-process
  {
    &__content
    {
      margin: 0 10px;
    }
    .item
    {
      &__num
      {
        padding-left: 0;
      }
      &__text
      {
        padding-right: 0;
      }
    }
  }

}

@media (max-width: 767px) {
  .b-process
  {
    &__item
    {
      display: block;
      border-bottom: 1px solid @base-bg-color-7;
      position: relative;
      padding: 0 0 25px 80px;
      margin: 30px 0 0 0;
      &:first-child
      {
        margin-top: 0;
      }
    }
    &__title
    {
      margin: 0 0 31px 0;
    }
    .item
    {
      &__col
      {
        display: block;
        border: none;
        padding: 0;
        width: auto;
      }
      &__num
      {
        position: absolute;
        left: 0;
        top: 0;
      }
      &__title
      {
        padding: 3px 0 4px 0;
      }
    }
  }
}

/* ====================================
   b-aftermath
   ==================================== */

.b-aftermath
{
  background: @base-bg-color-1;
  color: @base-color-1;
  padding-top: 34px;
  padding-bottom: 30px;

  &__container
  {
    .container;
  }

  h2
  {
    display: inline-block;
    margin: 25px 5px 0 10px;
    padding: 0 0 24px 0;
    .ff-helvetica-reg;
    font-size: 25px;
    line-height: 30px;
    width: 240px;
    vertical-align: top;
    .border-box;
    .title-separator(140px,@warning);
  }
  &__content
  {
    display: inline-block;
    padding: 0 10px 0 30px;
    vertical-align: top;
    .border-box;
    width: calc(~'100% -' 260px);
  }
  .list
  {
    .ui-list;
  }
}

.b-context-result
{
  .container;
  p
  {
    margin: 0 10px;
    &:first-child
    {
      padding-top: 56px;
    }
  }
}

@media (max-width: 767px) {

  .b-aftermath
  {
    h2
    {
      margin: 25px 0 4px 0;
      padding: 0 0 28px;
      display: block;
      width: 100%;
    }
    &__content
    {
      width: 100%;
      margin: 0;
      display: block;
      padding: 0 0 0 2px;
    }
  }

  .b-context-result
  {
    p
    {
      margin: 0;
    }
  }
}

/* ====================================
   b-conv-adv
   ==================================== */

.b-conv-adv
{
  background: @base-bg-color-1;
  color: @base-color-1;
  padding-top: 34px;
  padding-bottom: 30px;

  &__container
  {
    .container;
  }

  h2
  {
    display: inline-block;
    margin: 25px 5px 0 10px;
    padding: 0 0 27px 0;
    .ff-helvetica-reg;
    font-size: 25px;
    line-height: 30px;
    width: 240px;
    vertical-align: top;
    .border-box;
    .title-separator(140px,@base-color-7);
  }
  &__content
  {
    display: inline-block;
    padding: 0 10px 0 30px;
    vertical-align: top;
    .border-box;
    width: calc(~'100% -' 260px);
  }
  .list
  {
    .ui-list;
  }
}

@media (max-width: 767px) {

  .b-conv-adv
  {
    h2
    {
      margin: 25px 0 4px 0;
      padding: 0 0 28px;
      display: block;
      width: 100%;
    }
    &__content
    {
      width: 100%;
      margin: 0;
      display: block;
      padding: 0 0 0 2px;
    }
  }

}

/* ====================================
   b-conv-inc
   ==================================== */

.b-conv-inc
{
  color: @base-color-1;
  padding-top: 52px;

  &__container
  {
    .container;
  }
  h2
  {
    margin: 0 10px 26px;
  }
  p
  {
    margin: 0 10px;
  }
  a
  {
    .link;
  }
  section
  {
    .group;
    margin: 53px 0 0 0;
  }
  article
  {
    float: left;
    .border-box;
    width: 100%/3;
    padding: 0 10px;
    p
    {
      padding: 0 20px 0 0;
      margin: 0 0 20px 0;
      &:last-child
      {
        margin-bottom: 0;
      }
    }
  }
  h3
  {
    margin: 0 0 13px 0;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-conv-inc
  {
    article
    {
      width: 50%;
      margin-bottom: 49px;
      &:last-child
      {
        margin-bottom: 0;
      }
      &:nth-child(2n)
      {
        float: right;
        padding-left: 30px;
      }
    }
  }

}

@media (max-width: 767px) {
  .b-conv-inc
  {
    padding-top: 45px;
    h2
    {
      margin: 0 0 29px 0;
    }
    p
    {
      margin: 0;
    }
    article
    {
      width: 100%;
      padding: 0;
      margin: 0 0 50px 0;
      &:last-child
      {
        margin-bottom: 0;
      }
    }
  }
}

/* ====================================
   b-sites
   ==================================== */

.b-sites
{
  padding: 57px 0 0 0;
  &__header
  {
    .container;
    .group;
  }

  &__title
  {
    color: @base-color-1;
    float: left;
    width: 100%;
    text-align: center;
    margin: 48px 0 0 0;
    span
    {
      display: block;
      color: @base-color-2;
      font-size: 16px;
      margin: 9px 0 0 0;
    }
  }

  &__content
  {
    margin: 29px 0 0 0;
  }

}

.b-cms
{
  width: 460px;
  margin: 0 10px;
  float: left;

  h2,
  &__title
  {
    font-size: 25px;
    color: @base-color-1;
    line-height: 1;
    margin: 0 0 31px 0;
  }

  &__list
  {
    list-style: none;
    margin: 0 0 23px 0;
    padding: 0;
    li
    {
      display: inline-block;
      margin: 0 0 0 15px;
      border: 1px solid @cms-border;
      .border-radius(5px);
      background: @base-bg-color-3;
      .box-shadow(0,0,5px,0.08);
      &:first-child
      {
        margin-left: 0;
      }
    }
    i
    {
      display: block;
      width: 138px;
      height: 128px;
      position: relative;
      &:after
      {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
      }
      &.icon-bitrix
      {
        &:after
        {
          .sprite(@bitrix);
          margin-left: @bitrix-width / (-2);
          margin-top: @bitrix-height / (-2);
        }
      }
      &.icon-opencart
      {
        &:after
        {
          .sprite(@opencart);
          margin-left: @opencart-width / (-2);
          margin-top: @opencart-height / (-2);
        }
      }
      &.icon-modx
      {
        &:after
        {
          .sprite(@modx);
          margin-left: @modx-width / (-2);
          margin-top: @modx-height / (-2);
        }
      }
    }
  }
}

.b-budget
{
  float: right;
  width: 340px;
  margin: 17px 10px 0;
  background: @base-bg-color-1;
  .border-box;
  padding: 34px 41px 43px;

  h3,
  &__title
  {
    .ff-helvetica-light;
    font-size: 25px;
    line-height: 50px;
    margin: 0 0 7px 0;
    color: @base-color-2;
  }
  span
  {
    font-size: 50px;
    color: @base-color-7;
  }
}


.b-sites__item
{
  &:nth-child(3n - 2)
  {
    background: @base-color-1;
  }
  &:nth-child(3n - 1)
  {
    background: @base-bg-color-1;
    .item__title
    {
      color: @base-color-1;
    }
    p
    {
      color: @base-color-2;
    }
  }
  &:nth-child(3n)
  {
    background: @base-color-2;
  }
  &:nth-child(2n)
  {
    .item__content
    {
      float: right;
      padding: 58px 10px 40px 50px;
    }
    .item__tmb-holder
    {
      float: left;
    }
  }
  p
  {
    margin: 0;
    color: @base-color-6;
    & + p
    {
      margin-top: 15px;
    }
  }
  .btn
  {
    display: block;
    font-style: normal;
    .ui-btn-green(123px,30px);
    .ff-helvetica-reg;
    font-size: 16px;
  }
  .item
  {
    &__container
    {
      display: block;
      .container;
      min-height: 300px;
      overflow: hidden;
      &:hover
      {
        .item__tmb
        {
          top: -10px;
        }
        .btn
        {
          background: @base-bg-color-5;
        }
      }
    }
    &__content
    {
      .border-box;
      width: 50%;
      float: left;
      padding: 58px 70px 40px 10px;
    }
    &__title
    {
      margin: 0 0 10px 0;
      color: @base-color-6;
    }
    &__tmb-holder
    {
      float: right;
      width: 50%;
      margin-top: 60px;
      min-height: 1px;
      position: relative;
    }
    &__tmb
    {
      position: absolute;
      left: 10px;
      top: 0;
      width: calc(~'100% - ' 20px);
      .box-shadow(0,0,5px,0.15);
      .transition(top,0.15s,linear);
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-cms
  {
    float: none;
    width: auto;

    &__list
    {
      display: inline-block;
      vertical-align: top;
      margin: 0 20px 0 0;
      li
      {
        margin-left: 10px;
      }
      i
      {
        width: 133px;
      }
    }
    &__text
    {
      display: inline-block;
      vertical-align: top;
      width: calc(~'100% -' 460px);
      .border-box;
      margin: -4px 0 0 0;
    }
  }

  .b-budget
  {
    float: none;
    width: auto;
    margin-top: 56px;
    padding: 34px 32px 32px;
    h3,
    &__title
    {
      display: inline-block;
      width: 290px;
      vertical-align: top;
      margin: 8px -5px 0 0;
      span
      {
        position: relative;
        top: -7px;
      }
    }
    p
    {
      display: inline-block;
      vertical-align: top;
      width: calc(~"100%" - 290px);
    }
  }

  .b-sites__item
  {
    &:nth-child(2n)
    {
      .item__tmb
      {
        left: auto;
        right: 0;
      }
    }
    .item
    {
      &__tmb
      {
        left: 0px;
        width: calc(~'100% - ' 10px);
      }
    }
  }

}

@media (max-width: 767px) {
  .b-cms
  {
    float: none;
    width: auto;
    margin: 0;
    &__list
    {
      li
      {
        margin-left: 12px;
      }
    }
    i
    {
      width: 128px;
    }
  }
  .b-budget
  {
    float: none;
    width: auto;
    margin: 56px 0 0 0;
    padding: 34px 32px 32px;
  }
  .b-sites__item
  {
    &:nth-child(2n)
    {
      .item__content
      {
        width: 100%;
        padding: 58px 0px 40px 0px;
      }
    }
    .item
    {
      &__container
      {
        &:hover
        {
          .item__tmb
          {
            top: 0;
          }
        }
      }
      &__tmb-holder
      {
        width: 100%;
        margin-top: 0;
        max-height: 300px;
      }
      &__content
      {
        width: 100%;
        padding: 58px 0px 40px 0px;
      }
      &__title
      {
        margin-bottom: 14px;
      }
      &__tmb
      {
        position: relative;
        left: 0;
        width: 100%;
        vertical-align: top;
      }
    }
  }
}

/* ====================================
   b-case
   ==================================== */

.b-case
{
  &__header
  {
    background: @base-color-1;
    padding: 56px 0 254px;
    margin: 0 0 -199px 0;
    &_container
    {
      .container;
      max-width: 980px;
    }
    p
    {
      color: @base-color-6;
      margin: 0 0 10px 0;
      padding-right: 60px;
      &:last-child
      {
        margin-bottom: 0;
      }
    }
    a
    {
      .link;
    }
  }
  &__title
  {
    margin: 0 0 8px 0;
    .ff-helvetica-light;
    font-size: 40px;
    line-height: 1;
    & + p
    {
      margin-bottom: 22px;
    }
  }

  &__content
  {
    .container;
    img
    {
      display: block;
      width: 100%;
      padding: 10px;
      .border-box;
      background: @base-bg-color-1;
    }
    p
    {
      margin: 0 10px;
    }
    img + p
    {
      margin-top: 56px;
    }
    p + img
    {
      margin-top: 55px;
    }
  }

  &__footer
  {
    .container;
    max-width: 980px;
    padding-bottom: 18px;
  }
  &__prev
  {
    float: left;
    .btn
    {
      .ui-btn-green(98px,30px);
      font-size: 15px;
      text-indent: 14px;
      .ff-helvetica-reg;
      position: relative;
      &:before
      {
        content: "";
        .sprite(@b-case-prev);
        position: absolute;
        left: 20px;
        top: 10px;
      }
    }
    .title
    {
      .ff-helvetica-reg;
      font-size: 12px;
      line-height: 17px;
      color: @base-color-9;
      margin: 6px 0 0 0;
    }
  }
  &__next
  {
    float: right;
    text-align: right;
    .btn
    {
      .ui-btn-green(109px,30px);
      font-size: 15px;
      text-indent: -14px;
      .ff-helvetica-reg;
      position: relative;
      &:before
      {
        content: "";
        .sprite(@b-case-next);
        position: absolute;
        right: 18px;
        top: 10px;
      }
    }
    .title
    {
      .ff-helvetica-reg;
      font-size: 12px;
      line-height: 17px;
      color: @base-color-9;
      margin: 6px 0 0 0;
    }
  }
}

.b-share
{
  width: 100%;
  text-align: center;
  list-style: none;
  margin: 60px 0 -30px 0;
  padding: 0;
  &__item
  {
    display: inline-block;
    margin: 0 0 0 6px;
    &:first-child
    {
      margin-left: 0;
    }
  }
  &__link
  {
    .btn;
    display: block;
    font-size: 10px;
    line-height: 30px;
    color: @base-color-6;
    .ff-helvetica-medium;
    text-transform: uppercase;
    .border-radius(15px);
    .opacity(0.5);
    .transition(opacity,0.15s,linear);
    padding: 0 20px 0 43px;
    position: relative;
    &:hover
    {
      .opacity(1);
    }
    &.icon-fb
    {
      background: @icon-fb;
      &:before
      {
        content: "";
        .sprite(@social-fb);
        position: absolute;
        left: 20px;
        top: 7px;
      }
    }
    &.icon-tw
    {
      background: @icon-tw;
      &:before
      {
        content: "";
        .sprite(@social-tw);
        position: absolute;
        left: 19px;
        top: 8px;
      }
    }
    &.icon-vk
    {
      background: @icon-vk;
      padding-left: 47px;
      &:before
      {
        content: "";
        .sprite(@social-vk);
        position: absolute;
        left: 21px;
        top: 9px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-case
  {
    &__header_container,
    &__content,
    &__footer
    {
      padding: 0 34px;
    }
    &__content
    {
      p
      {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__prev
    {
      width: 98px;
    }
    &__next
    {
      width: 109px;
    }
    &__footer
    {
      padding-bottom: 40px;
    }
  }

  .b-share
  {
    margin-bottom: -30px;
  }

}

@media (max-width: 767px) {
  .b-case
  {
    &__header
    {
      p
      {
        padding-right: 20px;
      }
    }
    &__footer
    {
      .group;
      padding-bottom: 0;
    }
    &__content
    {
      p
      {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .b-share
  {
    float: left;
    width: 100%;
    text-align: justify;
    margin-bottom: 12px;
    &:after
    {
      content: '';
      width: 100%;
      display: inline-block;
    }
  }
}

/* ====================================
   b-about
   ==================================== */

.b-puzzle-item-small
{
  width: 140px;
  height: 140px;
  @media (min-width: 768px) and (max-width: 870px)
  {
    width: 160px;
    height: 160px;
  }
  @media (max-width: 767px)
  {
    width: 135px;
    height: 135px;
  }
}

.b-puzzle-item-big
{
  width: 300px;
  height: 300px;
  @media (min-width: 768px) and (max-width: 870px)
  {
    width: 340px;
    height: 340px;
  }
}



.b-puzzle
{
  .container;
  &__container
  {
    margin: 60px 0;
    position: relative;
    width: 100%;
    height: 620px;
    overflow: hidden;
  }
  .item
  {
    position: absolute;
    .transition(all,0.2s,linear);
    background-size: 100% auto;
    display: block;
  }

  .item-1
  {
    .b-puzzle-item-small;
    left: 10px;
    top: 0;
  }

  .item-2
  {
    .b-puzzle-item-small;
    left: 170px;
    top: 0;
  }

  .item-3
  {
    width: 300px;
    height: 140px;
    background: @base-color-7;
    left: 10px;
    top: 160px;

    p
    {
      .ff-helvetica-light;
      font-size: 25px;
      line-height: 30px;
      color: @base-color-6;
      margin: 25px 25px 0 29px;
    }
  }

  .item-4
  {
    .b-puzzle-item-big;
    left: 330px;
    top: 0;
  }

  .item-5
  {
    .b-puzzle-item-small;
    left: 650px;
    top: 0;
  }

  .item-6
  {
    .b-puzzle-item-small;
    left: 810px;
    top: 0;
  }

  .item-7
  {
    .b-puzzle-item-big;
    left: 10px;
    top: 320px;
  }

  .item-8
  {
    .b-puzzle-item-big;
    left: 330px;
    top: 320px;
  }

  .item-9
  {
    .b-puzzle-item-big;
    left: 650px;
    top: 160px;
  }

  .item-10
  {
    .b-puzzle-item-small;
    left: 650px;
    top: 480px;
  }

  .item-11
  {
    .b-puzzle-item-small;
    left: 810px;
    top: 480px;
  }
}

@media (min-width: 870px) and (max-width: 1000px) {

  .b-puzzle
  {

    .item-6
    {
      left: 650px;
      top: 160px;
    }

    .item-9
    {
      display: none;
    }

    .item-11
    {
      left: 650px;
      top: 320px;
    }

  }

}

@media (min-width: 768px) and (max-width: 870px) {

  .b-puzzle
  {

    &__container
    {
      height: 700px;
    }

    .item-2
    {
      left: 190px;
    }

    .item-3
    {
      width: 340px;
      height: 160px;
      top: 180px;
      p
      {
        .ff-helvetica-light;
        font-size: 25px;
        line-height: 30px;
        color: @base-color-6;
        margin: 34px 25px 0 40px;
      }
    }

    .item-4
    {
      left: 370px;
    }

    .item-5
    {
      left: 550px;
      top: 540px;
    }

    .item-6
    {
      left: 550px;
      top: 360px;
    }

    .item-7,
    .item-8
    {
      display: none;
    }

    .item-9
    {
      left: 10px;
      top: 360px;
    }

    .item-10
    {
      left: 370px;
      top: 360px;
    }

    .item-11
    {
      left: 370px;
      top: 540px;
    }

  }

}

@media (max-width: 767px)
{

  .b-puzzle
  {

    &__container
    {
      height: 445px;
    }
    .item
    {
      .b-puzzle-item-small;
      &.item-3
      {
        width: 285px;
        height: 135px;
        left: 0;
        top: 150px;
      }
    }

    .item-1
    {
      left: 0px;
      top: 0;
    }

    .item-2
    {
      left: 150px;
      top: 0;
    }
    
    .item-3
    {
      p
      {
        margin: 22px 21px 0 21px;
      }
    }

    .item-4
    {
      top: 0;
      left: 300px;
    }

    .item-5
    {
      left: 300px;
      top: 150px;
    }

    .item-6
    {
      left: 0;
      top: 300px;
    }

    .item-7
    {
      left: 150px;
      top: 300px;
    }

    .item-8
    {
      left: 300px;
      top: 300px;
    }

    .item-9
    {
      left: 450px;
      top: 0;
    }

    .item-10
    {
      left: 450px;
      top: 150px;
    }

    .item-11
    {
      left: 450px;
      top: 300px;
    }
  }

}

/* ====================================
   b-history
   ==================================== */

.b-history
{
  background: @base-bg-color-7;
  padding-bottom: 54px;
  &__container
  {
    .container;
  }
  &__title
  {
    color: @base-color-1;
    .border-box;
    padding: 53px 0 0 320px;
    margin: 0 10px;
  }
  &__photo
  {
    display: inline-block;
    margin: 0 6px 0 10px;
    vertical-align: top;
    width: 220px;
    padding: 27px 0 0 0;
  }
  &__photo_item
  {
    margin-top: 30px;
    &:first-child
    {
      margin-top: 0;
    }
    img
    {
      vertical-align: top;
    }
  }
  &__content
  {
    display: inline-block;
    vertical-align: top;
    padding: 25px 10px 0 90px;
    .border-box;
    width: calc(~'100%' - 250px);
    p
    {
      margin-top: 20px;
      &:first-child
      {
        margin-top: 0;
      }
    }
    a
    {
      .link;
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {

  .b-history
  {
    &__title
    {
      padding-left: 270px;
    }
    &__content
    {
      padding-left: 40px;
    }
  }

}

@media (max-width: 767px) {

  .b-history
  {
    &__title
    {
      padding: 53px 0 0 0;
      margin: 0;
    }

    &__photo
    {
      width: 100%;
      display: block;
      margin: 0;
    }
    &__photo_item
    {
      display: inline-block;
      vertical-align: top;
      margin: 0 0px 0 10px;
      width: 205px;
      &:first-child
      {
        margin-left: 0;
      }
      img
      {
        width: 100%;
      }
    }
    &__content
    {
      display: block;
      padding: 26px 0 0 0;
      width: 100%;
    }
  }

}

/* ====================================
   b-map-contacts
   ==================================== */

.b-map-contacts
{
  height: 500px;
  position: relative;
  .map-holder
  {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
  }
  .map-bubble
  {
    .border-radius(5px);
    background: @base-bg-color-3;
    width: 240px;
    position: absolute;
    right: 33px;
    top: 30px;
    .box-shadow(0,0,10px,0.23);
    z-index: 200;
    padding: 16px 0 0 0;
  }
  .list
  {
    .ff-helvetica-reg;
    font-size: 16px;
    list-style: none;
    display: inline-block;
    margin: 0 0 18px 0;
    padding: 0 20px 0 11px;
    line-height: 24px;
    .list__item
    {
      display: inline-block;
      padding: 0 9px;
      margin: 0 -4px 0 0;
    }
    .list__link
    {
      .no-select;
      .no-ios;
      cursor: pointer;
      display: block;
      .link;
      .link-dotted(-6px);
    }
    .list__item--active
    {
      .border-radius(5px);
      background: @base-bg-color-2;
      .list__link
      {
        color: @link-active;
        cursor: default;
        &:after
        {
          display: none;
        }
      }
    }
  }
  .text
  {
    display: none;
  }
  p
  {
    font-size: 13px;
    line-height: 19px;
    padding: 0 20px;
    margin: 0 0 18px 0;
  }
  strong
  {
    .ff-helvetica-light;
    font-size: 25px;
    line-height: 1;
    display: block;
    margin: 0 0 4px 0;
  }
  .address
  {
    margin: 0 0 14px 0;
  }
  .work-time
  {
    border-top: 1px solid #ececec;
    padding: 17px 20px 14px;
    margin: -4px 0 0;
  }
}

@media (max-width: 767px) {

  .b-map-contacts
  {
    height: 700px;

    .map-bubble
    {
      width: calc(~"100%" - 40px);
      left: 20px;
      right: auto;
      top: auto;
      bottom: 30px;
      min-width: 435px;
    }

    .work-time
    {
      white-space: nowrap;
    }

  }

}