/*@font-face {
  font-family: 'helveticaneuecyrlight';
  src: url('../fonts/helvetica-light/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helvetica-light/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-light/helveticaneuecyr-light-webfont.woff') format('woff'),
  url('../fonts/helvetica-light/helveticaneuecyr-light-webfont.ttf') format('truetype'),
  url('../fonts/helvetica-light/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Hoboto W10 45 Light';
  src: url('../fonts/font-light/Hoboto45Light.eot');
  src: url('../fonts/font-light/Hoboto45Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-light/Hoboto45Light.woff') format('woff'),
  url('../fonts/font-light/Hoboto45Light.ttf') format('truetype'),
  url('../fonts/font-light/Hoboto45Light.svg#Hoboto45Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url('../fonts/helvetica-reg/helveticaneuecyr-roman-webfont.eot');
  src: url('../fonts/helvetica-reg/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-reg/helveticaneuecyr-roman-webfont.woff') format('woff'),
  url('../fonts/helvetica-reg/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
  url('../fonts/helvetica-reg/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Hoboto W10 55 Roman';
  src: url('../fonts/font-reg/Hoboto55Roman.eot');
  src: url('../fonts/font-reg/Hoboto55Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-reg/Hoboto55Roman.woff') format('woff'),
  url('../fonts/font-reg/Hoboto55Roman.ttf') format('truetype'),
  url('../fonts/font-reg/Hoboto55Roman.svg#Hoboto55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'helveticaneuecyrmedium';
  src: url('../fonts/helvetica-medium/helveticaneuecyr-medium-webfont.eot');
  src: url('../fonts/helvetica-medium/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-medium/helveticaneuecyr-medium-webfont.woff') format('woff'),
  url('../fonts/helvetica-medium/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
  url('../fonts/helvetica-medium/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: 'Hoboto W10 65 Medium';
  src: url('../fonts/font-medium/Hoboto65Medium.eot');
  src: url('../fonts/font-medium/Hoboto65Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-medium/Hoboto65Medium.woff') format('woff'),
  url('../fonts/font-medium/Hoboto65Medium.ttf') format('truetype'),
  url('../fonts/font-medium/Hoboto65Medium.svg#Hoboto65Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url('../fonts/helvetica-bold/helveticaneuecyr-bold-webfont.eot');
  src: url('../fonts/helvetica-bold/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-bold/helveticaneuecyr-bold-webfont.woff') format('woff'),
  url('../fonts/helvetica-bold/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
  url('../fonts/helvetica-bold/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
  font-weight: normal;
  font-style: normal;
}*/

@font-face{
  font-family: 'Hoboto W10 75 Bold';
  src: url('../fonts/font-bold/Hoboto75Bold.eot');
  src: url('../fonts/font-bold/Hoboto75Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/font-bold/Hoboto75Bold.woff') format('woff'),
  url('../fonts/font-bold/Hoboto75Bold.ttf') format('truetype'),
  url('../fonts/font-bold/Hoboto75Bold.svg#Hoboto75Bold') format('svg');
}


@font-face{
  font-family: 'WebSymbolsLigaRegular';
  src: url('../fonts/websymbols/websymbolsligaregular.eot');
  src: url('../fonts/websymbols/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/websymbols/websymbolsligaregular.woff') format('woff'),
  url('../fonts/websymbols/websymbolsligaregular.ttf') format('truetype'),
  url('../fonts/websymbols/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
}

.ff-helvetica-light
{
  //font-family: 'helveticaneuecyrlight';
  font-family: 'Hoboto W10 45 Light';
  font-weight: normal;
}

.ff-helvetica-reg
{
  //font-family: 'helveticaneuecyrroman';
  font-family: 'Hoboto W10 55 Roman';
  font-weight: normal;
}

.ff-helvetica-medium
{
  //font-family: 'helveticaneuecyrmedium';
  font-family: 'Hoboto W10 65 Medium';
  font-weight: normal;
}

.ff-helvetica-bold
{
  //font-family: 'helveticaneuecyrbold';
  font-family: 'Hoboto W10 75 Bold';
  font-weight: normal;
}

.ff-symbols
{
  font-family: 'WebSymbolsLigaRegular';
}
