﻿{% for p in projects  %}
	<div class="b-sites__item" href="#">
		<a href="/dev/{{ p.id }}" class="item__container">

			<article class="item__content">
				<h3 class="item__title">
					{{ p.name }}, {{ p.short_desc }}
				</h3>
				<p>
					Создание минималистичного и стильного сайта для салона элитной мебели.
					{{ p.projectparams.desc.value }}
				</p>
				<p>
					<i class="btn">Подробнее</i>
				</p>
			</article>

			<div class="item__tmb-holder">
				{% if p.projectparams.printscreen.img %}
				<img  class="item__tmb" src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/uploads/img/'~p.projectparams.printscreen.img, 460, 260) | raw }}" alt=""/>
				{% endif %}
			</div>

		</a><!-- /.item__container -->
	</div><!-- /.b-sites__item -->
{% endfor %}