﻿{% set cut_review = r.review_text|split('.', 3) %}
<div class="item col">
	<p class="item__text">

		{% if cut_review[0]|length > 50 %}
			{{ cut_review[0] }}{% if cut_review[1] %}<a class="item__link" href="#">Читать полностью</a><span class='hide_review'>. {{ cut_review[1] }}</span>{% if cut_review[2] %}<span class='hide_review'>. {{ cut_review[2] }}</span>{% endif %}{% endif %}
		{% else %}
			{{ cut_review[0] }}{% if cut_review[1] %}. {{ cut_review[1] }}{% endif %}{% if cut_review[2] %}<a class="item__link" href="#">Читать полностью</a><span class='hide_review'>. {{ cut_review[2] }}</span>{% endif %}{% endif %}
	</p>
	
	<h3 class="item__title">
		{{ r.reviewer }}
		<span>{{ r.rank }} {{ r.projects.name }}</span>
	</h3>
</div>