<div class="b-slider-promo" dara-slider-opacity="true">

	<div class="b-slider-promo__holder" data-items-holder="true">
	
		{% for p in projects %}
			{% include '@app/views/sections/index/slider_item.twig' %}
		{% endfor %}

	</div><!-- /.b-slider-promo__holder -->

	<div class="b-slider-promo__nav">
		<ul class="nav" data-nav="true">

		</ul>
	</div>

</div><!-- /.b-slider-promo -->