﻿<div class="b-slider-promo__item" data-item="true">
	<div class="b-slider-promo__img">
		{% if p.slider.img %}
			{{ EasyThumbnailImage.thumbnailImg('@webroot/uploads/img/'~p.slider.img, 530, 480, 'inset') | raw }}
		{% endif %}
	</div>
	<div class="b-slider-promo__case">
		<h2>
			Мы продвигаем <br/>
			<span>{{decl.cyrillic(p.url)}}</span>
		</h2>
		<article>
			<h3>
				<span>
					{{ p.short_desc|raw }}
				</span>
			</h3>
			<p>{{ p.description|raw }}</p>
		</article>
	</div>
	{% if p.slider is not empty %}
		{% set maxheight = max(p.slider.val_1, p.slider.val_2, p.slider.val_3, p.slider.val_4, p.slider.val_5) %}
		{% if maxheight > 0 %}
		<div class="b-slider-promo__graph">
			<div class="graph__col item-1" style="height:{%if p.slider.val_1/maxheight*270 >40%}{{p.slider.val_1/maxheight*270}}{%else%}40{%endif%}px;">
				<div class="graph__time">
					{{ p.slider.period_1|reverse[5:]|reverse }}
					<span>{{ p.slider.period_1|reverse[:4]|reverse }}</span>
				</div>
				<div class="graph__val">
					{{ p.slider.val_1|number_format(0, '.', ' ') }}
				</div>
			</div>
			<div class="graph__col item-1" style="height:{%if p.slider.val_2/maxheight*270 >40%}{{p.slider.val_2/maxheight*270}}{%else%}40{%endif%}px;">
				<div class="graph__time">
					{{ p.slider.period_2|reverse[5:]|reverse }}
					<span>{{ p.slider.period_2|reverse[:4]|reverse }}</span>
				</div>
				<div class="graph__val">
					{{ p.slider.val_2|number_format(0, '.', ' ') }}
				</div>
			</div>
			<div class="graph__col item-1" style="height:{%if p.slider.val_3/maxheight*270 >40%}{{p.slider.val_3/maxheight*270}}{%else%}40{%endif%}px;">
				<div class="graph__time">
					{{ p.slider.period_3|reverse[5:]|reverse }}
					<span>{{ p.slider.period_3|reverse[:4]|reverse }}</span>
				</div>
				<div class="graph__val">
					{{ p.slider.val_3|number_format(0, '.', ' ') }}
				</div>
			</div>
			<div class="graph__col item-1" style="height:{%if p.slider.val_4/maxheight*270 >40%}{{p.slider.val_4/maxheight*270}}{%else%}40{%endif%}px;">
				<div class="graph__time">
					{{ p.slider.period_4|reverse[5:]|reverse }}
					<span>{{ p.slider.period_4|reverse[:4]|reverse }}</span>
				</div>
				<div class="graph__val">
					{{ p.slider.val_4|number_format(0, '.', ' ') }}
				</div>
			</div>
			<div class="graph__col item-1" style="height:{%if p.slider.val_5/maxheight*270 >40%}{{p.slider.val_5/maxheight*270}}{%else%}40{%endif%}px;">
				<div class="graph__time">
					{{ p.slider.period_5|reverse[5:]|reverse }}
					<span>{{ p.slider.period_5|reverse[:4]|reverse }}</span>
				</div>
				<div class="graph__val">
					{{ p.slider.val_5|number_format(0, '.', ' ') }}
					<span>
						посетителей <br/>в месяц
					</span>
				</div>
			</div>
		</div><!-- /.b-slider-promo__graph -->
		{% endif %}
	{% endif %}
	<div class="b-slider-promo__statistics">
		{% if p.slider.note_top is not empty %}
		<div class="item">
			{{ p.slider.note_top|raw }}
		</div>
		{% endif %}
		{% if p.slider.note_bottom is not empty %}
		<div class="item">
			{{ p.slider.note_bottom|raw }}
		</div>
		{#
		<span>более</span> <strong>{{ p.slider.note_bottom|number_format(0, '.', ' ') }}</strong> {{ decl.visit(p.slider.note_bottom) }}<br/> в месяц
		#}
		{% endif %}
	</div>
</div><!-- /.b-slider-promo__item -->