<div class="b-work-scheme">

	<article class="col-1">
		<h2 class="title">
			{{ s.name|raw }}
		</h2>
			{{ s.description|raw }}
	</article>

	<article class="col-2">
		{{ s.content|raw }}
	</article>

</div><!-- /.b-work-scheme -->