html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.inline {
	width: auto;
	display: inline-block;
	margin-right: 15px;
}

.adaptive p {
  font-weight: bold;
  margin-bottom: 20px;
}

.adaptive-inputs {
  display: flex;
}

.adaptive-inputs .form-group {
  margin-right: 15px;
}

.projectparam {
  margin-top: 20px;
}

.devsections {

}

.devsections ul {
  list-style: none;
  padding: 0;
}

.devsections ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  cursor: move;
}

.devsections ul li .id {

  width: 5%;
  text-align: center;
}

.devsections ul li .name{
  width: 20%;
  margin-right: 20px;
}

.devsections ul li .tpl {
  width: 20%;
}

.devsections ul li .update{
  margin-left: auto;
  margin-right: 15px;
}

.devsections ul li .update a{
  height: 30px;
  line-height: normal;
}

.devsections ul li .delete{
  line-height: normal;
  margin-right: 10px;
  height: 30px;
}

.devsections ul.title {
  margin: 0;
}

.devsections ul.title li {
  margin: 0;
  cursor: default;
}

.create {
  margin-bottom: 10px;
}

.nav-params li {
  margin-right: 10px;
}

.main-first {
  display: flex;
  margin: 0 -15px;
}

.main-first .form-group{
  width: calc(33.333333% - 30px);
  box-sizing: border-box;
  margin: 0 15px;
}

.list-first {
  display: flex;
  margin: 0 -15px;
}

.list-first .form-group{
  width: calc(50% - 30px);
  box-sizing: border-box;
  margin: 0 15px;
}

.list-params {
  display: flex;
  margin: 0 -15px;
  margin-top: 15px;
}

.list-params .list-param {
  width: calc(33.333333% - 30px);
  box-sizing: border-box;
  margin: 0 15px;
}
.kv-file-content img {
	width: 100%;
}