﻿<header class="b-sites__header">

	<div class="b-cms">

		<h2 class="b-cms__title">
			{{ s.name }}
		</h2>

		<ul class="b-cms__list">
			<li><i class="icon-yii"></i></li>
			<li><i class="icon-opencart"></i></li>
			<li><i class="icon-bitrix"></i></li>
			<li><i class="icon-modx"></i></li>
		</ul>

		<p class="b-cms__text">
			Для большинства задач оптимальной CMS для сайта является ModX, в некоторых случаях больше подходят 1С-Битрикс, OpenCart или фрэймворк Yii. У нас есть большой опыт работы с этими программными продуктами.
		</p>

	</div>

	<div class="b-budget">
		<h3 class="b-budget__title">от  <span>80 000</span>  руб.</h3>
		<p>
			Стоимость разработки сайта в зависимости от задачи может очень сильно варьироваться,
			но&nbsp;большинство типичных сайтов стоит в пределах от 80 до 300 т.р.
		</p>
	</div>
	<h2 class="b-sites__title">
		Посмотрите наши работы
		<span>
			Сайты, которые мы разработали и продвинули
		</span>
	</h2>

</header><!-- /.b-porfolio__header -->
