<div class="project_types">
	<ul id="filters" class="button-group">
		<li class="is-checked" data-filter="*">Все сайты</li>
		{% for t in types %}
		<li data-filter=".id-{{t.id}}">{{ t.name }}</li>
		{% endfor %}
	</ul>
	<div class="select_wrap">
		<select id="filters_mobile" name="filter_mobile" class="select-group">
			<option value="" selected disabled>Фильтр показа</option>
			<option class="is-checked" data-filter="*">Все сайты</option>
			{% for t in types %}
			<option data-filter=".id-{{t.id}}">{{ t.name }}</option>
			{% endfor %}
		</select>
	</div>
</div>
<div class="isotope b-sites__wrap">
	{% for p in params  %}
		<div class="element-item b-sites__item id-{{p.project_type_id}} elem-{{p.id}}" style="background-color:{{ p.bg_color }}">
			<div class="item__ratio"></div>
			<div class="item__content">
				<div class="item__content__logo">
					{% if p.logo %}
					<img  class="item__tmb" src="{{ '/uploads/img/'~p.logo }}" alt=""/>
					{% endif %}
				</div>
				<div class="item__bg_image">
					{% if p.bg_image %}
					<img  class="item__tmb" src="{{ '/uploads/img/'~p.bg_image }}" alt=""/>
					{% endif %}
				</div>
				<div class="item__teaser {% if p.teaser_white != 0 %}{{ 'white' }}{% else %}{{ 'black' }}{% endif %}{% if p.teaser_sub != 0 %} {{ 'white_sub' }}{% endif %}">
					<span>{{ p.teaser | raw}}</span>
				</div>
				<div class="item__hover">
					<a target="_blank" href="/dev/{{ p.id }}/">Посмотреть кейс</a>
					{% if p.release is not empty %}
						<p>Дата релиза: <span>{% if p.id == 34 %}работа была принята, но не ушла в релиз в связи со сменой принимающего лица.{% else %}{{ decl.month(p.release) }}{% endif %}</span></p>
					{% endif %}
				</div>

			</div>
		</div>
	{% endfor %}
</div>
