<?php

use yii\helpers\Html;
use yii\grid\GridView;

{{ use('yii\grid\GridView') }}

/* @var $this yii\web\View */
/* @var $dataProvider yii\data\ActiveDataProvider */
{{ set(this, 'title', 'Projects2') }}
$this->title = 'Projects';
$this->params['breadcrumbs'][] = $this->title;
?>
<div class="project-index">
{{ dataProvider.url }}

    <h1><?= Html::encode($this->title) ?></h1>

    <p>
        <?= Html::a('Create Project', ['create'], ['class' => 'btn btn-success']) ?>
    </p>


    <?= GridView::widget([
        'dataProvider' => $dataProvider,
        'columns' => [
            ['class' => 'yii\grid\SerialColumn'],

            'id',
            'title',
            'url:url',
            'description',
            'region',
            // 'startdate',
            // 'active',

            ['class' => 'yii\grid\ActionColumn'],
        ],
    ]); ?>
	
	{{ GridView.widget({'dataProvider' : dataProvider, 'columns' : ['id', 'title', 'url:url', 'description', 'region']}) | raw }}
	{{ html.img('assets/img/tmp/girl.png') | raw}}
</div>
