<div class="b-seo-test" data-test="true">

	<p class="b-seo-test__title">Ответьте на несколько коротких вопросов, чтобы узнать с какой эффективностью можно продвинуться.</p>

	<div class="b-test">

		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 1:
			</div>
			<div class="b-test__question">
				У вас уже есть позиции в ТОП20 по основным запросам?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="2">Да <span>+2</span></a>
				<a class="b-test__btn" data-btn="-1">Нет <span>-1</span></a>
			</div>
		</div>
		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 2:
			</div>
			<div class="b-test__question">
				При этом сайт активно продвигался последние 2 года?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="-1">Да <span>-1</span></a>
				<a class="b-test__btn" data-btn="1">Нет <span>+1</span></a>
			</div>
		</div>
		
		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 3:
			</div>
			<div class="b-test__question">
				По тем запросам, которые вы хотите продвигать, половина или больше занято порталами?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="-3">Да <span>-3</span></a>
				<a class="b-test__btn" data-btn="1">Нет <span>+1</span></a>
			</div>
		</div>
		
		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 4:
			</div>
			<div class="b-test__question">
				Входит ли ваша компания в 20-ку наиболее успешных по вашему региону&nbsp;(в&nbsp;вашей сфере деятельности)?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="1">Да <span>+1</span></a>
				<a class="b-test__btn" data-btn="-2">Нет <span>-2</span></a>
			</div>
		</div>
		
		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 5:
			</div>
			<div class="b-test__question">
				А в 10 наиболее успешных?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="2">Да <span>+2</span></a>
				<a class="b-test__btn" data-btn="0">Нет <span>0</span></a>
			</div>
		</div>
		
		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 6:
			</div>
			<div class="b-test__question">
				Ваши товары или услуги стоят значительно дороже, чем у большинства компаний вашей сферы деятельности?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="-2">Да <span>-2</span></a>
				<a class="b-test__btn" data-btn="1">Нет <span>+1</span></a>
			</div>
		</div>
		


		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 7:
			</div>
			<div class="b-test__question">
				Вы готовы к тому, что ваш сайт будет значительно доработан с целью увеличения конверсии и поведенческих факторов?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="2">Да <span>+2</span></a>
				<a class="b-test__btn" data-btn="-2">Нет <span>-2</span></a>
			</div>
		</div>
		
		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 8:
			</div>
			<div class="b-test__question">
				Вас устроит значительный рост трафика и конверсии без топ10 по 1-2 основным запросам?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="1">Да <span>+1</span></a>
				<a class="b-test__btn" data-btn="-1">Нет <span>-1</span></a>
			</div>
		</div>
		
		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 9:
			</div>
			<div class="b-test__question">
				Сайт нужно продвигать по нескольким регионам России?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="1">Да <span>+1</span></a>
				<a class="b-test__btn" data-btn="0">Нет <span>0</span></a>
			</div>
		</div>

		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				Вопрос 10:
			</div>
			<div class="b-test__question">
				Сайт нужно продвигать по Москве?
			</div>
			<div class="b-test__answer">
				<a class="b-test__btn" data-btn="-1">Да <span>-1</span></a>
				<a class="b-test__btn" data-btn="1">Нет <span>+1</span></a>
			</div>
		</div>

		<div class="b-test__content" data-step="true">
			<div class="b-test__step">
				<span>Результат теста:</span>
			</div>
			<div class="b-test__question" data-test-result='2'>
				Задача продвижения вашего сайта вполне выполнима. Мы готовы взяться за нее. <a href='#' class="link_to_form">Заполните, пожалуйста, заявку</a>
			</div>
			<div class="b-test__question" data-test-result='5'>
				Странно, что вы до сих пор не в топе, мы это легко исправим. <a href='#' class="link_to_form">Заполните, пожалуйста, заявку</a>
			</div>
			<div class="b-test__question" data-test-result='0'>
				Мы можем взяться за сайт, но сроки получения результатов будут от 6 до 12 месяцев и потребуется очень много усилий на доработку сайта.
			</div>
			<div class="b-test__question" data-test-result='-2'>
				Продвижение сайта возможно только при значительной доработке сайта. Это можем сделать мы или другие специалисты на ваше усмотрение.
			</div>
			<div class="b-test__question" data-test-result='-5'>
				Похоже, продвижение вашего сайта невозможно. Но мы всегда сможем сделать вам отличную <a href='/context/'>контекстную рекламу</a>
			</div>
		</div>

		<div data-sum="true" class="b-test__smile b-test__smile--p0"><span>0</span></div>

	</div>

	<div class="b-test__results" data-results="true">
		<table>
			<tr>
				<th colspan="2">Вопросы</th>
				<th>Ваш ответ</th>
				<th>Баллы</th>
			</tr>
			<tr>
				<td class="table__col-1">1.</td>
				<td class="table__col-2">У вас уже есть позиции в ТОП20 по основным запросам?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">2.</td>
				<td class="table__col-2">При этом сайт активно продвигался последние 2 года?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">3.</td>
				<td class="table__col-2">По тем запросам, которые вы хотите продвигать, половина или больше занято порталами?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">4.</td>
				<td class="table__col-2">Входит ли ваша компания в 20-ку наиболее успешных по вашему региону (в вашей сфере деятельности)?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">5.</td>
				<td class="table__col-2">А в 10 наиболее успешных?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">6.</td>
				<td class="table__col-2">Ваши товары или услуги стоят значительно дороже, чем у большинства компаний вашей сферы деятельности?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">7.</td>
				<td class="table__col-2">Вы готовы к тому, что ваш сайт будет значительно доработан с целью увеличения конверсии и поведенческих факторов?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">8.</td>
				<td class="table__col-2">Вас устроит значительный рост трафика и конверсии без топ10 по 1-2 основным запросам?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">9.</td>
				<td class="table__col-2">Сайт нужно продвигать по нескольким регионам России?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
			<tr>
				<td class="table__col-1">10.</td>
				<td class="table__col-2">Сайт нужно продвигать по Москве?</td>
				<td class="table__col-3"></td>
				<td class="table__col-4"></td>
			</tr>
		</table>
	</div>

	<div class="b-seo-test__content">

		<article>
			<h3>Мы стараемся быть честными</h3>
			<p>
				и берем в работу только те сайты, <br/>
				по которым рассчитываем добиться приемлемых результатов. Мы отказываем более чем 80% потенциальным клиентам.
			</p>
		</article>

		<article>
			<p>
				Многие СЕО-компании берут любых клиентов и обещают те результаты, которые клиент хочет получить. Но в ТОПе всего 10 мест, часть из которых навеки заняты порталами, википедией и тп.
			</p>
			<p>
				И потому обещание продвинуть любой сайт за полгода, типичное для некоторых СЕО-компаний — это ложь.
			</p>
		</article>

	</div>

</div>