<div class="b-map">

	<div class="b-map__content">
		<p>
			При работе с клиентами мы стараемся выстроить с ними долгосрочные отношения. Это взаимовыгодно.
		</p>
		<p class="text--big">
			<strong><span>77%</span> клиентов</strong>
			работают с нами
			больше года
		</p>
	</div>

	<div class="b-map__facts">
		<p>
			<span>21</span>
			город
		</p>
		<p>
			<span>468</span>
			клиентов
		</p>
		<p>
			<span>7</span>
			лет
		</p>
	</div>

</div><!-- /.b-map -->