<div class="beforeafter">
	
		{%if ds.gallerys.0.path is not empty %}
		<img class='ba-img' src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~ds.gallerys.0.path, 978, 2000, 'inset') | raw }}" alt="Макет элемента сайта {{decl.cyrillic(thisProject.url)}}"/>
		{% endif %}
	
		{%if ds.gallerys.0.path is not empty %}
		<img class='ba-img' src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~ds.gallerys.1.path, 978, 2000, 'inset') | raw }}" alt="Дизайн элемента сайта {{decl.cyrillic(thisProject.url)}}"/>
		{% endif %}
	
</div>