<div class="easy_swiper">
	<div class="easy_swiper-container">
		<div class="swiper-wrapper">
			{%for gallery in ds.gallerys%}
			<div class="swiper-slide">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~gallery.path, 869, 30000, 'inset') | raw }}" alt="{{gallery.title}}"/>
			</div>
			{%endfor%}
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>