<div class="laptop_gallery">
	<div class="laptop">
		<div class="gamma-container gamma-loading" id="gamma-container">
			<ul class="gamma-gallery">	
				{%for gallery in ds.gallerys%}
				<li>
					<div data-description="<p>Увеличить</p>" data-max-width="620" data-max-height="410">
						<div data-src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~gallery.path, 620, 410, 'inset') | raw }}" data-min-width="100"></div>
						<div data-src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~gallery.path, 150, 4100, 'inset') | raw }}" data-min-width="100"></div>
						<noscript>
							<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~gallery.path, 150, 4100, 'inset') | raw }}" alt=""/>
						</noscript>
					</div>
				</li>
				{%endfor%}
			</ul>
			<div class="gamma-overlay"></div>
		</div>
	</div>
</div> 