<div class="monitor_phone" data-tabs>
	<div data-tabs-contents>
		<div class="monitor_phone-m">
			<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~ds.gallerys.0.path, 869, 30000, 'inset') | raw }}" alt="{{gallery.title}}"/>
		</div>
		<div class="monitor_phone-p">
			<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~ds.gallerys.1.path, 869, 30000, 'inset') | raw }}" alt="{{gallery.title}}"/>
		</div>
	</div>
	<div class="monitor_phone-buttons" data-tabs-buttons>
		<div class="monitor_phone-button m"></div>
		<div class="monitor_phone-button p"></div>
	</div> 
</div>