<section>
	<div class="scroll_switch_wrap">
		<div class="scroll_switch">
			<div class="scroll_switch_item-1 _sel">{{ds.gallerys.0.title}}</div>
			<div class="scroll_switch_item-2">{{ds.gallerys.1.title}}</div>
		</div>
	</div>

	<div class="scroll_slider">
		<div class="scrollpanel_wpar">
			<div class="scrollpanel slide-1">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~ds.gallerys.0.path, 820, 30000, 'inset') | raw }}" alt="Прототип сайта {{decl.cyrillic(thisProject.url)}}"/>
			</div>	
		</div>
		<div class="slide-2">
			<div class="hide_slide-2">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~ds.gallerys.1.path, 820, 30000, 'inset') | raw }}" alt="Дизайн сайта {{decl.cyrillic(thisProject.url)}}"/>
			</div>
		</div>
	</div>
</section>