<div class="swiper_monitor_wrap">
	<div class="swiper_names">
		<div class="third prev swiper-button-prev"></div>
		<div class="third current"></div>
		<div class="third next swiper-button-next"></div>
	</div>
	<div class="swiper_monitor">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{%for gallery in ds.gallerys%}
				<div class="swiper-slide">
					<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~gallery.path, 869, 30000, 'inset') | raw }}" alt="{{gallery.title}}"/>
				</div>
				{%endfor%}
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
</div>
