<div class="swiper_mobile_examples">
	<div class="swiper-wrapper">
		{%for gallery in ds.gallerys%}
			<div class="swiper-slide">
				<img src="{{ EasyThumbnailImage.thumbnailFileUrl('@webroot/'~gallery.path, 290, 30000, 'inset') | raw }}" alt="">
			</div>
		{%endfor%}
	</div>
	<div class="swiper-pagination"></div>
</div>