<div class="b-content">
	{% set url = Url.to('@web')|split('?').0 %}
	{% for s in sec  %}
		{% if s.tpl == "only_image.twig" %}
            {% include '@app/views/sections/'~s.tpl %}
        {% else %}
            {% include '@app/views/sections'~url~'/'~s.tpl %}
        {% endif %}
	{% endfor %}

	{% include '@app/views/sections/form.twig' %}

</div><!-- /.b-content -->