<div class="b-content">
	{% set url = Url.to('@web')|split('?').0 %}
	{% for s in sec  %}
        {% include '@app/views/sections/'~s.tpl %}
	{% endfor %}

	{% include '@app/views/sections/form.twig' %}

</div><!-- /.b-content -->