<div class="b-content">
	{% if thisProject.projectparams.0.task is not empty %}
		<div class="devsec">
			<div class="block_description">
				<div class="center">
					<h2 class="p_task">Задача</h2>
				</div>
				<p>{{thisProject.projectparams.0.task|raw}}</p>
			</div>
		</div>
	{% endif %}
	{% for ds in thisProject.devsections %}
		<div class="devsec {% if ds.gray_bg == 1 %}gray{% endif %}">
			{% if ds.label is not empty %}<p class="block_label">{{ ds.label }}</p>{% endif %}
			{% if ds.description is not empty %}<div class="block_description">{{ ds.description|raw }}</div>{% endif %}
			{% include '@app/views/devsections/'~ds.tpl %}
			{% if ds.content is not empty %}<div class="block_description">{{ ds.content|raw }}</div>{% endif %}
		</div>
	{% endfor %}
	
	<div class="devsec">
		<div class="container center">
			{% if thisProject.projectparams.0.after_dev is not empty %}
				{{thisProject.projectparams.0.after_dev|raw }}
			{% endif %}
		</div>
	</div>
	<footer class="b-case__footer">
		<ul class="b-share">
			<li class="b-share__item"><a class="b-share__link icon-fb" href="#">поделиться</a></li>
			<li class="b-share__item"><a class="b-share__link icon-tw" href="#">твитнуть</a></li>
			<li class="b-share__item"><a class="b-share__link icon-vk" href="#">поделиться</a></li>
		</ul>
		<div class="b-case__prev">
			<a href="/dev/{{ prevProject.id }}/" class="btn">Назад</a>
			<p class="title">{{ prevProject.url }}, {{ prevProject.short_desc }}</p>
		</div>
		<div class="b-case__next">
			<a href="/dev/{{ nextProject.id }}/" class="btn">Дальше</a>
			<p class="title">{{ nextProject.url }}, {{ nextProject.short_desc }}</p>
		</div>
	</footer>
	
	
	{% include '@app/views/sections/form.twig' %}
	
</div><!-- /.b-content -->