<div class="b-content">
	{% for s in sec  %}
		{% if s.tpl == "only_image.twig" %}
            {% include '@app/views/sections/'~s.tpl %}
        {% else %}
            {% include '@app/views/sections/index/'~s.tpl %}
        {% endif %}
	{% endfor %}

	{% include '@app/views/sections/form.twig' %}
</div><!-- /.b-content -->