﻿	   <div class="b-header__title-holder">

            <div class="b-header__title-wrapper">
                <div class="b-header__title b-header__title--max-width-640">

                    <div class="b-header__title_content">
                        <h1>Продвижение сайта</h1>
                        <p>
                            Мы продвигаем сайты в Яндексе и Google. Возможные варианты оплаты — по&nbsp;позициям, по трафику, по лидам.
                        </p>
                    </div>

                </div>
            </div>

            <ul class="b-header__title_menu">
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Новый алгоритм Яндекса
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Можно ли продвинуть Ваш сайт?
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        Портфолио
                    </a>
                </li>
            </ul>

        </div>


    </header><!-- /.b-header -->

    <div class="b-content">

        <div class="b-seo-main">
			
            <h2 class="b-seo-main__title">
                Этапы продвижения сайта
            </h2><!-- /.b-seo-main__title -->

			{{ ListView.widget({
				'dataProvider' : sections,
				'itemOptions' : {
					'data-key' : false,
					'class' : 'b-seo-step',
					'tag' : false,
				},
				'options' : {
					'tag' : false,
				},
				'itemView' : '//sections/seo/promotion_stages.twig',
				'summary': '',
			}) | raw}}
			
            <section class="b-seo-step">

                <article class="b-seo-step__main">

                    <h3 class="b-seo-step__title">
                        Глубокая переработка сайта
                    </h3>

                    <p>
                        Если ваш сайт не находиться в топе, очень вероятно он уступает конкурентам по наполненности и конверсии. Пока эти недостатки не устранены, невозможно добиться хороших позиций.
                    </p>

                    <p>
                        Мы анализируем конкурентов, которые уже находятся в топе, и делаем так, чтобы ваш сайт представлял услуги или продукцию в более привлекательном виде, чем у конкурентов.
                    </p>

                    <div class="b-seo-step__num">1</div>

                </article>

                <article class="b-seo-step__ext text--small">
                    <p>
                        В редких случаях требуется полностью переделать сайт, но
                        обычно необходимый объем работы значительно меньше.
                    </p>
                    <p class="warning">Переработка сайта оплачивается один раз</p>
                </article>

            </section><!-- /.b-seo-step -->

            <section class="b-seo-step">

                <article class="b-seo-step__main">

                    <h3 class="b-seo-step__title">
                        Достижение и удержание позиций в поиске
                    </h3>

                    <p>
                        ЛА ЛА ЛА Нужен нормальный текст. После того, как работы первичные работы выполнены, вы оплачиваете только фактические результаты.
                    </p>

                    <div class="b-seo-step__num">2</div>

                </article>

                <article class="b-seo-step__ext">
                    <p>
                        Именно такая схема работы предназначена для <a href="#">нового алгоритма Яндекса</a>
                    </p>
                </article>

            </section><!-- /.b-seo-step -->

            <hr>

            <div class="b-seo-payment">		
				<h3 class="b-seo-payment__title">Гибкая система оплаты</h3>
				
				{{ ListView.widget({
					'dataProvider' : sec_pay,
					'itemOptions' : {
						'data-key' : false,
						'class' : 'b-seo-step',
						'tag' : false,
					},
					'options' : {
						'tag' : false,
						'id' : false,
					},
					'itemView' : '//sections/seo/payment.twig',
					'summary': '',
				}) | raw}}

                <h3 class="b-seo-payment__title">Гибкая система оплаты</h3>

                <article class="b-seo-payment__item">
                    <h4 class="item__title">По трафику</h4>
                    <p class="item__text">
                        Оплачивается прирост целевого трафика.
                    </p>
                </article>

                <article class="b-seo-payment__item">
                    <h4 class="item__title">По лидам</h4>
                    <p class="item__text">
                        Оплачиваются полезные действия пользователей на сайте: заявки, заказы, звонки и прочее.
                    </p>
                </article>

                <article class="b-seo-payment__item">
                    <h4 class="item__title">По позициям</h4>
                    <p class="item__text">
                        Оплачиваются только те запросы, которые есть в ТОП10 поисковых систем.
                    </p>
                </article>

            </div><!-- /.b-seo-payment -->

        </div><!-- /.b-seo-main -->

        <div class="b-seo-results">
            <header class="b-seo-results__header">
                <h2 class="b-seo-results__title">
                    Актуальные результаты продвижения в Яндексе
                </h2>

                <div class="b-seo-results__filter">

                    <p class="b-seo-results__filter_text">
                        В городе:
                    </p>
                    
                    <ul class="b-seo-results__filter_list">
                        <li class="list__item list__item--active"><a class="list__link" data-tab="1">Москва</a></li>
                        <li class="list__item"><a class="list__link" data-tab="2">Санкт-Петербург</a></li>
                        <li class="list__item"><a class="list__link" data-tab="3">Казань</a></li>
                        <li class="list__item"><a class="list__link" data-tab="4">Другие регионы</a></li>
                    </ul>

                </div>
            </header><!-- /.b-seo-results__header -->
            <div class="b-seo-results__content">
                <div class="b-seo-slider" data-slider-seo="1">
                    <div class="b-seo-slider__wrapper">
                        <div class="b-seo-slider__items-holder" data-items-holder="true">
                            <a class="b-seo-slider__prev" data-btn-prev="true"></a>
                            <a class="b-seo-slider__next" data-btn-next="true"></a>
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">1dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                        </div><!-- /.b-seo-slider__items-holder -->
                    </div><!-- /.b-seo-slider__wrapper -->
                    <div class="b-seo-slider__nav">
                        <ul class="nav" data-nav="true">
                        </ul>
                    </div>
                </div><!-- /.b-seo-slider -->
                <div class="b-seo-slider" data-slider-seo="2">
                    <div class="b-seo-slider__wrapper">
                        <div class="b-seo-slider__items-holder" data-items-holder="true">
                            <a class="b-seo-slider__prev" data-btn-prev="true"></a>
                            <a class="b-seo-slider__next" data-btn-next="true"></a>
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">2dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                        </div><!-- /.b-seo-slider__items-holder -->
                    </div><!-- /.b-seo-slider__wrapper -->
                    <div class="b-seo-slider__nav">
                        <ul class="nav" data-nav="true">
                        </ul>
                    </div>
                </div><!-- /.b-seo-slider -->
                <div class="b-seo-slider" data-slider-seo="3">
                    <div class="b-seo-slider__wrapper">
                        <div class="b-seo-slider__items-holder" data-items-holder="true">
                            <a class="b-seo-slider__prev" data-btn-prev="true"></a>
                            <a class="b-seo-slider__next" data-btn-next="true"></a>
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">3dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                        </div><!-- /.b-seo-slider__items-holder -->
                    </div><!-- /.b-seo-slider__wrapper -->
                    <div class="b-seo-slider__nav">
                        <ul class="nav" data-nav="true">
                        </ul>
                    </div>
                </div><!-- /.b-seo-slider -->
                <div class="b-seo-slider" data-slider-seo="4">
                    <div class="b-seo-slider__wrapper">
                        <div class="b-seo-slider__items-holder" data-items-holder="true">
                            <a class="b-seo-slider__prev" data-btn-prev="true"></a>
                            <a class="b-seo-slider__next" data-btn-next="true"></a>
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">4dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                            <div class="b-seo-slider__item" data-item="true">
                                <div class="item__col">
                                    <div class="item__header">
                                        <h3 class="item__title">dostavkagruzov.com</h3>
                                        <div class="item__link"><a class="btn-site-link" href="#">Перейти на сайт</a></div>
                                    </div>
                                    <p class="item__text">
                                        CAR-GO! - срочная доставка сборных грузов по России от 1кг. и комплекс сопутствующих услуг.
                                    </p>
                                </div>
                                <div class="item__col">
                                    <table class="seo__table">
                                        <tr>
                                            <th class="table__col-1">Запросы:</th>
                                            <th class="table__col-2">Позиции:</th>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка сборных грузов</td>
                                            <td class="table__col-2">9</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">доставка грузов</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">сборные грузы</td>
                                            <td class="table__col-2">2</td>
                                        </tr>
                                        <tr>
                                            <td class="table__col-1">перевозка сборных грузов</td>
                                            <td class="table__col-2">3</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!-- /.b-seo-slider__item -->
                        </div><!-- /.b-seo-slider__items-holder -->
                    </div><!-- /.b-seo-slider__wrapper -->
                    <div class="b-seo-slider__nav">
                        <ul class="nav" data-nav="true">
                        </ul>
                    </div>
                </div><!-- /.b-seo-slider -->
            </div><!-- /.b-seo-results__content -->
            <footer class="b-seo-results__footer">

                <article class="b-seo-results__footer_main">
                    <p>
                        Это только некоторые из компаний, которые работали с нами.
                        Мы продвигаем сайты уже 7 лет и у нас более 200 клиентов из Москвы и регионов России.
                        Полный список можно увидеть в <a href="#">портфолио</a>.
                    </p>
                </article>

                <article class="b-seo-results__footer_ext">
                    <h3 class="b-seo-results__footer_title">
                        Можно ли продвинуть
                        Ваш сайт?
                    </h3>
                    <p>
                        <a href="#">Узнайте за 3 минуты</a>
                    </p>
                </article>

            </footer>
        </div><!-- /.b-seo-results -->

        <div class="b-feedback">
            <div class="b-feedback__container">

                <header class="b-feedback__header">

                    <h2 class="b-feedback__title">Рекомендации наших клиентов</h2>
                    <p class="b-feedback__header-text">При работе с клиентами мы стараемся выстроить с ними долгосрочные отношения</p>

                </header>

				<div class="b-feedback__clients">
				{{ ListView.widget({
					'dataProvider' : dataProvider,
					'itemOptions' : {'class' : 'item col'},
					'itemView' : '//lists/review_item.twig',
					'summary': '',
				}) | raw}}
				</div><!-- /.b-feedback__clients -->


            </div><!-- /.b-feedback__container -->

            <div class="b-feedback__docs" data-toggle-list="true">
				
				{{ ListView.widget({
					'dataProvider' : dataProvider,
					'itemOptions' : {'class' : 'col'},
					'itemView' : '//lists/imgreview_item.twig',
					'summary': '',
					'options' : {'class' : 'b-feedback__container', 'data-fotorama' : 'true'},
					'showOnEmpty' : false,
				}) | raw}}
				
				<!-- /.b-feedback__docs -->

				<a data-btn-toggle="true" class="b-feedback__btn-show"></a>

            </div><!-- /.b-feedback__docs -->

        </div><!-- /.b-feedback -->
		<div style="background: #cacaca;">
			{% for s in sec  %}
				{% include 'test.twig' %}	


			{% endfor %}
		</div>
        <div class="b-order b-order--short" data-show-form="true">
            <div class="b-order__container">

                <form class="b-order__form" action="#">

                    <h2 class="form__header">
                        <a class="btn-show-form"  data-btn-show="true">Оставьте заявку</a>
                        <span>
                            и мы свяжемся с Вами в течение 24 часов
                        </span>
                    </h2>

                    <div class="form__body">

                        <div class="form__row">

                            <div class="form__field">
                                <label class="form__checkbox" for="checkbox-1">
                                    <input checked="checked" class="checkbox-input" type="checkbox" name="checkbox-1" id="checkbox-1"/>
                                    <span class="checkbox-label">Поисковое продвижение</span>
                                </label>
                            </div>

                            <div class="form__field">
                                <label class="form__checkbox" for="checkbox-2">
                                    <input class="checkbox-input" type="checkbox" name="checkbox-2" id="checkbox-2"/>
                                    <span class="checkbox-label">Повышение конверсии</span>
                                </label>
                            </div>

                            <div class="form__field">
                                <label class="form__checkbox" for="checkbox-3">
                                    <input class="checkbox-input" type="checkbox" name="checkbox-3" id="checkbox-3"/>
                                    <span class="checkbox-label">Медийная реклама</span>
                                </label>
                            </div>

                        </div>

                        <div class="form__row">

                            <div class="col-x6">

                                <div class="form__field">
                                    <input type="text" placeholder="Ваше имя"/>
                                </div>

                                <div class="form__field">
                                    <input type="text" placeholder="Электронная почта"/>
                                </div>

                                <div class="form__field">
                                    <input type="text" placeholder="Телефон"/>
                                </div>

                            </div>

                            <div class="col-x6">

                                <div class="form__field">
                                    <input type="text" placeholder="Адрес сайта"/>
                                </div>

                                <div class="form__field">
                                    <textarea placeholder="Основные товары и услуги"></textarea>
                                </div>

                            </div>

                        </div>

                        <div class="form__submit-holder">
                            <a class="btn-submit" href="#">Отправить <i></i></a>
                        </div>

                    </div>
                </form>

            </div><!-- /.b-order__container -->

            <div class="b-order__phone">
                <span>или позвоните  <strong>8 (800) 543&ndash;53&ndash;41</strong></span> <span>— бесплатно по России</span>
            </div>

        </div><!-- /.b-order -->

    </div><!-- /.b-content -->