<div class="b-content">{% set url = path('')|split('?').0 %}{% for s in sec  %}{% if s.tpl == "only_image.twig" %}{% include '//sections/'~s.tpl %}{% else %}{% include '//sections'~url~'/'~s.tpl %}{% endif %}{% endfor %}{% include '//sections/form.twig' %}</div><!-- /.b-content -->