<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
  	<loc> {{ server }} </loc>

  	<priority>1.0</priority>
  </url>
  {% for page in pages %}
  <url>
    <loc>{{ page }}</loc>
    <priority>0.8</priority>
  </url>
  {% endfor %}
  {% for project in projects %}
  <url>
    <loc>{{ server }}dev/{{ project.id }}/</loc>
    <priority>0.6</priority>
  </url>
  {% endfor %}
  {%if blogs is not empty %}
	{% for blogPost in blogs %}
		<url>
			<loc>{{blogPost}}</loc>
			<priority>0.6</priority>
		</url>
	{% endfor %}
  {% endif %}
</urlset>
